
<extend name="ranking/Public" />

<block name="zhongjian">

<div class="rank-right fr">
    <div class="clearfix rank-title"><p class="fl">收藏总排行榜</p>

        <p class="fr">更新时间：2018-01-04 15:12:10</p></div>
    <div class="clearfix">

        <foreach name="result" item="vo">
        <div class="qt-card fl">
            <div class="card-img">
                <a href="http://www.58pic.com/newpic/27950008.html" target="_blank"
title="2018艺术字2018logo设计元旦装饰图案素材集合">
                    <img class="" src="__PUBLIC__/images/{$vo.pic}" data-original="http://pic.qiantucdn.com/58pic/27/95/00/08R58PIC5K2.png!/fw/240/clip/240x240a0a0" width="240" height="240" alt="2018艺术字2018logo设计元旦装饰图案素材集合" title="2018艺术字2018logo设计元旦装饰图案素材集合" style="display: inline;">
                <div class="card-bg"></div>
            </a>

                <div class="card-handle">
                    <div class="handle-dum"><a href="javascript:;" data-id="27950008"
                                               class="download-page"></a><span>&nbsp;</span></div>
                    <div class="handle-fav" data-action="addFav" data-id="27950008"><a
                            href="javascript:;"></a><span>&nbsp;</span></div>
                </div>
            </div>
            <!--<div class="rank-num first"></div>-->
            <div class="card-title clearfix">
                <a href="http://www.58pic.com/newpic/27950008.html" class="fl" target="_blank">{$vo.goodsname}</a><span class="fr">
                <i class="icon-f"></i>{$vo.collection}</span>
            </div>
        </div>
        </foreach>
   </div>
    <!--编辑弹窗-->
    <div class="qt-model-t model-favirite-all" id="favirite-all">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><span class="model-table-close">×</span>

                    <div class="model-title">
                        添加到收藏夹
                        <!--<a href="http://www.58pic.com/index.php?m=Blog&a=detail&blog=118" target="_blank" style="color:#ff3b2e;"> 领取30天原创VIP >></a>--></div>
                    <ul class="favirite-box"></ul>
                    <div class="favirite-create"><a href="javascript:;" class="j-model-fav-create"
                                                    data-model="{&quot;target&quot;:&quot;#favirite-create&quot;}"><i
                            class="icon-add"></i>创建收藏夹
                    </a><!--<p class="favorite-error-msg"></p>--></div>
                    <div class="btn-group"><p class="qt-btn btn-green-linear fav-ajax" data-id=""><a
                            href="javascript:;">确认</a></p>

                        <p class="qt-btn btn-green"><a href="javascript:;" class="j-close">取消</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 空弹窗 -->
    <div class="qt-model-t model-favirite-all" id="favirite-null">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content fav-null"><span class="model-table-close">×</span>

                    <div class="icon-null"></div>
                    <p class="p1">
                        您还未创建收藏夹，点击创建增加新收藏夹吧！
                    </p>

                    <p class="p2">
                        您创建的收藏会显示在此处
                    </p>

                    <p class="qt-btn btn-green-linear j-model-fav-create"
                       data-model="{&quot;target&quot;:&quot;#favirite-create&quot;}"><a
                            href="javascript:;">创建收藏夹</a></p></div>
            </div>
        </div>
    </div>
    <!-- 创建弹窗 -->
    <div class="qt-model-t model-favirite-all" id="favirite-create">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><span class="model-table-close">×</span>

                    <div class="model-title">
                        创建到收藏夹
                    </div>
                    <div class="fav-create"><input type="text" value="" class="fav-name"
                                                   placeholder="请输入收藏夹名称(3到10个字)"></div>
                    <div class="btn-group"><p class="qt-btn btn-green-linear"><a href="javascript:;" id="add-page"
                                                                                 data-id="">创建</a></p>

                        <p class="qt-btn btn-green"><a href="javascript:;" class="j-close">取消</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" data-page-count="" class="favor-page-baseinfo"><!--收藏成功弹窗-->
    <div class="public-popbox" id="favirite-success" style="display: none">
        <div class="alert-con"><i class="icont-true"></i>

            <p></p></div>
    </div>
    <div class="public-popbox" id="favirite-error" style="display: none">
        <div class="alert-con"><i class="icont-error"></i>

            <p></p></div>
    </div>
    <!--  底部分页  -->
    <div class="qt-pagination">
        <div class="pager-linkPage" style=""><a href="javascript:void(0);" class="current">01</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=02">02</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=03">03</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=04">04</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=05">05</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=06">06</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=07">07</a> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=08">08</a> <span>…</span> <a
                href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=100">100</a></div>
        <a href="http://www.58pic.com/index.php?m=favrank&amp;rank=day&amp;page=02" class="downPage">下一页</a></div>
    <!--  底部分页结束  --></div>
    </block>