<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无刷新上传</title>
    <script src="__PUBLIC__/uploadify/jquery.min.js" type="text/javascript"></script>


</head>
<body>
<div class="form-group has-success has-feedback">
    <label for="info_photo" class="col-sm-2 control-label">物品图片</label>
    <div class="col-sm-10">

        <span class="btn btn-success btn-file"> 选择图片 <span
            class="glyphicon glyphicon-picture" aria-hidden="true"></span>
         <input type="file" name="info_photo" value="" id="info_photo"
                onchange='PreviewImage(this)' />
        </span>
    </div>

</div>

<div class="form-group has-success has-feedback">
    <label for="info_desc" class="col-sm-2 control-label"><span
        style="color: red;">* </span> 详细描述</label>
    <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="info_desc"
                  name="info_desc" placeholder="如需补充，请填写..." title="可包含中文数字和常用字符"></textarea>
        <div id="photo_info" class="photo_info"></div>
    </div>
</div>


</body>
<script type="text/javascript">
    function PreviewImage(imgFile) {
        var filextension = imgFile.value.substring(imgFile.value
            .lastIndexOf("."), imgFile.value.length);
        filextension = filextension.toLowerCase();
        if ((filextension != '.jpg') && (filextension != '.gif')
            && (filextension != '.jpeg') && (filextension != '.png')
            && (filextension != '.bmp')) {
            alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
            imgFile.focus();
        } else {
            var path;
            if (document.all)//IE
            {
                imgFile.select();
                path = document.selection.createRange().text;
                document.getElementById("photo_info").innerHTML = "";
                document.getElementById("photo_info").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\""
                + path + "\")";//使用滤镜效果
            } else//FF
            {
                path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                //path = imgFile.files[0].getAsDataURL();// FF 3.0
                document.getElementById("photo_info").innerHTML = "<img id='img1' width='120px' height='100px' src='"+path+"'/>";
    //document.getElementById("img1").src = path;
</script>

</html>