    1
<extend name="user/public"/>
<block name="right">
    <div class="user-main clearfix fr">
        <div class="main-container favorite-main clearfix fr">
            <div class="clearfix main-header"><!--<div class="fl fav-title">--><a class="fl fav-title"
                                                                                  href="javascript:;"> 我的收藏夹
                <em>(0)
                </em></a><a class="fl fav-title action" href="http://www.58pic.com/index.php?m=user&amp;a=userFavAtten">
                已关注收藏夹
                <em>(0)
                </em></a><!--</div>-->
                <div class="fr fav-des"> 共收藏了
                    <em class="text-orange"></em>张作品
                </div>
            </div>
            <div class="favorite-wrap clearfix">
                <div class="wrap-list favorite-create fl"><a href="http://www.58pic.com/collection/add"
                                                             class="create-btn"><i></i> 创建收藏夹
                </a></div>
            </div>
            <div class="qt-pagination"></div>
        </div>
    </div>

<script>            var now = new Date();
var beginTime = now.getTime();
$("#returnTop").click(function () {
    var speed = 200;
    $('body,html').animate({
        scrollTop: 0
    }, speed);
    return false;
});
</script>
<script>            $(function () {
    $(".qt-card img").each(function () {
        if (this.complete) {
            imageLoad($(this))
        } else {
            $(this).load(function () {
                imageLoad($(this))
            })
        }

        function imageLoad(a) {
            var cardHight = parseInt(a.height());
            var parentHight = parseInt(a.closest(".card-img").height());
            if (cardHight < parentHight) {
                a.css("margin-top", ((parentHight - cardHight) / 2 + "px"));
            }
        }
    });
})
</script>
  </block>