<extend name="user/public"/>
<block name="right">
<div class="main-container dum-main clearfix fr">
    <div class="dum-filter">
        <div class="dum-flag"><span>三个月内下载</span><span class="flag-icon"><i></i></span>
            <ul class="dum-drop">
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=1">三个月内下载</a></li>
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=2">今年内下载</a></li>
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=3">2016年下载</a></li>
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=4">2015年下载</a></li>
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=5">2014年下载</a></li>
                <li><a href="http://www.58pic.com/index.php?m=user&amp;a=userDl&amp;time=6">2014年更早</a></li>
            </ul>
        </div>
    </div>

    <div class="user-box-row">
        <foreach name="da" item="v">
        <div class="user-box-list qt-card">


            <div class="card-img"><a href="http://www.58pic.com/newpic/17684821.html" target="_blank">
                <img src="__PUBLIC__/images/{$v.pic}" alt="" style="margin-top: 63.5px;">

                <div class="card-bg"></div>
            </a>

                <div class="card-handle">
                    <div class="handle-dum"><a href="javascript:;" data-id="17684821"
                                               class="download-page"></a><span>41</span></div>
                    <div class="handle-fav isfav" data-action="addFav" data-id="17684821"><a
                        href="javascript:;"></a><span>16</span></div>
                </div>
            </div>
            <div class="card-tag isGX"></div>
            <a href="http://www.58pic.com/newpic/17684821.html" class="card-title" target="_blank">{$v.goodsname}</a>

            <div class="card-other">2018-01-04 10:35</div>

        </div>
        </foreach >
       </div>

    </div>
    </block>