<extend name="user/public"/>
    <block name="right">
    <div class="main-container user-setting fr">

        <div class="setting-wrap">
            <form   method="post" name="form1" action="{:U('Home/User/installs')}">
            <div class="wrap-list">
                <div class="list-header clearfix">
                    <div class="header-title fl">个人信息</div>
                    <div class="header-handle fr info-active"><span>编辑</span><b class="bottom"><i class="arrow1"></i><i
                        class="arrow2"></i></b></div>
                </div>


                <div class="list-main set-main user-info">

                    <div class="set-box"><label class="box-title">昵称</label>
                        <input type="text" name="nickname"
                                                                                   value="{$_SESSION['admin']}">&nbsp;&nbsp;昵称修改后，部分页面次日生效
                    </div>
                    <div class="set-box"><label class="box-title">性别</label>

                        <p class="radio-inline"><input type="radio" name="sex" value="1" id="r1"><label
                            for="r1">男</label></p>

                        <p class="radio-inline"><input type="radio" name="sex" value="2" id="r2"><label
                            for="r2">女</label></p>

                        <p class="radio-inline"><input type="radio" name="sex" value="0" id="r3" checked=""><label
                            for="r3">保密</label></p></div>
                    <div class="set-box"><label class="box-title">生日</label>
                        <select  name="sel1" id="sel1"
                                                                                    style="width:140px;" >
                            <option value="year">年</option>


                    </select>
                        <select name="sel2" id="sel2" style="width:100px;" >
                            <option value="month">月</option>
                    </select>
                        <select  name="sel3"id="sel3" style="width:100px;" >
                            <option value="day">日</option>

                    </select>
                        <span id="result"></span>
                    </div>
                    <div class="set-box job_type"><label class="box-title">行业</label>
                        <select  name="valu">
                        <option value="请选择">请选择</option>
                        <option value="互联网">互联网</option>
                        <option value="电子商务">电子商务</option>
                        <option value="广告">广告</option>
                        <option value="公关/会展">公关/会展</option>
                        <option value="金融/银行/保险/证券">金融/银行/保险/证券</option>
                        <option value="建筑/家装/室内设计">家装/室内设计</option>
                        <option value="打印/包装/印刷">打印/包装/印刷</option>
                        <option value="媒体/影视/出版/传媒">媒体/影视/出版/传媒</option>
                        <option value="教育/培训/科研/院校">教育/培训/科研/院校</option>
                        <option value="制造业">制造业</option>
                        <option value="医疗/美容/保健">医疗/美容/保健</option>
                        <option value="硬件/通信/电子">硬件/通信/电子</option>
                        <option value="政府/非盈">政府/非盈</option>
                        <option value="交通物流">交通物流</option>
                        <option value="农林牧渔">农林牧渔</option>
                        <option value="能源/机械">能源/机械</option>
                        <option value="其他">其他</option>
                    </select></div>
                    <div class="set-box job_name"><label class="box-title">职业</label><select id="first-job"
                                                                                             onchange="getSecond(this.value)">
                        <option value="请选择">请选择</option>
                        <option value="设计师">设计师</option>
                        <option value="市场/公关/销售人员">市场/公关/销售人员</option>
                        <option value="产品/运营">产品/运营</option>
                        <option value="创意/策划">创意/策划</option>
                        <option value="文案/新媒体">文案/新媒体</option>
                        <option value="管理人员">管理人员</option>
                        <option value="学生">学生</option>
                        <option value="教师">教师</option>
                        <option value="技术/研发人员">技术/研发人员</option>
                        <option value="行政/后勤/财务/文职/人力">行政/后勤/财务/文职/人力</option>
                        <option value="其他">其他</option>
                    </select><select id="second-job" style="display: none;"></select></div>
                    <div class="set-box"><label class="box-title">用途</label>

                        <p class="radio-inline"><input type="radio" name="purpose" value="1" id="r4"><label
                            for="r4">个人</label></p>

                        <p class="radio-inline"><input type="radio" name="purpose" value="2" id="r5"><label for="r5">小型团队</label>
                        </p>

                        <p class="radio-inline"><input type="radio" name="purpose" value="3" id="r6"><label
                            for="r6">企业</label></p></div>
                    <div class="set-box"><label class="box-title">QQ</label><input type="text" name="qq" value=""></div>
                    <div id="citySelect"  class="set-box"><label class="box-title">所在城市</label>
                        <select name="location_p" id="location_p">
                        </select>
                        <select name="location_c" id="location_c">
                        </select>
                        <select name="location_a" id="location_a">
                        </select>
                        <script src="__PUBLIC__/js/region_select.js"></script>
                        <script type="text/javascript">
                            new PCAS('location_p', 'location_c', 'location_a', '广东省', '', '');
                        </script>
                    </div>
                    <div class="set-box"><label class="box-title"></label><textarea rows="" cols="" name="drss"
                                                                                    placeholder="地址信息仅供活动寄送奖品使用"></textarea>
                    </div>
                    <div class="set-box"><label class="box-title"></label>

                        <p class="qt-btn btn-green-linear">
                           <input   class="qt-btn btn-green-linear" type="submit" id="baseSubmit" value="保存"/></p></div>

                </div>

            </div>
            </form>
            <div class="wrap-list">
                <div class="list-header clearfix">
                    <div class="header-title fl">头像</div>
                    <div class="header-handle fr"><span>编辑</span>
                        <b class="bottom">
                            <i class="arrow1"></i>
                            <i class="arrow2"></i>
                        </b>
                    </div>
                </div>
                <div class="list-main user-img">
                    <div class="img-handle"><p class="qt-btn btn-orange-linear"><a href="javascript:;"
                                                                                   class="upload-btn">上传头像</a><input
                        id="upload-img" style="display:none;" type="file"></p>

                        <p class="upload-alert"> 请上传jpg、png格式，640*640像素，5M以下图片，头像修改后部分页面次日生效
                        </p></div>
                    <div class="clearfix">
                        <div class="fl upload-left">
                            <div style="width:360px;height:360px;"><img id="image"
                                                                        src="__PUBLIC__/images/upload-img-default.png"
                                                                        alt="" width="360" height="360"></div>
                            <div class="left-alert"> 拖动选中剪切局部
                            </div>
                            <div><p class="qt-btn btn-green-linear"><a href="javascript:;" id="avatar-save">保存</a></p>

                                <p class="qt-btn btn-green"><a
                                    href="{}">返回</a></p></div>
                        </div>
                        <div class="fl upload-right">
                            <div   id="image-avatar" class="image-avatar"><img src="__PUBLIC__/images/user-default.png"
                                                                             width="220"></div>
                            <p class="right-alert">头像预览图</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-list wrap-phone">
                <div class="list-header clearfix">
                    <div class="header-title fl">手机号</div>
                    <div class="header-handle fr bindphone-active"><span>编辑</span><b class="bottom"><i
                        class="arrow1"></i><i class="arrow2"></i></b></div>
                    <div class="bind-info">188****1530</div>
                </div>
                <div class="list-main user-bind"><!--已绑定  --><p class="bind-title"> 已绑定手机号:
                    <em>188****1530</em> &nbsp;&nbsp; <a href="javascript:;" class="text-green-d"
                                                         id="get-change-phone-page">修改手机号</a></p><!--更换手机  -->
                    <div id="check-phone-model" style="display: none"><p class="bind-title"> 原手机号：
                        <em>188****1530</em> &nbsp;&nbsp; <a
                            href="http://www.58pic.com/index.php?m=HelpCenter&amp;a=index&amp;qid=1909" target="_blank"
                            class="text-green-d phone-error-msg">手机号遗失</a></p>

                        <p class="input-line" style="display: none"><input type="text" value="18837191530"
                                                                           class="phone"></p>

                        <p class="input-line"><input type="text" placeholder="图形验证码" style="width:130px;"
                                                     class="captcha-code"><img class="img-captcha"
                                                                               src="http://www.58pic.com/index.php?m=user&amp;a=accountSet"
                                                                               width="100" height="36" alt="验证码"><a
                            class="img-code-a img-code" onclick="$(&#39;.img-captcha&#39;).click();"></a></p>

                        <p class="input-line"><input type="text" placeholder="请输入验证码" style="width:160px;"
                                                     class="msg-code"><span class="qt-btn btn-green btn-captcha"><a
                            href="javascript:;" onclick="sendCode(this,&#39;change&#39;)">发送验证码</a></span></p>

                        <p class="qt-btn btn-green-linear"><a href="javascript:;" id="check-phone">提交</a></p>

                        <p class="bing-alert"> (
                            <em>*</em>温馨提示：修改手机号后，将无法使用帐号密码/站内号登录 )
                        </p><br></div>
                    <div id="change-phone-model" style="display: none"><p class="bind-title"><em>绑定新手机号</em>
                        完善信息后可用新手机号验证码登录</p>

                        <p class="input-line"><input type="text" placeholder="请输入 11 位手机号"
                                                     class="phone phone-error-msg"></p>

                        <p class="input-line"><input type="text" placeholder="图形验证码" style="width:130px;"
                                                     class="captcha-code"><img class="img-captcha"
                                                                               src="http://www.58pic.com/index.php?m=user&amp;a=accountSet"
                                                                               width="100" height="36" alt="验证码"><a
                            class="img-code-a img-code" onclick="$(&#39;.img-captcha&#39;).click();"></a></p>

                        <p class="input-line"><input type="text" placeholder="请输入验证码" style="width:160px;"
                                                     class="msg-code"><span class="qt-btn btn-green btn-captcha"><a
                            href="javascript:;" onclick="sendCode(this,&#39;bind&#39;)">发送验证码</a></span></p>

                        <p class="qt-btn btn-green-linear"><a href="javascript:;" id="bind-phone" data-change="1">提交</a>
                        </p>

                        <p class="bing-alert"> (
                            <em>*</em>温馨提示：绑定手机号后，将无法使用帐号密码/站内号登录 )
                        </p><br></div>
                </div>
            </div>
            <div class="wrap-list bind-module">
                <div class="list-header clearfix">
                    <div class="header-title fl">社交帐号</div>
                    <div class="bind-type fl"><i class="bind-qq "></i><i class="bind-wechat on"></i><i
                        class="bind-sina "></i></div>
                    <div class="header-handle fr socialability"><span>编辑</span><b class="bottom"><i
                        class="arrow1"></i><i class="arrow2"></i></b></div>
                </div>
                <div class="list-main">
                    <div class="main-form"><h3 class="welcome-word">温馨提示：为保障您的帐号安全，解绑第三方帐号需进行原第三方帐号验证-<a
                        href="http://www.58pic.com/index.php?m=Blog&amp;a=detail&amp;blog=191" target="_blank"
                        class="text-green">验证教程</a></h3></div>
                    <div class="main-form">
                        <div class="bind-box "><i class="bind-qq"></i><span>QQ昵称:
                                    <em>未绑定</em></span>

                            <p class="qt-btn btn-green-linear"><a
                                href="http://www.58pic.com/index.php?m=BindUser&amp;a=bindUser&amp;way=1"
                                class="j-bind">绑定</a></p></div>
                        <hr class="qt-dotted">
                        <div class="bind-box on"><i class="bind-wechat"></i><span>微信昵称:
                                    <em>自由消失</em></span>

                            <p class="qt-btn btn-green"><a href="javascript:;" class="j-unbind" data-type="2">解绑</a></p>
                        </div>
                        <hr class="qt-dotted">
                        <div class="bind-box "><i class="bind-sina"></i><span>微博昵称:
                                    <em>未绑定</em></span>

                            <p class="qt-btn btn-green-linear"><a
                                href="http://www.58pic.com/index.php?m=BindUser&amp;a=bindUser&amp;way=3"
                                class="j-bind">绑定</a></p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="userset-popbox" style="display: none;"><i></i>

            <p></p></div>
    </div>

    <!--没绑定手机号-->
    <div class="qt-model-t bind-tobind">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><a href="javascript:;" class="model-close model-table-close j-close">×</a>

                    <p class="model-title">绑定失败</p>

                    <p class="login-alert"> 请先绑定手机号
                    </p>

                    <div class="model-footer">
                        <div class="qt-btn btn-green-linear"><a href="javascript:;" class="j-close">确定</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qt-model-t bind-alert">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><a href="javascript:;" class="model-close model-table-close j-close">×</a>

                    <div class="model-title">安全提示</div>
                    <p class="login-alert ubind-login-alert"> 为保证您的帐号安全，解绑QQ账号需进行原QQ帐号验证
                    </p>
                    <button class="am-btn am-btn-success ubind-submit">安全验证</button>
                    <a href="http://www.58pic.com/index.php?m=HelpCenter&amp;qid=3596" target="_blank"
                       class="account-missing">QQ号遗失</a>

                    <div class="model-footer ubind-notice"><p>温馨提示：解绑后不能再使用本QQ登录该千图帐号</p></div>
                </div>
            </div>
        </div>
    </div>
    <!--解绑验证失败提示-->
    <div class="qt-model-t bind-alert-fail">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><a href="javascript:;" class="model-close model-table-close j-close">×</a>

                    <div class="model-title">安全提示</div>
                    <p class="login-alert"> 您提供验证的帐号与现绑定的帐号不一致<br>请核实后在进行解绑操作
                    </p>
                    <button class="am-btn am-btn-success bind-fail-button j-close">确认</button>
                    <a href="http://www.58pic.com/index.php?m=HelpCenter&amp;qid=3596" target="_blank"
                       class="account-missing">号遗失
                    </a></div>
            </div>
        </div>
    </div>
    <!--第三方帐号已绑定-->
    <div class="qt-model-t bind-danger">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><a href="javascript:;" class="model-close model-table-close j-close">×</a>

                    <div class="model-title">绑定失败</div>
                    <p class="login-alert"> 该社交帐号已绑定其他帐号，请先解绑
                    </p>

                    <div class="model-footer"><p class="qt-btn btn-green-linear"><a href="javascript:;"
                                                                                    class="model-btn-close">关闭</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="qt-model-t to-home">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><a href="javascript:;" class="model-close model-table-close j-close">×</a>

                    <p class="model-title">操作成功</p>

                    <p class="login-alert" style="font-width:700;"><em class="time-update" style="color:red;">3</em>秒后自动消失
                    </p></div>
            </div>
        </div>
    </div>


<script>        //BAIDU统计
var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?644763986e48f2374d9118a9ae189e14";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
<!--搜索下拉提示Js-->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/commons_v9.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/accountSet_v2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/birthday1.js"></script>
<script src="__PUBLIC__/js/cropper.min.js"></script>
<script src="__PUBLIC__/js/html2canvas.min.js"></script>
        <script src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>


        <script type="text/javascript">



     //生日插件
$.ms_DatePicker({
    YearSelector: ".sel_year",
    MonthSelector: ".sel_month",
    DaySelector: ".sel_day"
});
$(".urlli").click(function () {
    window.location.href = $(this).attr("url");
});
$('.left-menu-item').hover(function () {
    var menu_id = $(this).attr('data-id');
    if (!$(this).hasClass('default'))
        $('.h' + menu_id).removeClass('h' + menu_id).addClass('hh' + menu_id);
}, function () {
    var menu_id = $(this).attr('data-id');
    if (!$(this).hasClass('default'))
        $('.hh' + menu_id).removeClass('hh' + menu_id).addClass('h' + menu_id);
});
$(".newmap").change(function (e) {
    var thistext = $(this).val();
    $.post(
        "http://www.58pic.com/index.php?m=user&a=getNewMap", {
            "thistext": thistext
        },
        function (data) {
            $(".is2").html(data);
        }
    );
    e.stopPropagation();
});
$("#baseSubmit").click(function () {
    var zone1 = $.trim($(".newmap").val());

    if (zone1.length == 0 || zone1 == "请选择") {
        zone1 = "";
    }
    var zone2 = $.trim($(".is2").val());
    if (zone2.length == 0 || zone2 == "请选择") {
        zone2 = "";
    }
    var work_year = $.trim($("input[name='work_year']").val());
    if (work_year.length == 0) {
        work_year = "";
    }
    var nickname = $.trim($("input[name='nickname']").val());
    if (nickname.length < 2 || nickname.length > 10) {
        alert('昵称长度为2～10');
        return false;
    }
    var purpose = 0;
    if ($("input[name='purpose']")[0].checked) {
        purpose = 1;
    }
    if ($("input[name='purpose']")[1].checked) {
        purpose = 2;
    }
    if ($("input[name='purpose']")[2].checked) {
        purpose = 3;
    }
    var qq = $.trim($("input[name='qq']").val());
    var drss = $.trim($("textarea[name='drss']").val());

    if (qq.length == 0) {
        qq = "";
    }

    //添加验证
    var sex = '';
    if ($("input[name='sex']")[0].checked) {
        sex = 1;
    }
    if ($("input[name='sex']")[1].checked) {
        sex = 2;
    }
    var job = $.trim($(".job_name").find('select').val())
    if (job.length == 0 || job == "请选择") {
        job = "";
    }
    var job_type = $.trim($(".job_type").find('select').val())
    if (job_type.length == 0 || job_type == "请选择") {
        job_type = "";
    }
    var second_job = $.trim($("#second-job").val());
    var useryear = $.trim($(".sel_year").val());
    var usermonth = $.trim($(".sel_month").val());
    var userday = $.trim($(".sel_day").val());
    $.post(
        "http://www.58pic.com/index.php?m=user&a=saveAccountSet", {
            "nickname": nickname,
            "purpose": purpose,
            "zone1": zone1,
            "zone2": zone2,
            "job": job,
            "work_year": work_year,
            "qq": qq,
            // "is_jd": is_jd,
            //add
            "sex": sex,
            "job_type": job_type,
            "second_job": second_job,
            "useryear": useryear,
            "usermonth": usermonth,
            "userday": userday,
            "drss": drss,
            // "nickname": nickname
        },
        function (data) {
            if (data == "3") {
                alert("请填写正确的QQ号码");
            } else if (data == "4") {
                alert("工作年限请填写大于0的整数");
            } else if (data == "5") {
                alert("该QQ号码与你绑定的QQ重复");
            } else if (data == "6") {
                alert("昵称长度为2～10");
            } else if (data == "1") {
                $(".userset-popbox").find('p').html('保存成功');
                $(".userset-popbox").fadeIn(200);
                setTimeout(function () {
                    $(".userset-popbox").fadeOut(200);
                    window.location.reload();
                }, 2000);
            } else {
                alert("保存失败");
            }
        }
    );
});
var first_job = $('#first-job').val();
var job_second = "";
getSecond(first_job);
function getSecond(val) {
    var designer = new Array('平面设计', '电商设计', 'UI设计', '网页设计', '视觉设计', '婚宴设计', '室内设计', '其他');
    var student = new Array('艺术类', '营销/传播/广告', '其他学科');
    var teacher = new Array('艺术类', '营销/传播/广告', '其他学科', '幼、小、中学');
    if (val == '设计师') {
        var object = designer;
    }
    else if (val == '学生') {
        var object = student;
    }
    else if (val == '教师') {
        var object = teacher;
    } else {
        var object = 'other';
    }
    var html = '';
    if (object == 'other') {
        $("#second-job").hide();
    } else {
        for (i = 0; i < object.length; i++) {
            html += "<option value=" + object[i];
            if (job_second == object[i]) {
                html += " selected";
            }
            html += ">" + object[i] + "</option>";
        }
        $("#second-job").show();
        $("#second-job").html(html);
    }

}

</script>
<script>        var now = new Date();
var beginTime = now.getTime();
var visit_uid = "16808301";
</script>
<script>        window.onload = function () {
    var d = new Date();
    var a = d.getTime();
    var c = (a - beginTime) / 1000;
    $("#exectime").html(" " + c + "秒");
}
</script>
<script>

    $('#image,.upload-btn').click(function () {
        $('#upload-img').click();
    })

    $("#upload-img").on("change", function () {
        var filePath = $(this).val();
        var fileReader = new FileReader();
        var f = this.files[0];
        if (filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1) {
            fileReader.readAsDataURL(f);
            fileReader.onload = function (event) {
                console.log(this.result);
                   $("#image").attr("src", this.result);
                $('#image').cropper({
                    aspectRatio: 9 / 9,
                    modal: false,
                    preview: "#image-avatar",
                });
                $('#image').cropper('replace', this.result);
            }

        } else {
            alert("您未上传文件，或者您上传文件类型有误！");
            return false
        }
    });
        $("#avatar-save").on("click", function () {
            if ($(".cropper-bg") == '') {
                return;
            }
            html2canvas($('#image-avatar'), {
                allowTaint: true,
                height: 220
            }).then(function (canvas) {
               // alert(canvas);
                var dataUrl = canvas.toDataURL("image/jpeg");
              // alert( dataUrl);
                $('#asdf').attr('src', dataUrl);
                $.ajax({
                    url: "{:U('user/upload')}",
                    data: {'img': dataUrl},
                    type: "POST",
                    success: function (re) {
                       if (re == 1) {
                            $(".userset-popbox").find('p').html('保存成功');
                            $(".userset-popbox").fadeIn(200);
                            setTimeout(function () {
                                $(".userset-popbox").fadeOut(200);
                                window.location.reload();
                           }, 2000);
                        } else {
                            alert(re);
                        }
                    }
                });

            });

        })

        </script>
        <script>
        $('.user-setting').on('click', '.list-header', function () {
    $(this).next().find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
    var iconChange = $(this).find('.header-handle b');
    var textChange = $(this).find('.header-handle span');
    var parentDiv = $(this).parent().siblings();
    $(this).next().stop().slideToggle(200, function () {
        if (iconChange.hasClass('top')) {
            iconChange.attr('class', 'bottom');
            textChange.text('编辑');
        } else {
            iconChange.attr('class', 'top');
            textChange.text('收起');
        }
    });
    parentDiv.find('.list-main').slideUp(200);
    parentDiv.find('.header-handle b').attr('class', 'bottom');
    parentDiv.find('.header-handle span').text('编辑');
})
</script>
<script>        function sendCode(obj, type) {
    var sec = 60;
    var times;
    var nums = "";
    var that = $(obj).parent().parent().parent();
    that.find('.img-code').next().remove();
    that.find('.btn-captcha').next().remove();
    that.find('.phone').next().remove();
    var phone = that.find('.phone').val();
    var imgCode = that.find('.captcha-code').val();
    if (phone == '') {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写手机号</span></p>";
        that.find('.phone').after(errotText);
        return false;
    }
    if (!isPhone(phone)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>手机号格式错误</span></p>";
        that.find('.phone').after(errotText);
        return false;
    }
    if (imgCode == '') {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请进行图形验证</span></p>";
        that.find('.img-code').after(errotText);
        return false;
    }
    if (!isImgCode(imgCode)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>图形验证码错误</span></p>";
        that.find('.img-code').after(errotText);
        return false;
    }
    if (type == "bind") {
        $.post('http://www.58pic.com/index.php?m=userinfo&a=checkUser', {
            phone: phone
        }, function (data) {
            var rs = eval("(" + data + ")");
            if (rs.status == 1) {
                $.post('http://www.58pic.com/index.php?m=userinfo&a=sendCode', {
                    phone: phone,
                    imgCode: imgCode,
                    sms_tpl: type,
                }, function (rss) {
                    var data = eval("(" + rss + ")");
                    if (data.status == 1) {
                        that.find('.btn-captcha').addClass("disable");
                        $(obj).text(sec + "s");
                        times = setInterval(function () {
                            $(obj).text(sec + "s");
                            sec--;
                            nums = sec + "s";
                            if (sec == 0) {
                                clearInterval(times);
                                that.find('.btn-captcha').removeClass("disable");
                                $(obj).text("发送验证码");
                            }
                        }, 1e3);
                    } else {
                        that.find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
                        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + data.info + "</span></p>";
                        that.find('.img-code').after(errotText);
                        return;
                    }
                });
            } else {
                var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>该手机号已注册千图帐号，请更换手机号</span></p>";
                that.find('.phone').after(errotText);
                return false;
            }
        });
    } else {
        $.post('http://www.58pic.com/index.php?m=userinfo&a=sendCode', {
            phone: phone,
            imgCode: imgCode,
            sms_tpl: type,
        }, function (rss) {
            var data = eval("(" + rss + ")");
            if (data.status == 1) {
                that.find('.btn-captcha').addClass("disable");
                $(obj).text(sec + "s");
                times = setInterval(function () {
                    $(obj).text(sec + "s");
                    sec--;
                    nums = sec + "s";
                    if (sec == 0) {
                        clearInterval(times);
                        that.find('.btn-captcha').removeClass("disable");
                        $(obj).text("发送验证码");
                    }
                }, 1e3);
            } else {
                that.find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
                var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + data.info + "</span></p>";
                that.find('.img-code').after(errotText);
                return;
            }
        });
    }
}
$("#bind-phone").click(function () {
    var that = $(this).parent().parent();
    that.find('.phone').next().remove();
    that.find('.img-code').next().remove();
    that.find('.btn-captcha').next().remove();
    var isChange = $(this).attr('data-change');
    var username = that.find('.phone').val();
    var captcha = that.find('.msg-code').val();
    if (username == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写手机号</span></p>";
        that.find('.phone').after(errotText);
        return false;
    }
    if (!isPhone(username)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>手机号格式错误</span></p>";
        that.find('.phone').after(errotText);
        return false;
    }
    if (captcha == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写验证码</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    if (!isCode(captcha)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>验证码错误</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    $.post('http://www.58pic.com/index.php?m=userinfo&a=bindphone', {
        username: username,
        usercaptcha: captcha,
        is_change: isChange,
    }, function (data) {
        var rs = eval('(' + data + ')');
        if (rs.status == 1) {
            $(".userset-popbox").find('p').html('绑定成功');
            $(".userset-popbox").fadeIn(200);
            setTimeout(function () {
                $(".userset-popbox").fadeOut(200);
                window.location.reload();
            }, 2000);
        } else {
            switch (rs.data) {
                case 1:
                    var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + rs.info + "</span></p>";
                    that.find('.phone').after(errotText);
                    break;
                case 2:
                    var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + rs.info + "</span></p>";
                    that.find('.btn-captcha').after(errotText);
                    break;
            }
            return false;
        }
    });
});
$("#get-change-phone-page").click(function () {
    $(this).parent().hide();
    $("#check-phone-model").show();
});
$("#check-phone").click(function () {
    var that = $("#check-phone-model");
    that.find('.phone').next().remove();
    that.find('.img-code').next().remove();
    that.find('.btn-captcha').next().remove();
    var phone = that.find('.phone').val();
    var captcha = that.find('.msg-code').val();
    if (phone == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>未绑定手机号</span></p>";
        that.find('.phone').after(errotText);
        return false;
    }
    if (captcha == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写验证码</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    if (!isCode(captcha)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>验证码错误</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    $.post('http://www.58pic.com/index.php?m=userinfo&a=checkOldPhone', {
        phone: phone,
        captcha: captcha,
    }, function (data) {
        var rs = eval('(' + data + ')');
        if (rs.status == 1) {
            that.hide();
            $("#change-phone-model").find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
            $("#change-phone-model").show();
        } else {
            var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + rs.info + "</span></p>";
            that.find('.btn-captcha').after(errotText);
            return false;
        }
    });
});
function isCode(strRegex) {
    var reg = /^\d{6}$/;
    return reg.test(strRegex);
}
function isPhone(strRegex) {
    var reg = /^1(3|4|5|7|8)\d{9}$/;
    return reg.test(strRegex);
}
function isImgCode(strRegex) {
    var reg = /^[a-zA-Z]{4}$/;
    return reg.test(strRegex);
}
function isPass(strRegex) {
    var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/;
    return reg.test(strRegex);
}
$("#set-pwd").click(function () {
    $("#set-pwd-model").find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
    $(this).parent().hide();
    $("#set-pwd-model").show();
});
$("#change-pwd").click(function () {
    $("#change-pwd-model").find('.img-captcha').attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
    $(this).parent().hide();
    $("#change-pwd-model").show();
});
$(".go-bind-phone").click(function () {
    $(this).parent().parent().prev().click();
    $(this).parent().parent().parent().prev().children()[0].click();
});
$("#change-pwd-botton").click(function () {
    var that = $("#change-pwd-model");
    that.find('#password-old').next().next().remove();
    that.find('#password-new').next().remove();
    that.find('#password-new-repeat').next().remove();
    var phone = that.find('.phone').val();
    var passwordOld = that.find('#password-old').val();
    var passwordNew = that.find('#password-new').val();
    var passwordNewRepeat = that.find('#password-new-repeat').val();
    if (passwordOld == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写原密码</span></p>";
        that.find('#password-old').after(errotText);
        return false;
    }
    if (passwordNew == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写新密码</span></p>";
        that.find('#password-new').after(errotText);
        return false;
    }
    if (!isPass(passwordNew)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>密码格式不正确，请输入8～16位数字加字母组合</span></p>";
        that.find('#password-new').after(errotText);
        return false;
    }
    if (passwordNewRepeat == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请重复新密码</span></p>";
        that.find('#password-new-repeat').after(errotText);
        return false;
    }
    if (passwordNew != passwordNewRepeat) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>两次输入密码不一致</span></p>";
        that.find('#password-new-repeat').after(errotText);
        return false;
    }
    $.post('http://www.58pic.com/index.php?m=userinfo&a=userresetpass', {
        phone: phone,
        password_old: passwordOld,
        password_new: passwordNew,
        password_new_repeat: passwordNewRepeat,
    }, function (data) {
        var rs = eval('(' + data + ')');
        if (rs.status == 1) {
            $(".userset-popbox").find('p').html('设置成功');
            $(".userset-popbox").fadeIn(200);
            setTimeout(function () {
                $(".userset-popbox").fadeOut(200);
                window.location.reload();
            }, 2000);
        } else {
            var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + rs.info + "</span></p>";

            switch (rs.data) {
                case 0:
                    that.find('.phone').after(errotText);
                    break;
                case 1:
                    that.find('#password-old').next().after(errotText);
                    break;
                case 2:
                    that.find('#password-new').after(errotText);
                    break;
                case 3:
                    that.find('#password--new-repeat').after(errotText);
                    break;
            }
            return false;
        }
    });
});
$("#set-pwd-botton").click(function () {
    var that = $("#set-pwd-model");
    that.find('.img-code').next().remove();
    that.find('.btn-captcha').next().remove();
    that.find('#password').next().remove();
    that.find('#password-repeat').next().remove();
    var phone = that.find('.phone').val();
    var captcha = that.find('.msg-code').val();
    var password = that.find('#password').val();
    var passwordRepeat = that.find('#password-repeat').val();
    if (captcha == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写验证码</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    if (!isCode(captcha)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>验证码错误</span></p>";
        that.find('.btn-captcha').after(errotText);
        return false;
    }
    if (password == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写密码</span></p>";
        that.find('#password').after(errotText);
        return false;
    }
    if (!isPass(password)) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>密码格式不正确，请输入8～16位数字加字母组合</span></p>";
        that.find('#password').after(errotText);
        return false;
    }
    if (passwordRepeat == "") {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>请填写密码</span></p>";
        that.find('#password-repeat').after(errotText);
        return false;
    }
    if (password != passwordRepeat) {
        var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>两次输入密码不一致</span></p>";
        that.find('#password-repeat').after(errotText);
        return false;
    }
    $.post('http://www.58pic.com/index.php?m=userinfo&a=setPwd', {
        phone: phone,
        captcha: captcha,
        password: password,
        password_repeat: passwordRepeat,
    }, function (data) {
        var rs = eval('(' + data + ')');
        if (rs.status == 1) {
            $(".userset-popbox").find('p').html('设置成功');
            $(".userset-popbox").fadeIn(200);
            setTimeout(function () {
                $(".userset-popbox").fadeOut(200);
                window.location.reload();
            }, 2000);
        } else {
            var errotText = "<p class='msg-text'><i class='warning-icon'></i><span>" + rs.info + "</span></p>";
            switch (rs.data) {
                case 1:
                    that.find('.phone').after(errotText);
                    break;
                case 2:
                    that.find('.btn-captcha').after(errotText);
                    break;
                case 3:
                    that.find('#password').after(errotText);
                    break;
                case 4:
                    that.find('#password-repeat').after(errotText);
                    break;
            }
            return false;
        }
    });
});
$('.back-botton').click(function () {
    window.location.reload();
});
$(".img-captcha").click(function () {
    $(this).attr('src', 'http://www.58pic.com/index.php?m=userinfo&a=getImgCaptch&v=' + new Date().getTime());
});
$(".j-close, .model-btn-close, .model-close").on("click", function () {
    $(".qt-model-t").hide();
})

// 解绑验证结果弹窗
$(document).ready(function () {
    // 不成功时
    var ubindDeal = "0";
    if (ubindDeal == 2) {
        $(".bind-alert-fail").fadeIn(200);
    }
    // 成功时
    if (ubindDeal == 1) {
        $(".userset-popbox").find('p').html('解绑成功');
        $(".userset-popbox").fadeIn(200);
        setTimeout(function () {
            $(".userset-popbox").fadeOut(200);
        }, 2000);
    }

});

// 点击解绑，弹出解绑确认窗口
$(".j-unbind").click(function () {
    var type = $(this).attr('data-type');
    $(".ubind-submit").attr('data-type', type);
    if (type == 1) {
        $(".bind-alert .model-content .ubind-login-alert").text("为保证您的帐号安全，解绑QQ账号需进行原QQ帐号验证");
        $(".bind-alert .model-content .ubind-notice p").text("温馨提示：解绑后不能再使用本QQ登录该千图帐号");
        $(".bind-alert .model-content .account-missing").text("QQ遗失");
    } else if (type == 2) {
        $(".bind-alert .model-content .ubind-login-alert").text("为保证您的帐号安全，解绑微信账号需进行原微信帐号验证");
        $(".bind-alert .model-content .ubind-notice p").text("温馨提示：解绑后不能再使用本微信登录该千图帐号");
        $(".bind-alert .model-content .account-missing").text("微信遗失");
    } else if (type == 3) {
        $(".bind-alert .model-content .ubind-login-alert").text("为保证您的帐号安全，解绑微博账号需进行原微博帐号验证");
        $(".bind-alert .model-content .ubind-notice p").text("温馨提示：解绑后不能再使用本微博登录该千图帐号");
        $(".bind-alert .model-content .account-missing").text("微博遗失");
    }
    $(".bind-alert").fadeIn(200);
});

// 解绑登录验证操作
$('.ubind-submit').on("click", function () {
    var type = $('.ubind-submit').attr('data-type');
    if (type == 1) {
        var callBackUrl = "/index.php?m=user&a=ubindUserVerify&type=qq&isRedirect=1&ubind=1";
    } else if (type == 2) {
        var callBackUrl = "/index.php?m=user&a=ubindUserVerify&type=weixin&isRedirect=1&ubind=1";
    } else if (type == 3) {
        var callBackUrl = "/index.php?m=user&a=ubindUserVerify&type=sina&isRedirect=1&ubind=1";
    }
    window.location.href = callBackUrl;

//            $.post("http://www.58pic.com/index.php?m=BindUser&a=delBind",{'type':type},function(data){
//                window.location.href = window.location.href;
//            });
});
$(".j-tobind").click(function () {
    $(".wrap-list.wrap-phone").find('.list-header').click();
})
function updateUrl() {
    var stateObject = {};
    var title = $("title").html();
    history.pushState(stateObject, title, 'http://www.58pic.com/index.php?m=user&a=accountSet');
}

function updateTimeToHome(time) {
    var time = time;
    if (time == 0) {
        $(".qt-model-t.to-home").fadeOut(200);
    } else {
        $(".qt-model-t.to-home .time-update").text(time);
        time--;
        setTimeout('updateTimeToHome(' + time + ')', 1000);
    }
}

//弹起签到弹窗
$(function () {
    var getQueryString = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    if (getQueryString('active') == 'info') {
        $(".header-handle.info-active").click();
    }
    if (getQueryString('active') == 'bindphone') {
        $(".header-handle.bindphone-active").click();
    }
    if (getQueryString('active') == 'socialability') {
        $(".header-handle.socialability").click();
    }
});
</script>
<script>
    $(function () {
    $(".qt-card img").each(function () {
        if (this.complete) {
            imageLoad($(this))
        } else {
            $(this).load(function () {
                imageLoad($(this))
            })
        }

        function imageLoad(a) {
            var cardHight = parseInt(a.height());
            var parentHight = parseInt(a.closest(".card-img").height());
            if (cardHight < parentHight) {
                a.css("margin-top", ((parentHight - cardHight) / 2 + "px"));
            }
        }
    });
})
</script>
        <script>
            //生成日期
            function creatDate()
            {
                //生成1900年-2100年
                for(var i = 2018; i >= 1950; i--)
                {
                    //创建select项
                    var option = document.createElement('option');
                    option.setAttribute('value',i);
                    option.innerHTML = i;
                    sel1.appendChild(option);
                }
                //生成1月-12月
                for(var i = 1; i <=12; i++){
                    var option1 = document.createElement('option');
                    option1.setAttribute('value',i);
                    option1.innerHTML = i;
                    sel2.appendChild(option1);
                }
                //生成1日—31日
                for(var i = 1; i <=31; i++){
                    var option2 = document.createElement('option');
                    option2.setAttribute('value',i);
                    option2.innerHTML = i;
                    sel3.appendChild(option2);
                }
            }
            creatDate();
            //保存某年某月的天数
            var days;

            //年份点击 绑定函数
            sel1.onclick = function()
            {
                //月份显示默认值
                sel2.options[0].selected = true;
                //天数显示默认值
                sel3.options[0].selected = true;
            };
            //月份点击 绑定函数
            sel2.onclick = function()
            {
                //天数显示默认值
                sel3.options[0].selected = true;
                //计算天数的显示范围
                //如果是2月
                if(sel2.value == 2)
                {
                    //判断闰年
                    if((sel1.value % 4 === 0 && sel1.value % 100 !== 0) || sel1.value % 400 === 0)
                    {
                        days = 29;
                    }
                    else
                    {
                        days = 28;
                    }
                    //判断小月
                }else if(sel2.value == 4 || sel2.value == 6 ||sel2.value == 9 ||sel2.value == 11){
                    days = 30;
                }else{
                    days = 31;
                }

                //增加或删除天数
                //如果是28天，则删除29、30、31天(即使他们不存在也不报错)
                if(days == 28){
                    sel3.remove(31);
                    sel3.remove(30);
                    sel3.remove(29);
                }
                //如果是29天
                if(days == 29){
                    sel3.remove(31);
                    sel3.remove(30);
                    //如果第29天不存在，则添加第29天
                    if(!sel3.options[29]){
                        sel3.add(new Option('29','29'),null)
                    }
                }
                //如果是30天
                if(days == 30){
                    sel3.remove(31);
                    //如果第29天不存在，则添加第29天
                    if(!sel3.options[29]){
                        sel3.add(new Option('29','29'),null)
                    }
                    //如果第30天不存在，则添加第30天
                    if(!sel3.options[30]){
                        sel3.add(new Option('30','30'),null)
                    }
                }
                //如果是31天
                if(days == 31){
                    //如果第29天不存在，则添加第29天
                    if(!sel3.options[29])
                    {
                        sel3.add(new Option('29','29'),null)
                    }
                    //如果第30天不存在，则添加第30天
                    if(!sel3.options[30])
                    {
                        sel3.add(new Option('30','30'),null)
                    }
                    //如果第31天不存在，则添加第31天
                    if(!sel3.options[31])
                    {
                        sel3.add(new Option('31','31'),null)
                    }
                }
            }

            //结果显示 设置好日期时间后 弹窗通知
            box.onclick = function()
            {
                //当年、月、日都已经为设置值时
                if(sel1.value !='year' && sel2.value != 'month' && sel3.value !='day')
                {
                    alert("日期时间已经设定好");
                }
            }

        </script>
    </block>