
          <extend name="user/public"/>
          <block name="right">
<div class="main-container vip-main clearfix fr">
    <div class="clearfix">
        <div class="YC-card fl"><span class="text-green-b">您还未开通原创VIP会员</span>

            <p class="card-h2">100万原创80万商用高质量作品</p>

            <p class="qt-btn btn-green-linear"><a
                href="http://www.58pic.com/index.php?m=sponsor&amp;t=2&amp;f=4&amp;fex=1" data-id="A2"
                class="clickL" target="_blank">立即开通</a></p></div>
        <div class="GX-card fl"><span class="text-orange-b">您还未开通共享VIP会员</span>

            <p class="card-h2">700万共享作品轻松收入囊中</p>

            <p class="qt-btn btn-orange-linear"><a
                href="http://www.58pic.com/index.php?m=sponsor&amp;t=1&amp;f=4&amp;fex=1" data-id="A1"
                class="clickL" target="_blank">立即开通</a></p></div>
        <div class="BG-card fl"><span class="text-blue-b">您还未开通办公VIP会员</span>

            <p class="card-h2">100万办公模板即下即用</p>

            <p class="qt-btn btn-blue-linear"><a href="http://www.58pic.com/index.php?m=sponsor&amp;a=officeVip"
                                                 data-id="A1" class="clickL" target="_blank">立即开通</a></p></div>
    </div>
    <div class="vip-record">
        <table class="qt-table">
            <thead>
            <tr>
                <th>操作时间</th>
                <th>VIP类型</th>
                <th>变更明细</th>
                <th>VIP有效期至</th>
                <th>原因</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4"> 您暂无VIP记录
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var now = new Date();
    var beginTime = now.getTime();
    $("#returnTop").click(function () {
        var speed = 200;
        $('body,html').animate({
            scrollTop: 0
        }, speed);
        return false;
    });
</script>
<script>            $(function () {
    $(".qt-card img").each(function () {
        if (this.complete) {
            imageLoad($(this))
        } else {
            $(this).load(function () {
                imageLoad($(this))
            })
        }

        function imageLoad(a) {
            var cardHight = parseInt(a.height());
            var parentHight = parseInt(a.closest(".card-img").height());
            if (cardHight < parentHight) {
                a.css("margin-top", ((parentHight - cardHight) / 2 + "px"));
            }
        }
    });
})
</script>
          </block>