<extend name="user/public"/>
<block name="right">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user_v1.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/upload.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public_v1.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nokt.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.v2.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global_new_v5.7.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nn-hmPage.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/n-hmPage.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/model-com.css">
<style type="text/css">        body {
    font-family: "Microsoft YaHei";
}

.user-upload ul a {
    overflow: visible;
    line-height: 20px;
}

.queueList {
    margin-left: 13px;
}

.que-li {
    display: block;
    float: left;
    height: 117px;
    margin-bottom: 20px;
    position: relative;
}

.que-li .remove-this {
    background: url("http://icon.58pic.com/images/show/user/user-colse.gif") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.que-li .thumb-area {
    height: 115px;
    width: 115px;
    border: 1px solid #E5E5E5;
    margin-right: 20px;
    float: left;
}

.que-li .status-area {
    padding: 10px 20px;
    width: 755px;
    height: 93px;
    float: left;
    border: 1px solid #e5e5e5;
}

.que-li .status-area p {
    font-size: 15px;
    line-height: 27px;
}

.que-li .status-area .file-upload-info span {
    color: #179600;
}

.que-li .status-area .progress {
    background: #DFDFDF;
    margin: 10px 0;
}

.que-li .status-area .progress .progress-bar {
    background: rgba(0, 0, 0, 0) url("http://icon.58pic.com/images/show/user/user-uploading.gif") repeat;
    height: 15px;
}

.que-li .thumb-area .img-upload-info {
    background: rgba(0, 0, 0, 0.6);
    bottom: 1px;
    color: #fff;
    height: 20px;
    left: 1px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 115px;
    overflow: hidden;
}

.que-li .thumb-area .img-upload-info span {
    position: relative;
}

.upload-pic-num {
    position: relative;
}

.i-pop {
    bottom: 9px;
    color: red;
    font-size: 12px;
    position: absolute;
    right: -14px;
    z-index: 2147483647;
}

.reput {
    color: #179600;
    margin-left: 10px;
    cursor: pointer
}

.go-edit {
    background: #1aac00;
    display: block;
    width: 153px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-top: 7px;
    font-size: 16px;
}

.go-edit:hover {
    text-decoration: none;
    background: #009900;
}
</style>
<div class="tkm-right fr">
    <div style="overflow:hidden;width:963px; float:right;" id="hegiht-gu" class="fl">
        <div style=" float:right; width:933px; margin-right:15px; margin-top:20px;">
            <div class="user-upload">
                <ul>
                    <li class="left-pad"><a
                        href="http://upload.58pic.com/index.php?m=user&amp;a=upload"
                        title="上传图片">上传图片</a></li>
                    <li><a href="http://upload.58pic.com/index.php?m=user&amp;a=editInfo"
                           title="填写信息">填写信息 ( <span class="upload-pic-num">0</span> )</a></li>
                    <li><a
                        href="http://upload.58pic.com/index.php?m=user&amp;a=pic&amp;status=pending"
                        title="待处理">待处理 ( <span class="upload-pic-num">0</span> )</a></li>
                    <li><a
                        href="http://upload.58pic.com/index.php?m=user&amp;a=pic&amp;status=passed"
                        title="审核通过">审核通过 ( <span class="upload-pic-num">0</span> )</a></li>
                    <li class="right-back"><a href="http://www.58pic.com/fenxiangjiaocheng/"
                                              title="上传教程" target="_blank">上传教程</a></li>
                </ul>
            </div>
        </div>
        <!-- 用户上传 -->
        <style>                            .upload_tiship {
            height: 88px;
            width: 170px;
            position: absolute;
            right: 1px;
            top: 1px;
            background-color: #e5e5e5;
            line-height: 88px;
            text-align: center;
            font-size: 18px;
            color: #555555;
        }

        .UPLOADPIC_AD {
            text-align: center;
            display: inline-block;
            margin-top: 20px;
            margin-left: 13px;
            width: 903px;
            border: 1px solid #F3E9C8;
            padding: 17px 15px;
            background-color: #fffeef;
            font-family: '微软雅黑';
            font-size: 14px;
        }

        .UPLOADPIC_AD em {
            color: red;
        }

        .UPLOADPIC_AD h2 {
            font-size: 17px;
            padding-bottom: 10px;
            padding-left: 6px;
        }

        .UPLOADPIC_AD p {
            padding: 6px 4px;
        }

        #tutorial_link {
            color: #5BBF3A;
        }

        #kf_consult {
            cursor: pointer;
            display: inline-block;
            height: 24px;
            vertical-align: middle;
            width: 82px;
            background: url('http://icon.58pic.com/images/qq/kf_consult.png');
        }

        /* -------------------- */

        .placeholder {
            border: 1px dotted #169700;
            width: 430px;
            height: 340px;
            margin: 30px 0 20px;
            position: relative;
        }

        .webuploader-element-invisible {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
        }

        .webuploader-pick {
            position: relative;
            display: inline-block;
            cursor: pointer;
            background: #1AAC00;
            padding: 18px 38px;
            color: #fff;
            text-align: center;
            border-radius: 1px;
            overflow: hidden;
            font-size: 24px;
        }

        .webuploader-pick-hover {
            background: #009900;
        }

        .webuploader-pick-disable {
            opacity: 0.6;
            pointer-events: none;
        }

        .webuploader-hint {
            padding-top: 40px;
            color: #179600;
            font-size: 26px;
            text-align: center;
        }

        .webuploader-hint span {
            font-size: 30px;
        }

        .hint-or {
            color: #BABABA;
            font-size: 26px;
            text-align: center;
            padding: 15px 0;
        }

        .multi-input-container {
            text-align: center;
            padding: 10px 0 30px;
        }

        .placeholder p {
            text-align: center;
            font-size: 15px;
            line-height: 27px;
        }

        .placeholder .que-num {
            text-align: center;
            line-height: 50px;
            position: absolute;
            bottom: 0;
            color: #bababa;
            width: 100%;
            font-size: 15px;
        }

        .qn-1,
        .qn-2 {
            color: #179600
        }

        .font-plus {
            color: #C2C2C2;
            font-size: 96px;
            line-height: 340px;
            margin: 30px 0 20px;
        }

        .upload-notice {
            float: left;
            width: 934px;
            margin-left: 13px;
            margin-top: 22px;
            font-size: 16px;
        }

        .upload-notice span {
            color: red;
        }

        #upbisai {
            overflow: hidden;
            display: block;
            width: 935px;
            height: 162px;
            margin-left: 13px;
            background: url(http://icon.58pic.com/images/uploads/upyc.png) no-repeat 0 0;
        }
        </style>
        <div class="upload-notice"> 提示：源文件和预览图
            <span>批量上传文件命名</span>必须相同才能匹配成功（批量上传每次限50个）
        </div>
        <div id="uploader" class="fl">
            <div class="placeholder" id="dndArea-left" style="margin-left:13px">
                <div class="webuploader-hint">1. 拖拽
                    <span>源文件</span> 至此
                </div>
                <div class="hint-or">或</div>
                <div id="picker-left"
                     class="multi-input-container forbidleft webuploader-container">
                    <div class="webuploader-pick">选择源文件</div>
                    <div id="rt_rt_1c3aaophh1aatkrj112m160bct01"
                         style="position: absolute; top: 136px; left: 117px; width: 196px; height: 60px; overflow: hidden; bottom: auto; right: auto;">
                        <input type="file" name="file" class="webuploader-element-invisible"
                               multiple="multiple" accept=""><label
                        style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
                    </div>
                </div>
                <p style="padding:0 40px">
                    支持rar、zip、jpg、psd、ai、cdr、tif、abr、ppt、eps...等格式，体积在2G以下</p>

                <div class="que-num"></div>
            </div>
        </div>
        <div class="fl font-plus">+</div>
        <div id="thumbUploader" class="fl">
            <div class="placeholder" id="dndArea-right">
                <div class="webuploader-hint">2. 拖拽
                    <span>预览图</span> 至此
                </div>
                <div class="hint-or">或</div>
                <div id="picker-right"
                     class="multi-input-container forbidright webuploader-container">
                    <div class="webuploader-pick">选择预览图</div>
                    <div id="rt_rt_1c3aaopi4d0138omuq7vt13ek6"
                         style="position: absolute; top: 136px; left: 117px; width: 196px; height: 60px; overflow: hidden; bottom: auto; right: auto;">
                        <input type="file" name="file" class="webuploader-element-invisible"
                               multiple="multiple" accept="image/jpeg"><label
                        style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>
                    </div>
                </div>
                <p>请上传72分辨率宽大于1024像素JPG图片</p>

                <p style="text-align:left;margin-left:110px;color:red;"><a style="color:red;"
                                                                           target="_blank"
                                                                           href="http://www.58pic.com/index.php?m=Blog&amp;a=detail&amp;blog=124">曝光与下载量提升300%的秘诀&gt;&gt;</a>
                </p>

                <p style="text-align:left;margin-left:110px;text-decoration:underline;"><a
                    href="http://www.58pic.com/index.php?m=Blog&amp;a=detail&amp;blog=124"
                    target="_blank" style="color:blue;">官方预览图模板</a></p>

                <div class="que-num"></div>
            </div>
        </div>
        <div class="queueList">
            <ul class="filelist"></ul>
        </div>
        <div style="text-align: center;"><a href="http://www.58pic.com/qiandaohuodong/"
                                            target="_blank" class="tong"><img
            src="__PUBLIC__/images/smallqiandao.jpg" alt=""></a></div>
        <!-- 	<a id="upbisai" href="http://www.58pic.com/index.php?m=notice&a=detailed&id=162" target="_blank"></a> -->
        <div class="UPLOADPIC_AD"><h2><em>注意事项：</em><span id="kf_consult"
                                                          onclick="javascript:window.open(&#39;http://wpa.b.qq.com/cgi/wpa.php?ln=2&amp;uin=4009987011&amp;eid=218808P8z8p8y8z8R8x8p&amp;o=www.58pic.com&amp;q=7&amp;ref=&#39;+document.location, &#39;_blank&#39;, &#39;height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no&#39;);"></span>
        </h2>

            <p>1、所上传作品需为源文件（可编辑模板），预览图与所上传的源文件需保持一致</p>

            <p>2、预览图有人物脸部需模糊，不得含有明显的联系方式，如QQ、电话、网址、二维码</p>

            <p>3、请勿上传国产卡通动漫形象，如：喜羊羊、熊出没等</p>

            <p>4、标题请用一句话来描述，关键词包含素材风格、用途、内容、行业等词组，一般3组以上，关键词之间请用空格隔开
                <a href="http://www.58pic.com/index.php?m=notice&amp;a=detailed&amp;id=333&amp;pre_page=1"
                   id="tutorial_link" target="_blank" title="查看标题/关键字教程">查看标题/关键字教程</a></p>

            <p>温馨提醒：第一次上传用户请认真阅读
                <a href="http://www.58pic.com/copyright.html" id="tutorial_link" target="_blank"
                   title="版权声明">《版权声明》</a><a
                    href="http://www.58pic.com/?m=links&amp;a=uploadstatement" target="_blank"
                    style="color:#5BBF3A;" title="上传声明">《上传声明》</a></p></div>
    </div>
</div>
<script src="__PUBLIC__/js/h.js" type="text/javascript"></script><!-- CNZZ统计 -->

    <script
    type="text/javascript" src="__PUBLIC__/js/attrAd.js" async=""></script>
    </block>F