     <extend name="user/public"/>
         <block name="right">
     <div class="main-container clearfix fr">
         <div class="user-container-main fl">
             <style>
                 .jfsc {
                     width: 769px;
                     height: 86px;
                     border: 1px solid #dfdfdf;
                     margin: 0 auto;
                     padding-top: 14px;
                     margin-bottom:30px;
                 }

                 .jfsc-i1 {
                     width: 43px;
                     height: 55px;
                     background: url(http://icon.qiantucdn.com/revision/images/sc19.png) no-repeat;
                     display: block;
                     margin-left: 25px;
                     float: left;
                 }

                 .jfsc-p1 {
                     height: 55px;
                     width: 200px;
                     display: block;
                     margin-left: 20px;
                     color: #666;
                     margin-top: 3px;
                     float: left;
                     font-size: 14px;
                     line-height: 25px;
                 }

                 .jfsc-p1 strong {
                     font-weight: bold;
                     font-size: 16px;
                     color: #666;
                 }

                 .jfsc .shop-index i {
                     display: inline-block;
                     width: 22px;
                     height: 24px;
                     background: url(http://icon.qiantucdn.com/revision/images/sc32.png) no-repeat;
                     vertical-align: -5px;
                     margin-right: 6px;
                 }

                 .jfsc .shop-index {
                     width: 140px;
                     height: 56px;
                     float: right;
                     border-radius: 5px;
                     display: block;
                     margin-right: 15px;
                     font-size: 17px;
                     text-align: center;
                     line-height: 56px;
                     color: #fff;
                     background: #10c55b;
                     background: -webkit-linear-gradient(left, #17e66c, #10c55b);
                     background: -o-linear-gradient(left, #17e66c, #10c55b);
                     background: -moz-linear-gradient(left, #17e66c, #10c55b);
                     background: linear-gradient(left, #17e66c, #10c55b);
                 }
             </style>
             <div class="jfsc" style="margin-bottom: 30px;"><i class="jfsc-i1"></i>

                 <p class="jfsc-p1"><a href="http://www.58pic.com/index.php?m=IntegralMall&amp;a=qtbRecord"
                                       target="_blank"><strong>大众用户&nbsp;&nbsp;&nbsp;59</strong> 积分 &gt;</a><br><a
                     href="http://www.58pic.com/index.php?m=IntegralMall&amp;a=userLevel">升级等级 ＞</a></p><a
                     href="http://www.58pic.com/index.php?m=IntegralMall" class="shop-index"><i></i>积分商城</a></div>
             <div class="clearfix" style="margin-bottom:27px;">
                 <div class="YC-card fl"><span class="text-green-b">您还未开通原创VIP会员</span>

                     <p class="card-h2">100万原创80万商用高质量作品</p>

                     <p class="qt-btn btn-green-linear"><a
                         href="http://www.58pic.com/index.php?m=sponsor&amp;t=2&amp;f=4&amp;fex=1" data-id="A2"
                         class="clickL" target="_blank">立即开通</a></p></div>
                 <div class="GX-card fr"><span class="text-orange-b">您还未开通共享VIP会员</span>

                     <p class="card-h2">700万共享作品轻松收入囊中</p>

                     <p class="qt-btn btn-orange-linear"><a
                         href="http://www.58pic.com/index.php?m=sponsor&amp;t=1&amp;f=4&amp;fex=1" data-id="A1"
                         class="clickL" target="_blank">立即开通</a></p></div>
                 <div class="BG-card fl"><span class="text-blue-b">您还未开通办公VIP会员</span>

                     <p class="card-h2">100万办公模板即下即用</p>

                     <p class="qt-btn btn-blue-linear"><a href="http://www.58pic.com/index.php?m=sponsor&amp;a=officeVip"
                                                          data-id="A1" class="clickL" target="_blank">立即开通</a></p></div>
             </div>
             <input type="hidden" id="tp_cost_time" value="0.0451">

             <div class="clearfix main-box"><p class="box-title fl">最近收藏</p>

                 <p class="box-more fr"><a href="http://www.58pic.com/index.php?m=user&amp;a=userFav" data-id="B4"
                                           class="clickL" target="_blank">更多收藏 &gt;&gt;</a></p></div>
             <div class="no-fav">
                 <div class="no-img"></div>
                 <div class="no-alert"><p>您还没有任何收藏记录，
                     <br> 赶紧去发现有趣的作品吧~
                 </p>

                     <p class="qt-btn btn-green-linear"><a href="http://www.58pic.com/">随便逛逛</a></p></div>
             </div>
             <div class="clearfix main-box"><p class="box-title fl">为你推荐</p>

                 <p class="box-more fr"><a href="http://www.58pic.com/24paihang/" data-id="D4" class="clickL"
                                           target="_blank">所有推荐 &gt;&gt;</a></p></div>
             <div class="user-box-row">
                 <div class="user-box-list qt-card">
                     <div class="card-img"><a href="http://www.58pic.com/newpic/12063331.html" target="_blank"><img
                         src="__PUBLIC__/images/31H58PICbAy.jpg!qtwebp240" alt="" style="margin-top: 43.5px;">

                         <div class="card-bg clickL" data-id="D1"></div>
                     </a>

                         <div class="card-handle">
                             <div class="handle-dum"><a href="javascript:;" data-id="12063331" class="download-page"></a><span>66</span>
                             </div>
                             <div class="handle-fav isfav" data-action="addFav" data-id="12063331"><a
                                 href="javascript:;"></a><span>1982</span></div>
                         </div>
                     </div>
                     <div class="card-tag isGX"></div>
                     <a href="http://www.58pic.com//.html" class="card-title" target="_blank">矢量 电话图标 传真图片</a></div>
                 <div class="user-box-list qt-card">
                     <div class="card-img"><a href="http://www.58pic.com/newpic/20140012.html" target="_blank"><img
                         src="__PUBLIC__/images/575782925407f.jpg!qtwebp240" alt="">

                         <div class="card-bg clickL" data-id="D2"></div>
                     </a>

                         <div class="card-handle">
                             <div class="handle-dum"><a href="javascript:;" data-id="20140012" class="download-page"></a><span>57</span>
                             </div>
                             <div class="handle-fav isfav" data-action="addFav" data-id="20140012"><a
                                 href="javascript:;"></a><span>967</span></div>
                         </div>
                     </div>
                     <div class="card-tag isGX"></div>
                     <a href="http://www.58pic.com//.html" class="card-title" target="_blank">箭头图标</a></div>
                 <div class="user-box-list qt-card">
                     <div class="card-img"><a href="http://www.58pic.com/newpic/12250037.html" target="_blank"><img
                         src="__PUBLIC__/images/37c58PICuME.png!qtwebp240" alt="" style="margin-top: 7px;">

                         <div class="card-bg clickL" data-id="D3"></div>
                     </a>

                         <div class="card-handle">
                             <div class="handle-dum"><a href="javascript:;" data-id="12250037" class="download-page"></a><span>44</span>
                             </div>
                             <div class="handle-fav isfav" data-action="addFav" data-id="12250037"><a
                                 href="javascript:;"></a><span>1108</span></div>
                         </div>
                     </div>
                     <div class="card-tag isGX"></div>
                     <a href="http://www.58pic.com//.html" class="card-title" target="_blank">微信图标图片</a></div>
             </div>
         </div>
         <div class="user-container-other fr">
             <dl class="hot-problem">
                 <dt class="problem-top clearfix"><span class="fl problem-title">热门问题</span><a
                     href="http://www.58pic.com/index.php?m=HelpCenter" class="problem-more fr" target="_blank">更多</a>
                 </dt>
                 <dd><a href="http://www.58pic.com/index.php?m=HelpCenter&amp;type2=2" target="_blank">如何获取VIP？</a></dd>
                 <dd><a href="http://www.58pic.com/index.php?m=HelpCenter&amp;type2=5" target="_blank">如何下载素材图片？</a></dd>
                 <dd><a href="http://www.58pic.com/index.php?m=HelpCenter&amp;type2=5" target="_blank">素材图片无法下载怎么办？</a>
                 </dd>
                 <dd><a href="http://www.58pic.com/index.php?m=HelpCenter&amp;type2=4" target="_blank">是否支持开具发票？</a></dd>
             </dl>
             <div class="ad-flag ad-tag"><a href="http://www.58pic.com/gift.html" class="publicPicClick"
                                            data-which="user0" target="_blank"><img
                 src="__PUBLIC__/images/59eeb6daab22a.png" width="200" height="140" alt="" data-id="E1" class="clickL"></a>
             </div>
         </div>
     </div>
    <!--编辑弹窗-->
    <div class="qt-model-t model-favirite-all" id="favirite-all">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><span class="model-table-close">×</span>

                    <div class="model-title">
                        添加到收藏夹
                        <!--<a href="http://www.58pic.com/index.php?m=Blog&a=detail&blog=118" target="_blank" style="color:#ff3b2e;"> 领取30天原创VIP >></a>--></div>
                    <ul class="favirite-box"></ul>
                    <div class="favirite-create"><a href="javascript:;" class="j-model-fav-create"
                                                    data-model="{&quot;target&quot;:&quot;#favirite-create&quot;}"><i
                        class="icon-add"></i>创建收藏夹
                    </a><!--<p class="favorite-error-msg"></p>--></div>
                    <div class="btn-group"><p class="qt-btn btn-green-linear fav-ajax" data-id=""><a
                        href="javascript:;">确认</a></p>

                        <p class="qt-btn btn-green"><a href="javascript:;" class="j-close">取消</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 空弹窗 -->
    <div class="qt-model-t model-favirite-all" id="favirite-null">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content fav-null"><span class="model-table-close">×</span>

                    <div class="icon-null"></div>
                    <p class="p1">
                        您还未创建收藏夹，点击创建增加新收藏夹吧！
                    </p>

                    <p class="p2">
                        您创建的收藏会显示在此处
                    </p>

                    <p class="qt-btn btn-green-linear j-model-fav-create"
                       data-model="{&quot;target&quot;:&quot;#favirite-create&quot;}"><a href="javascript:;">创建收藏夹</a>
                    </p></div>
            </div>
        </div>
    </div>
    <!-- 创建弹窗 -->
    <div class="qt-model-t model-favirite-all" id="favirite-create">
        <div class="mdoel-table">
            <div class="model-table-call">
                <div class="model-content"><span class="model-table-close">×</span>

                    <div class="model-title">
                        创建到收藏夹
                    </div>
                    <div class="fav-create"><input type="text" value="" class="fav-name" placeholder="请输入收藏夹名称(3到10个字)">
                    </div>
                    <div class="btn-group"><p class="qt-btn btn-green-linear"><a href="javascript:;" id="add-page"
                                                                                 data-id="">创建</a></p>

                        <p class="qt-btn btn-green"><a href="javascript:;" class="j-close">取消</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" data-page-count="0" class="favor-page-baseinfo"><!--收藏成功弹窗-->
    <div class="public-popbox" id="favirite-success" style="display: none">
        <div class="alert-con"><i class="icont-true"></i>

            <p></p></div>
    </div>
    <div class="public-popbox" id="favirite-error" style="display: none">
        <div class="alert-con"><i class="icont-error"></i>

            <p></p></div>
    </div>
         </block>





