/*帮助中心banner部分*/
.help-center-banner{width: 100%;height: 360px;background: url("../images/help-center-banner.jpg") no-repeat center;position: relative;overflow:hidden;padding-top: 95px;}
.help-center-search {width: 641px;margin: 0 auto;position: relative;}
.help-center-search .help-search-put{width: 581px;height: 50px;padding-left: 15px;border: 1px solid #ccc;font-size: 14px;color: #333;  border-right:none;  -webkit-border-radius:2px 0 0 2px;  -moz-border-radius:2px 0 0 2px;  border-radius:2px 0 0 2px;}
.help-center-search  .search-subtn{width: 60px;height: 50px;position: relative;  -webkit-border-radius:0 2px 2px 0;  -moz-border-radius:0 2px 2px 0;  border-radius:0 2px 2px 0;}
.help-center-search  .search-subtn a{font-size: 16px;color: #fff;font-weight: bold;line-height: 50px;}
.help-center-search  .search-subtn:before{  content:'';  width: 20px;  height: 20px;  background: url(../images/common.png) no-repeat -66px -446px;  position: absolute;  left: 50%;  top:50%;  margin: -10px -10px;  }
.help-center-search  .search-subtn.has-words:before{content: '';display: none;}
.help-center-search .help-search-drop{padding-top: 10px;position: absolute;left: 0;top: 50px;display: none;z-index: 99;}
.help-center-search .help-search-drop .drop-box{width: 580px;background:#fff;box-shadow: 2px 3px 7px rgba(0,0,0,.16);padding: 10px 20px;}
.help-center-search .help-search-drop .drop-box li a{font-size: 14px;color: #888;line-height: 30px;}
.help-center-search .help-search-drop .drop-box li a:hover{color:#10c55b;}
.help-center-search .help-search-drop .drop-box .error-tip{font-size: 14px;color:#fd8320;line-height: 30px;}

/*问题和意见区域*/
.solve-body .left-cont{width:154px;overflow: hidden;}
.solve-body .left-cont dl{padding: 25px 0;width: 100%;}
.solve-body .left-cont dl dt{font-size:16px;color:#666666;font-weight: bold;padding-bottom: 15px;}
.solve-body .left-cont dl dd a{font-size: 14px;color:#666;line-height: 36px;}
.solve-body .left-cont dl dd a:hover,.help-center-container .left-cont dl dd a.on{color:#10c55b;}
.solve-body .right-cont{width: 1046px;background-color:#fff;padding:0 20px;}
.solve-body .right-cont .right-title{height: 55px;line-height: 54px;border-bottom: 1px solid #e3e3e3;}
.solve-body .right-cont .right-title span{font-size: 16px;color:#666;}
.solve-body .right-cont .ans-item{min-height: 152px;padding: 25px 80px 30px 0;position: relative;border-bottom:1px solid #e3e3e3;}
.solve-body .right-cont .ans-item b{font-size: 16px;color: #666;font-weight: bold;cursor: pointer;}
.solve-body .right-cont .ans-item  .ans-item-answer{font-size: 14px;color:#666;margin:10px 0 15px;height: 24px;overflow: hidden;width: 100%;}
.solve-body .right-cont .ans-item.on .ans-item-answer{height: auto;overflow: visible;word-break: break-all;white-space: normal;}
.solve-body .right-cont .ans-item.on b,.solve-body .right-cont .ans-item:hover b{color: #10c55b;}
.solve-body .right-cont .ans-item .identify span{ margin-right:30px; vertical-align: middle; display: inline-block;  height: 20px;  padding-left: 30px;  font-size: 14px;  color: #888; line-height: 20px;  cursor: pointer;position: relative;}
.solve-body .right-cont .ans-item .identify .prise-num:after{  content: '';  background: url(../images/blog-page-icons.png) no-repeat -44px -69px;  width: 20px;  height: 20px;  position: absolute;  left: 0;  top: 0;  }
.solve-body .right-cont .ans-item .identify .prise-num.on:after{  background-position: -44px -97px;  }
.solve-body .right-cont .ans-item .identify .job-post:after{  content: ''; background: url(../images/blog-page-icons.png) no-repeat -115px -69px;  width: 20px;height: 20px;position: absolute;left: 0;top:0;  }
.solve-body .right-cont .more-tickling{padding: 36px;text-align: center;}
.solve-body .right-cont .more-tickling .qt-btn{width: 120px;height: 36px;line-height: 36px;font-size: 14px;}
.solve-body .right-cont .ans-item .arrow-cont{padding: 72px 30px;position: absolute;right: 0px;top: 0px;cursor: pointer;height: 100%;}
.solve-body .right-cont .ans-item .arrow-icon{display: block;width: 12px;height:7px;background: url("../images/common.png") no-repeat -203px -26px;  -webkit-transition: all .2s;  -moz-transition: all .2s;  -ms-transition: all .2s;  -o-transition: all .2s;  transition: all .2s;}
.solve-body .right-cont .ans-item.on .arrow-icon{  -webkit-transform: rotate(180deg);  -moz-transform: rotate(180deg);  -ms-transform: rotate(180deg);  -o-transform: rotate(180deg);  transform: rotate(180deg);}
/*问题反馈*/
.feedback-content{width: 1000px;margin: 0 auto;background:#fff;padding: 45px 40px 0;}
.feedback-content p{font-size: 12px;color:#999; }
.feedback-content p a{color:#10c55b;}
.feedback-content .feedback-type{padding-left: 98px;position: relative;height: 34px;margin: 20px 0;}
.feedback-content .feedback-type .type-title{position: absolute;left: 0;top:0;font-size: 16px;font-weight: bold;color:#333;line-height:34px; }
.feedback-content .feedback-type .type-list a{display: inline-block;margin-right: 5px; height: 34px;line-height: 34px;text-align: center;padding: 0 28px;border:1px solid #e3e3e3;color: #666;font-size: 14px; -webkit-border-radius:2px;  -moz-border-radius:2px; border-radius:2px;}
.feedback-content .feedback-type .type-list a:hover,.feedback-type .type-list a.on{color:#10c55b;border-color:#87e2ad;font-weight: bold;}
.feedback-content .feedback-type .warn-tip{font-size: 12px;color:#fda233;line-height: 34px;display: inline-block;margin-left: 15px;}
.feedback-content .suggest-form .suggest-textarea{position: relative;overflow: hidden;margin-bottom: 20px;width: 682px;}
.feedback-content .suggest-form .suggest-textarea textarea{width: 682px;height: 182px;resize: none;border:1px solid #e3e3e3;outline: none;padding: 15px;}
.feedback-content .suggest-form .suggest-textarea .count-tip{font-size: 12px;color: #888;position: absolute;right: 15px;bottom: 10px;}
.feedback-content .suggest-form .suggest-textarea textarea:focus + .count-tip{display: none;}


.feedback-content .suggest-form input.contact-put{width: 682px;height: 42px;line-height: 42px;font-size: 14px;padding-left: 15px;border:1px solid #e3e3e3;outline:none;margin-bottom: 20px;}
.feedback-content .send-button .qt-btn{width: 100px;height: 40px;line-height: 40px;margin-right: 14px;}
.feedback-content .send-button{padding: 30px 0;}

/*提示弹窗*/
.qt-cover-win{width: 100%;height: 100%;position: fixed;left: 0;top:0;background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);z-index: 999;overflow: hidden;}
.qt-cover-win .win-table{display: table;table-layout: fixed;width: 100%;height: 100%;}
.qt-cover-win .win-table .win-table-cell{display: table-cell;vertical-align: middle;width: 100%;height: 100%;padding: 10px;}
.send-win-cont{width: 260px;margin: 0 auto;position: relative;height: 190px;background:#FFF; -webkit-border-radius:4px;  -moz-border-radius:4px;  border-radius:4px;}


.send-win-cont .close-btn{width: 16px;height: 16px;display: block;background: url("../images/little-common-icons.png") no-repeat -17px -107px;cursor: pointer;position: absolute;right: 10px;top:10px;}
.send-win-cont p{text-align: center;font-size: 14px;color:#666;line-height: 24px;}
.send-win-cont p a{color:#10c55b;}
.send-win-cont .top-bar{padding: 30px 0 20px;text-align: center;}
.send-win-cont .top-bar .bar-icon{display: inline-block;width: 50px;height: 50px;background: url(../images/little-common-icons.png) no-repeat;}
.send-win-cont .top-bar .succ-icon{background-position: 0 0;}
.send-win-cont .top-bar .error-icon{background-position: 0 -52px;}