/*
	������ʽ
	-------------------------------------------------------------
	ͷ�� ���ർ�� ͷ������ ҳ��
	-------------------------------------------------------------
*/
body{
	background:#fff;
	font-size:12px;
	color:#666
}
.w960{
	width:960px
}
.w1000{
	width:1000px
}
.w710{
	width:710px
}
.w290{
	width:290px
}
.wrapper{
	margin:0 auto
}
.mt10{
	margin-top:10px
}
.mt20{
	margin-top:20px
}
.mt30{
	margin-top:30px
}
.mt60{
	margin-top:60px
}
.mb10{
	margin-bottom:10px
}
.mb15{
	margin-bottom:15px
}
.mb20{
	margin-bottom:20px
}
.mb90{
	margin-bottom:90px
}
.mr20{
	margin-right:20px
}
.p5{
	padding-left:5px
}
.vlm{
	vertical-align:middle
}
.h90{
	height:90px
}
a{
	color:#666
}
a:hover{
	text-decoration:underline
}
.nounderline a:hover{
	text-decoration:none
}
/*.header-content{
	height:100px;
	background:url("http://icon.58pic.com/images/show/bj_index_2.png") repeat-x
}
.header-nav{
	height:30px;
	background:url("http://icon.58pic.com/images/show/bj_1.gif") repeat-x
}
.header-nav ul,.header-nav .fr{
	margin-top:9px;
	padding-top:1px
}
.header-nav ul li{
	float:left;
	margin-right:15px;
	display:inline;
	padding-top:1px
}*/
.logo-sina{
	height:20px;
	padding:5px;
	overflow:hidden
}
.logo-sina img{
	position:relative;
	top:-5px
}
.logo-sina a{
	float:left;
	height:20px;
	padding:5px
}
.nav-home{
	width:820px;
	height:100px
}
.nav-home ul li{
	float:left;
	display:inline;
	position:relative
}
.nav-home ul a{
	display:block;
	border-top:3px solid transparent;
	border-left:1px solid #ddd;
	font-family:"΢���ź�";
	font-size:17px;
	line-height:96px;
	width:90px;
	text-align:center;
	_border-top:tomato #FFF
}
.nav-home-last{
	border-right:1px solid #ddd
}
.nav-home ul li a:hover,#nav-home-current{
	border-top:3px solid #3eab35;
	background:#fff;
	color:#32A525
}
.header-nav a{
	font:12px;
	height:30px;
	color:#969696;
	text-align:center
}
.mrg10{
	margin-right:10px
}
.header-content li a:visited{
	color:#666
}
.header-logo{
	width:156px;
	margin-top:18px;
	background:url(http://icon.58pic.com/images/newIndex/homeCombine.png) -427px 0px no-repeat;
	height:64px;
	overflow:hidden
}
.header-logo a{
	display:block;
	height:63px;
	width:156px;
	text-indent:-99999px
}
.header-searchForm{
	margin-left:92px;
	width:750px;
	height:70px;
	margin-top:18px
}
.header-searchForm ul{
	margin-left:5px
}
.header-searchForm ul li{
	float:left
}
.header-searchForm ul a{
	font:14px "΢���ź�";
	float:left;
	height:25px;
	text-align:center;
	line-height:25px;
	padding:0px 15px
}
.header-searchForm ul li .current,.header-searchForm ul a:hover{
	border:1px solid #1e8c14;
	border-bottom:none;
	padding-right:13px;
	color:#fff;
	background:url("http://icon.58pic.com/images/show/nav_bc.jpg") repeat-x
}
.header-search{
	float:left;
	width:587px;
	background:url("http://icon.58pic.com/images/show/bj-border.png") no-repeat;
	padding:11px 0;
	text-indent:8px;
	font-size:18px;
	border:none;
	margin-top:0px
}
.header-searchIcon{
	position:relative;
	left:10px;
	border:none;
	cursor:pointer;
	height:40px;
	width:150px;
	background:url("http://icon.58pic.com/images/show/search-default.png") no-repeat
}
.header-searchIcon:hover{
	background:url("http://icon.58pic.com/images/show/search-hover.png") no-repeat
}
.header-searchIcon:active{
	background:url("http://icon.58pic.com/images/show/search-active.png") no-repeat
}
.home-search{
	padding:24px;
	background:url("http://icon.58pic.com/images/show/bj_index_3.jpg") repeat-x
}
.home-search-form{
	width:750px;
	height:42px;
	display:block
}
.home-search-form input{
	float:left
}
#home-searchInput{
	border:none;
	font-size:18px;
	width:562px;
	padding:12px;
	text-indent:8px;
	height:20px;
	background:url("http://icon.58pic.com/images/newIndex/homeCombine.png") 0 -123px no-repeat;
	overflow:hidden
}
#home-searchIcon{
	margin-top:2px;
	border:none;
	cursor:pointer;
	height:40px;
	width:150px;
	background:url(http://icon.58pic.com/images/newIndex/homeCombine.png) -276px 0px no-repeat;
	overflow:hidden
}
#home-searchIcon:hover{
	background:url(http://icon.58pic.com/images/newIndex/homeCombine.png) -276px -41px no-repeat
}
#home-searchIcon:active{
	background:url(http://icon.58pic.com/images/newIndex/homeCombine.png) -276px -82px no-repeat
}
.statcs table tr td{
	padding-top:1px
}
.footer{
	margin-top:25px;
	border-top:2px solid #38a42f;
	color:#b0b0b0
}
.footer-left a,.footer-right a{
	color:#b0b0b0
}
.footer-left a:hover,.footer-right a:hover{
	text-decoration:underline
}
.footer-left{
	padding:15px 0px
}
.footer-left img{
	vertical-align:middle
}
.footer-right{
	padding:15px 0px
}
.no_reg a{
	color:#38A42F;
	text-decoration:none
}
.no_reg a:hover{
	text-decoration:none
}
.no_reg{
	background:url("http://icon.58pic.com/images/show//bg_b.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #CCCCCC;
	height:57px;
	line-height:57px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	width:1000px
}
.no_reg span{
	color:#666666;
	font-size:16px;
	float:left;
	padding-left:30px;
	width:500px;
	background:url("http://icon.58pic.com/images/show/bg_r.png") no-repeat scroll right center transparent
}
.no-w{
	display:block;
	height:54px;
	line-height:54px;
	margin-left:10px
}
.ml15{
	margin-left:15px
}
.no-zhu{
	width:110px;
	background:url("http://icon.58pic.com/images/show/reg.gif") no-repeat center
}
.no-log{
	width:85px;
	background:url("http://icon.58pic.com/images/show/login.png") no-repeat center
}
.no-wei{
	width:85px;
	background:url("http://icon.58pic.com/images/show/weibo_l.png") no-repeat center
}
.no-QQ{
	width:85px;
	background:url("http://icon.58pic.com/images/show/qq_l.png") no-repeat center
}
.reg_tip{
	text-align:center;
	margin-top:100px;
	margin-bottom:160px
}
.reg_tip_h1{
	text-align:center;
	font-size:38px;
	font-weight:bold;
	font-family:΢���ź�;
	height:50px;
	line-height:50px
}
.reg_tip_h2{
	text-align:center;
	height:20px;
	line-height:20px;
	font-size:14px
}
.reg_tip_log{
	text-align:center;
	height:50px;
	line-height:50px;
	margin-top:20px
}
.reg_tip_log a{
	margin:10px
}
.reg_tip_bot{
	text-align:center;
	margin-top:10px;
	margin-bottom:20px
}
.reg_tip_bot span{
	font-size:16px
}
.reg_tip_regist{
	color:#009933
}
.reg_tip_log{
	color:#FF0000
}
#xiala{
	position:absolute;
	visibility:hidden;
	margin-top:0px;
	padding:0;
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	z-index:100000;
	width:540px;
	left:0px;
	top:99px
}
#xiala a{
	border-left:none;
	border-top:none;
	border-bottom:none;
	height:33px;
	position:relative;
	display:block;
	overflow:hidden;
	width:162px;
	white-space:nowrap;
	padding-left:0px;
	margin:0 7px;
	text-align:left;
	text-decoration:none;
	color:#666666;
	font:14px/40px arial;
	line-height:33px
}
#xiala a:hover{
	color:#3AAB31;
	background:#F2F2F2;
	border-left:none;
	border-top:none;
	border-bottom:none
}
#xiala .nav_border_none{
	border-bottom:none
}
#xiala .nav_border_none:hover{
	border-bottom:none
}
.lg{
	padding:10px;
	background:url("http://icon.58pic.com/images/show/shouye-danghang-lbgt1.png") no-repeat right center
}
.rg{
	padding:10px
}
#xiala2{
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #CCCCCC;
	top:99px;
	left:0px;
	margin-top:0;
	padding:0;
	position:absolute;
	width:90px;
	z-index:100000;
	visibility:hidden;
	border-top:0px
}
#xiala2 a{
	border-left:medium none;
	border-top:medium none;
	color:#666666;
	display:block;
	font:14px/40px arial;
	height:40px;
	position:relative;
	text-align:left;
	text-decoration:none;
	white-space:nowrap;
	width:90px;
	text-align:center
}
#xiala2 a:hover{
	background:none repeat scroll 0 0 #F2F2F2;
	border-left:medium none;
	border-top:medium none;
	color:#3AAB31
}
#xiala2 .nav_border_none{
	border-bottom:medium none
}
#xiala2 .nav_border_none:hover{
	border-bottom:medium none
}
.index-report{
	border-bottom:1px solid #DDDDDD;
	overflow:hidden;
	padding-bottom:10px
}
.index-report ul li{
	height:30px;
	line-height:30px
}
.index-report-a{
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	width:200px;
	overflow:hidden;
	font-size:14px
}
.index-report-a a:hover{
	color:#38A42F
}
.index-report-time{
	display:block;
	height:30px;
	line-height:30px;
	float:right
}
.tip{
	position:relative;
	font-weight:bold
}
.tip_info{
	border:1px solid #F96;
	background:#FFEFEF;
	padding:10px 20px;
	position:absolute;
	top:15px;
	color:#009933;
	display:none;
	z-index:1000000
}
.bottom-sheng{
	height:260px;
	width:1005px;
	margin:0 auto;
	border-bottom:1px solid #CFECCD
}
.bottom-sheng-left{
	width:320px;
	float:left;
	height:100px;
	margin-top:20px
}
.bottom-sheng-main{
	float:left;
	border-left:1px dashed #ddd;
	border-right:1px dashed #ddd;
	width:430px;
	margin-top:30px
}
.bottom-sheng-right{
	float:left;
	width:250px;
	margin-top:30px
}
.bottom-sheng-left-p{
	height:63px
}
.bottom-sheng-left-p p{
	height:63px;
	line-height:63px;
	font-size:25px;
	font-family:΢���ź�;
	color:#838383
}
.bottom-sheng-left-p1{
	height:51px
}
.bottom-sheng-left-p1 p{
	height:51px;
	line-height:51px;
	font-size:25px;
	font-family:΢���ź�;
	color:#838383
}
.jishu-num{
	color:#62B45D
}
.bottom-sheng-right a{
	display:block;
	height:50px;
	width:199px;
	margin: 10px auto 0;
}
.bottom-addFav{
	background:url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat 0 -52px;
}
.bottom-addFav:hover{
	background:url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat 0 0;
}
.bottom-addShow{
	background:url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat -201px -52px;
}
.bottom-addShow:hover{
	background:url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat -201px 0;
}
.bottom-sponsor{
	background: url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat -402px -52px;
}
.bottom-sponsor:hover{
	background: url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat -402px 0;
}
.btbd{
	border-bottom:1px dashed #DCDCDC
}
.btbds{
	border-bottom:1px solid #DCDCDC
}
.xiangdui{
	position:relative
}
.num-xiangxi{
	position:absolute;
	top:-50px;
	left:-270px;
	width:266px;
	height:235px;
	border:1px solid #DFDFDF;
	background-color:#fff;
	z-index:1000;
	background-color:#F9F9F9;
	display:none;

}
.num-xiangxi ul{
	padding:20px
}
.num-xiangxi ul li{
	height:32px;
	line-height:32px;
	font-size:18px;
	font-family:΢���ź�
}
.num-xiangxi-right{
	width:6px;
	height:15px;
	position:absolute;
	top:70px;
	right:-6px;
	background:url("http://icon.58pic.com/images/show/DataStatistics-right.png") no-repeat
}
.search{
	padding:10px 0px 30px 0px;
	width:700px;
	margin-bottom:30px;
	border-bottom:1px solid #dddddd
}
.search ul li{
	float:left;
	width:172px;
	font-size:18px;
	height:30px;
	line-height:30px;
	font-family:΢���ź�
}
.search ul li a:hover{
	color:#3DA237;
	text-decoration:none
}
.shujutongji:hover{
	text-decoration:none
}
.bottom-sheng-main p{
	width:430px;
	margin:0 auto;
	text-align:center;
	color:#53ba4c;
	font-size:29px;
	font-family:"΢���ź�";
	margin-top:10px
}
#right_goTopBtn{
	background:none
}
#right_goTopBtn .right_top a,#right_goTopBtn .right_vip a,#right_goTopBtn .right_user_fav a,#right_goTopBtn .right_user_dl a,#right_goTopBtn .right_bottom a{
	display:block;
	height:55px;
	overflow:hidden;
	margin-bottom:3px
}
#right_goTopBtn .right_top a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 0 no-repeat
}
#right_goTopBtn .right_vip a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -58px no-repeat
}
#right_goTopBtn .right_user_fav a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -118px no-repeat
}
#right_goTopBtn .right_user_dl a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -176px no-repeat
}
#right_goTopBtn .right_bottom a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -235px no-repeat
}
#right_goTopBtn .right_top a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 0 no-repeat
}
#right_goTopBtn .right_vip a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -58px no-repeat
}
#right_goTopBtn .right_user_fav a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -118px no-repeat
}
#right_goTopBtn .right_user_dl a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -176px no-repeat
}
#right_goTopBtn .right_bottom a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -235px no-repeat
}
#bot-logo {
	background:url("http://icon.58pic.com/images/show/bottom_bg.png") no-repeat 0 -112px;
	width:429px;
	height:135px;
}
.qiyeQQ {
	background:url('http://icon.58pic.com/images/show/bottom_bg.png') no-repeat top left;
	width:102px;
	height:24px;
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}
.qqonline {
	background-position:0px -257px;
}
.qqoffline {
	background-position:0px -291px;
}
.viplogo {
	background:url('http://icon.58pic.com/images/newIndex/homeCombine.png') no-repeat top left;
	height:20px;
	width:20px;
	display:block;
	float:left;
	overflow:hidden;
}
.viplogo_header {
	background:url('http://icon.58pic.com/images/newIndex/homeCombine.png') no-repeat top left;
	height:24px;
	width:20px;
	zoom:1;
	display:block;
	overflow:hidden;
}
.viplogo_header_nor {
	background-position:-1px -278px;
}
.viplogo_header_vip {
	background-position:-26px -278px;
}
.viplogo_header_viplife {
	background-position:-50px -278px;
}
.viplogo_nor {
	background-position:-1px -281px;
}
.viplogo_vip {
	background-position:-26px -281px;
}
.viplogo_viplife {
	background-position:-50px -281px;
}
.header-content {
	height:100px;
	background:url("http://icon.58pic.com/images/newIndex/bg_sprt.png") repeat-x 0px -40px;
}
.header-nav {
	height:30px;
	background:url("http://icon.58pic.com/images/newIndex/bg_sprt.png") repeat-x 0px 0px;
}
.header-nav ul,.header-nav .fr {
	margin-top:9px;
	padding-top:1px
}
.header-nav ul li {
	float:left;
	margin-right:15px;
	display:inline;
	padding-top:1px
}