/*
	ËØ²Ää¯ÀÀÒ³¸÷Ä£¿éÑùÊ½
	---------------------------------------------------------------------------------
	Í·²¿ ·ÖÀàµ¼º½ Í·²¿ËÑË÷ Ãæ°üÐ¼Â·¾¶ ËØ²ÄÄÚÈÝ½éÉÜÇøÓò£¨×ó²à£©ËØ²ÄÄÚÈÝ½éÉÜÇøÓò£¨ÓÒ²à£© 
	ÍÆ¼öÍ¼Æ¬ ÆäËû·ÖÀà
	---------------------------------------------------------------------------------
*/
#breadcrumb{
	height:34px;
	background:url("http://icon.58pic.com/images/show/breadcrumb-border.png") 0px 30px no-repeat;
	margin-bottom:30px
}
#browse{
	background:url("http://icon.58pic.com/images/show/current-path.png") no-repeat;
	text-indent:20px;
	height:12px;
	padding:2px;
	font-size:14px;
	width:900px;
	overflow:hidden
}
#show-area{
	width:650px;
	margin-right:20px
}
#show-area h3{
	font-size:16px;
	font-weight:bold;
	color:#999;
	margin-bottom:20px;
	height:17px;
	overflow:hidden;
	padding-top:1px;
	line-height:18px
}
.show-area-pic{
	text-align:center
}
#show-area-height{
	text-align:center
}
#show-detail{
	width:325px
}
.show-area-dscp{
	width:650px;
	margin-top:20px;
	line-height:20px;
	word-wrap:break-word;
	white-space:normal
}
#show-detail{
	padding-bottom:40px;
	position:relative;
	top:35px
}
#show-detail-download{
	display:block;
	width:195px;
	height:62px;
	margin-bottom:20px;
	background:url("http://icon.58pic.com/images/show/download.png")
}
#show-detail-download:hover{
	background:url("http://icon.58pic.com/images/show/download-hover.png")
}
#show-detail-download:active{
	background:url("http://icon.58pic.com/images/show/download-active.png")
}
.fav{
	display:inline;
	height:62px;
	margin-bottom:20px;
	margin-right:20px;
	width:101px
}
#show-detail-fav{
	background:url("http://icon.58pic.com/images/show/fav-default.png")
}
#show-detail-fav:hover{
	background:url("http://icon.58pic.com/images/show/fav-hover.png")
}
#show-detail-fav:active{
	background:url("http://icon.58pic.com/images/show/fav-active.png")
}
#show-detail-rfav{
	background:url("http://icon.58pic.com/images/show/favr-default.png")
}
#show-detail-rfav:hover{
	background:url("http://icon.58pic.com/images/show/favr-hover.png")
}
#show-detail-rfav:active{
	background:url("http://icon.58pic.com/images/show/favr-active.png")
}
.show-detail-dl_dscp span{
	display:inline-block;
	width:80px;
	padding-top:1px
}
#bdshare{
	margin-top:15px
}
.show-detail-params{
	margin-top:10px
}
.show-detail-params td,.show-detail-params th{
	padding-top:8px;
	padding-bottom:8px;
	padding-left:1px;
	height:10px;
	overflow:hidden
}
.show-detail-params td{
	height:10px;
	overflow:hidden
}
.show-detail-params th{
	font-size:18px;
	color:#333;
	font-weight:bolder
}
#banner{
	height:32px;
	width:960px;
	border-top:1px solid #dbdbdb;
	margin-bottom:20px
}
#banner img{
	margin-top:-2px;
	border:none
}
.flow-box{
	float:left;
	display:inline;
	width:224px;
	height:auto;
	margin-right:10px;
	margin-bottom:15px;
	padding-top:11px;
	padding-bottom:7px;
	border:1px solid #e9e9e9
}
.flow-thumb{
	text-align:center
}
.flow-info{
	width:200px;
	margin-left:15px
}
.flow-info p{
	line-height:170%;
	padding-top:3px;
	height:20px;
	overflow:hidden;
	width:150px;
	*position:relative
}
.flow-info p.fl{
	margin-top:-4px
}
.flow-dl{
	width:43px;
	height:26px;
	margin-top:-8px;
	background:url("http://icon.58pic.com/images/show/fdl-default.png")
}
.flow-dl:hover{
	background:url("http://icon.58pic.com/images/show/fdl-hover.png")
}
.flow-dl:active{
	background:url("http://icon.58pic.com/images/show/fdl-active.png")
}
.flow-border{
	position:absolute;
	bottom:0;
	font-size:0;
	background:url("http://icon.58pic.com/images/show/flow-border.png");
	width:224px;
	height:3px;
	position:relative;
	top:6px
}
.categories{
	width:972px;
	margin-top:20px;
	border-top:1px dotted #dcdcdc;
	padding-top:20px;
	padding-bottom:5px
}
.categories ul{
	
}
.categories ul li{
	float:left;
	width:220px;
	display:inline;
	margin-right:13px;
	padding-bottom:11px;
	padding-top:1px;
	overflow:hidden;
	height:1px;
	margin-bottom:10px
}
.categories ul li a:hover{
	text-decoration:underline
}
.padding-t{
	margin-top:5px
}
.category{
	width:980px;
	padding-left:20px;
	border:1px solid #E2E1E1
}
#cat_breadcrumb{
	font-size:14px;
	font-weight:bold;
	color:#666;
	margin-bottom:15px
}
.category ul a{
	color:#999
}
.category ul a:hover{
	color:#38a42f
}
.cat-order{
	background:#f7f7f7;
	width:1000px
}
.cat-order span,.cat-order a,.cat-order div{
	padding:10px;
	margin-left:5px
}
.pager{
	width:1000px;
	height:46px;
	border:1px solid #c8c8c8;
	background:url("http://icon.58pic.com/images/show/pager-nor.png");
	margin:auto;
	margin-top:20px;
	margin-bottom:90px
}
.pager-linkPage{
	float:left;
	margin-left:100px
}
.pager a,.pager span{
	float:left;
	display:inline;
	padding:15px;
	font-size:16px;
	color:#999;
	font-weight:bold;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	_border-left-color:tomato;
	_border-right-color:tomato;
	_filter:chroma(color=tomato)
}
.pager a.upPage,.pager a.downPage{
	padding:15px 35px
}
.pager a.downPage{
	float:right
}
.pager a:hover{
	color:#38a42f;
	background:url("http://icon.58pic.com/images/show/pager-current.png");
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8
}
.pager .current{
	background:#fbfbfb;
	color:#38a42f;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8
}
.page .current{
	background:#38a42f;
	color:#fff
}
.page a:hover{
	background:#38a42f;
	color:#fff
}
#cat-current{
	color:#38A42F
}
.home-banner{
	height:30px
}
.home-categories{
	padding-top:20px;
	border-top:1px solid #ddd;
	width:698px
}
.home-categories ul p{
	margin-bottom:10px
}
.home-categories ul{
	width:170px;
	float:left
}
.home-categories ul a{
	text-decoration:none;
	font-size:14px;
	display:block;
	padding:10px;
	overflow:hidden;
	height:4px;
	margin-bottom:10px
}
.home-categories ul a:hover{
	color:#38a42f;
	text-decoration:underline
}
.border-left{
	border-left:1px solid #ddd
}
.addFav{
	width:290px;
	height:65px;
	background:url("http://icon.58pic.com/images/show/shoucang-nor.png")
}
.addFav a{
	width:145px;
	height:65px;
	font-size:0;
	z-index:-1;
	float:left
}
.statcs table{
	width:290px;
	height:180px;
	border-bottom:1px solid #ddd
}
.statcs table td,.statcs table th{
	padding:0 0 20px 0;
	font-size:14px
}
.report{
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
	overflow:hidden
}
.report .report_nav{
	display:block;
	height:50px
}
.report ul li{
	width:100%;
	height:28px;
	line-height:28px;
	float:left;
	color:#666;
	font-size:14px
}
.report a{
	float:left;
	height:28px;
	line-height:28px;
	width:190px;
	overflow:hidden
}
.report a:hover{
	color:#38a42f
}
.report span{
	font-family:Arial;
	float:right
}
.report_bottom{
	margin-bottom:20px
}
.newest-block img{
	width:68px;
	height:65px
}
.newest-block{
	width:290px;
	height:65px;
	margin-bottom:10px;
	background:
}
.newest-block .fr{
	width:222px
}
.newest-block .fr a,.newest-block .fr p{
	display:block;
	padding:9px;
	height:4px;
	line-height:13px;
	overflow:hidden
}
.newest-block .fr a:hover{
	color:#38a42f
}
.newest-bj{
	background:rgb(243,253,242)
}
.hotSearch{
	width:290px
}
.hotSearch ul li{
	float:left;
	color:rgb(153,153,153);
	font-size:14px;
	padding:8px 8px 8px 0;
	height:25px;
	line-height:25px;
	overflow:hidden;
	margin:0 5px;
	word-break:keep-all;
	white-space:nowrap
}
.hotSearch a:hover{
	color:#38a42f
}
.friendship{
	border-top:1px dashed #ddd;
	overflow:hidden;
	height:225px;
	overflow:hidden
}
.friend{
	width:910px;
	padding:0 45px 20px
}
.friend-control li{
	float:left;
	font:16px "Î¢ÈíÑÅºÚ";
	font-weight:bold
}
.friend-control li a{
	display:block;
	padding:20px
}
.friend-control li a:hover{
	color:#38a42f;
	text-decoration:none
}
.friend-list li{
	float:left;
	height:25px;
	padding:0 10px;
	line-height:25px
}
.friend-list a{
	color:#ccc;
	font-size:14px;
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	overflow:hidden;
	margin:0 5px;
	word-break:keep-all;
	white-space:nowrap
}
.friend-list a:hover{
	color:#38a42f
}
#slideshow{
	height:320px;
	overflow:hidden
}
#slideshow img{
	height:320px
}
.sliderBtn{
	background:url("http://icon.58pic.com/images/show/slideshow/sprite.png") no-repeat;
	cursor:pointer;
	height:100px;
	position:relative;
	top:30%;
	z-index:100;
	width:45px
}
#prevBtn{
	left:0;
	float:left
}
#nextBtn{
	background-position:right top;
	right:0;
	float:right
}
#btnList{
	height:25px;
	position:absolute;
	padding:0 10px 0 10px;
	left:-330px;
	bottom:-5px
}
.num{
	width:22px;
	height:22px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	background:#90EE90;
	float:right;
	border:1px solid #ccc;
	overflow:hidden
}
.num_act{
	width:22px;
	height:22px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	background:#EEB422;
	float:right;
	border:1px solid #ccc;
	overflow:hidden
}
.num_hover{
	width:22px;
	height:22px;
	line-height:25px;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	background:#FFAEB9;
	float:right;
	border:1px solid #ccc;
	overflow:hidden
}
.square{
	width:11px;
	height:11px;
	float:right;
	background:#999;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.square_act{
	width:11px;
	height:11px;
	float:right;
	background:#ADD8E6;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.square_hover{
	width:11px;
	height:11px;
	float:right;
	background:blue;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.circle{
	width:12px;
	height:13px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/circle.png) 0 0 no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.circle_act{
	width:13px;
	height:13px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/circle.png) 0 -13px no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.circle_hover{
	width:13px;
	height:13px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/circle.png) 0 -26px no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.roundness{
	width:12px;
	height:12px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/roundness.png) no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.roundness_act{
	width:13px;
	height:13px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/roundness.png) 0 -12px no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.roundness_hover{
	width:13px;
	height:13px;
	float:right;
	background:url(http://icon.58pic.com/images/show/slideshow/roundness.png) 0 -24px no-repeat;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.rectangle{
	width:25px;
	height:10px;
	float:right;
	background:#D15FEE;
	cursor:pointer;
	margin-right:5px;
	opacity:0.7;
	overflow:hidden
}
.rectangle_act{
	width:25px;
	height:10px;
	float:right;
	background:#CDCD00;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.rectangle_hover{
	width:25px;
	height:10px;
	float:right;
	background:blue;
	cursor:pointer;
	margin-right:5px;
	overflow:hidden
}
.download-page{
	width:735px;
	margin-top:20px;
	background:#f4f4f4;
	overflow:hidden
}
.download-content{
	width:288px;
	padding-top:35px
}
.download-content h2{
	font-size:15px;
	font-weight:bolder;
	color:#6b6b6b;
	text-align:center;
	padding:16px;
	width:280px
}
.download-content h2 span{
	color:#38a42f
}
.download-btn{
	width:133px;
	height:44px
}
.download-dx{
	background:url("http://icon.58pic.com/images/show/download-dx.png")
}
.download-xl{
	background:url("http://icon.58pic.com/images/show/download-xl.png")
}
.download-content textarea{
	width:92%;
	height:120px;
	padding:10px
}
#banner_2{
	background:url(http://icon.58pic.com/images/show/back_02.jpg) repeat-x
}
#banner_3{
	width:100%
}
#banner_3 .banner_top{
	display:block;
	background:url(http://icon.58pic.com/images/show/top.jpg) no-repeat top center;
	height:109px
}
#banner_3 .banner_main1{
	display:block;
	background:url(http://icon.58pic.com/images/show/main1.jpg) no-repeat top center;
	height:114px
}
#banner_3 .banner_main2{
	display:block;
	background:url(http://icon.58pic.com/images/show/main2.jpg) no-repeat top center;
	height:123px
}
#banner_3 .banner_bottom{
	display:block;
	background:url(http://icon.58pic.com/images/show/bottom.jpg) no-repeat top center;
	height:138px
}
#banner_image{
	margin:0 auto;
	width:1000px;
	height:101px;
	position:relative
}
#banner_image a{
	background:url(http://icon.58pic.com/images/show/QQ01.png) no-repeat;
	position:absolute;
	left:28%;
	top:5%;
	display:block;
	height:85px;
	width:163px
}
.banner_ul{
	width:100%;
	text-align:center;
	background-color:#FCC900
}
.banner_ul ul{
	width:392px;
	height:62px;
	margin:0 auto;
	padding:0
}
.banner_ul ul li{
	float:left;
	width:49%;
	height:62px;
	line-height:50px
}
.banner_ul .back_img1{
	background:url(http://icon.58pic.com/images/show/best.jpg) no-repeat
}
.banner_ul .back_img2{
	background:url(http://icon.58pic.com/images/show/main.jpg) no-repeat
}
.banner_ul li a{
	text-align:center;
	font-size:22px;
	color:#fff;
	font-weight:600;
	display:block;
	height:62px;
	width:100%
}
.banner_ul .back_img1 a:hover,.banner_ul .back_img1 .content{
	background:url(http://icon.58pic.com/images/show/best_hover.jpg) no-repeat
}
.banner_ul .back_img2 a:hover,.banner_ul .back_img2 .content{
	background:url(http://icon.58pic.com/images/show/main_hover.jpg) no-repeat
}
.background{
	background:url(http://icon.58pic.com/images/show/bg.png) repeat
}
.content_1{
	width:1000px;
	margin:0 auto;
	color:#666
}
.content_1 h1{
	color:#6B6B6B;
	font-size:60px;
	font-weight:bold;
	text-align:center;
	line-height:150px
}
.content_2 p{
	color:#666;
	line-height:25px;
	margin-left:5px;
	font-size:16px
}
.content_2 h2,.content_3 h2{
	color:#000;
	border-bottom:1px solid #999;
	height:35px;
	line-height:35px;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	padding-top:30px
}
.content_2 table,.content_3 table{
	width:900px;
	line-height:30px;
	margin-top:40px;
	font-size:14px
}
.content_3 table{
	color:#333
}
.content_2 table th{
	background-color:#CCCCCC;
	text-align:center
}
.content_2 table td{
	height:60px;
	line-height:60px;
	border-bottom:1px solid #CCCCCC;
	padding-left:20px
}
.content_2 table_2 td{
	height:30px;
	line-height:30px;
	border:none
}
.content_3 table td{
	color:#333
}
#img{
	width:100%;
	height:200px;
	line-height:200px
}
#img a{
	display:block;
	height:53px;
	width:230px;
	background:url(http://icon.58pic.com/images/show/1_25.png) no-repeat center;
	margin:40px auto
}
#img a:hover{
	background:url(http://icon.58pic.com/images/show/jiaohu.png) no-repeat center
}
#header-nav{
	border:1px solid
}
.banner .banner-box{
	width:974px;
	margin:0 auto;
	margin-top:-4px
}
.time-content{
	width:974px;
	margin:20px auto 40px;
	background:url(http://icon.58pic.com/images/show/report/report_main.jpg) center top repeat-y;
	position:relative
}
.time-label{
	margin:0 auto 20px;
	width:80px;
	height:26px;
	background:url(http://icon.58pic.com/images/show/report/report_time.jpg) no-repeat;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:26px
}
.time-box{
	margin-top:20px
}
.time-left,.time-right{
	width:447px;
	float:left;
	position:relative;
	padding:1px;
	z-index:1
}
.time-left .time-left-arr,.time-right .time-right-arr{
	width:46px;
	height:25px;
	display:block;
	position:absolute;
	top:20px;
	z-index:3
}
.time-left .time-left-arr{
	background:url(http://icon.58pic.com/images/show/report/report_left.jpg) no-repeat;
	right:-44px;
	_right:-45px
}
.time-right .time-right-arr{
	background:url(http://icon.58pic.com/images/show/report/report_right.jpg) no-repeat;
	left:-44px
}
.time-right{
	margin-left:76px
}
.time-box-cont{
	border:1px solid #d5d9e2;
	background-color:#fff;
	margin-bottom:4px;
	padding:19px
}
.time-box-ctit{
	border-bottom:1px solid #dbdbdb;
	padding-bottom:6px;
	padding-top:4px;
	zoom:1
}
.time-box-ctit a{
	font-size:18px;
	color:#333;
	line-height:18px
}
.time-box-ctit font{
	float:right;
	font-size:14px;
	color:#666
}
.time-box-ccont{
	padding:10px 0;
	width:407px;
	overflow:hidden
}
.mt30{
	margin-top:30px
}
#right_goTopBtn{
	width:54px;
	height:231px;
	position:fixed;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	right:10px;
	bottom:25%;
	background-image:url("http://icon.58pic.com/images/right/right.png");
	background-repeat:no-repeat;
	background-position:right top;
	z-index:1000
}
#right_goTopBtn .right_top a{
	display:block;
	height:58px
}
#right_goTopBtn .right_top a:hover{
	background-image:url("http://icon.58pic.com/images/right/right_hover.png")
}
#right_goTopBtn .right_user_fav a{
	display:block;
	height:55px
}
#right_goTopBtn .right_user_fav a:hover{
	background-image:url("http://icon.58pic.com/images/right/right_hover.png");
	background-position:0 -58px
}
#right_goTopBtn .right_user_dl a{
	display:block;
	height:59px
}
#right_goTopBtn .right_user_dl a:hover{
	background-image:url("http://icon.58pic.com/images/right/right_hover.png");
	background-position:0 -113px
}
#right_goTopBtn .right_bottom a{
	display:block;
	height:59px
}
#right_goTopBtn .right_bottom a:hover{
	background-image:url("http://icon.58pic.com/images/right/right_hover.png");
	background-position:0 -172px
}
#user-home-menu{
	overflow:hidden;
	margin-top:0px;
	float:right
}
.user-fav{
	display:block;
	width:91px;
	height:39px;
	background:url("http://icon.58pic.com/images/show/user/bkd-fav1.png") no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	display:none
}
.user-fav:hover{
	background:url("http://icon.58pic.com/images/show/user/bkd-fav-h.png") no-repeat
}
.user-fav:active{
	background:url("http://icon.58pic.com/images/show/user/bkd-fav-c.png") no-repeat
}
.user-rfav{
	display:block;
	width:91px;
	height:39px;
	background:url("http://icon.58pic.com/images/show/user/bkd-favr1.png") no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	display:none
}
.user-rfav:hover{
	background:url("http://icon.58pic.com/images/show/user/bkd-favr-h.png") no-repeat
}
.user-rfav:active{
	background:url("http://icon.58pic.com/images/show/user/bkd-favr-c.png") no-repeat
}
.user-dl{
	background:url("http://icon.58pic.com/images/show/user/download.png") no-repeat;
	height:39px;
	right:10px;
	position:absolute;
	top:10px;
	width:91px;
	display:none
}
.user-dl:hover{
	background:url("http://icon.58pic.com/images/show/user/download-h.png") no-repeat
}
.user-dl:active{
	background:url("http://icon.58pic.com/images/show/user/download-c.png") no-repeat
}
.download-page .dl-error-h2{
	width:610px;
	height:44px;
	line-height:44px;
	margin:0 auto;
	padding-top:100px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ
}
.download-page .dl-error-h2 .dl-error{
	float:left;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ
}
#dl-login{
	background:url("http://icon.58pic.com/images/show/dl-login.gif") no-repeat;
	float:left;
	width:133px;
	height:44px
}
#dl-reg{
	background:url("http://icon.58pic.com/images/show/dl-reg.gif") no-repeat;
	float:left;
	width:133px;
	height:44px
}
.paihangbang{
	width:133px;
	height:49px;
	margin-right:6px
}
.downloadHover{
	background:url("http://icon.58pic.com/images/show/Downloadhouer.png") no-repeat
}
.downloadHover:hover{
	background:url("http://icon.58pic.com/images/show/Downloadhouer-h.png") no-repeat
}
.downloadHover:active{
	background:url("http://icon.58pic.com/images/show/Downloadhouer-c.png") no-repeat
}
.downloadDay{
	background:url("http://icon.58pic.com/images/show/DownloadDay.png") no-repeat
}
.downloadDay:hover{
	background:url("http://icon.58pic.com/images/show/DownloadDay-h.png") no-repeat
}
.downloadDay:active{
	background:url("http://icon.58pic.com/images/show/DownloadDay-c.png") no-repeat
}
.downloadWeek{
	background:url("http://icon.58pic.com/images/show/DownloadWeek.png") no-repeat
}
.downloadWeek:hover{
	background:url("http://icon.58pic.com/images/show/DownloadWeek-h.png") no-repeat
}
.downloadWeek:active{
	background:url("http://icon.58pic.com/images/show/DownloadWeek-c.png") no-repeat
}
.downloadMonth{
	background:url("http://icon.58pic.com/images/show/DownloadMonth.png") no-repeat
}
.downloadMonth:hover{
	background:url("http://icon.58pic.com/images/show/DownloadMonth-h.png") no-repeat
}
.downloadMonth:active{
	background:url("http://icon.58pic.com/images/show/DownloadMonth-c.png") no-repeat
}
.downloadTotal{
	background:url("http://icon.58pic.com/images/show/DownloadTotal.png") no-repeat
}
.downloadTotal:hover{
	background:url("http://icon.58pic.com/images/show/DownloadTotal-h.png") no-repeat
}
.downloadTotal:active{
	background:url("http://icon.58pic.com/images/show/DownloadTotal-c.png") no-repeat
}
.showPai{
	height:55px;
	width:960px;
	margin-top:30px
}
.wh{
	width:184px;
	height:55px
}
.marginL{
	margin-left:10px
}
.dl{
	background:url("http://icon.58pic.com/images/paihang/24Dl.png") no-repeat
}
.dl:hover{
	background:url("http://icon.58pic.com/images/paihang/24Dl-h.png") no-repeat
}
.dl:active{
	background:url("http://icon.58pic.com/images/paihang/24Dl-c.png") no-repeat
}
.daydl{
	background:url("http://icon.58pic.com/images/paihang/dayDl.png") no-repeat
}
.daydl:hover{
	background:url("http://icon.58pic.com/images/paihang/dayDl-h.png") no-repeat
}
.daydl:active{
	background:url("http://icon.58pic.com/images/paihang/dayDl-c.png") no-repeat
}
.weekdl{
	background:url("http://icon.58pic.com/images/paihang/weekDl.png") no-repeat
}
.weekdl:hover{
	background:url("http://icon.58pic.com/images/paihang/weekDl-h.png") no-repeat
}
.weekdl:active{
	background:url("http://icon.58pic.com/images/paihang/weekDl-c.png") no-repeat
}
.mdl{
	background:url("http://icon.58pic.com/images/paihang/MDl.png") no-repeat
}
.mdl:hover{
	background:url("http://icon.58pic.com/images/paihang/MDl-h.png") no-repeat
}
.mdl:active{
	background:url("http://icon.58pic.com/images/paihang/MDl-c.png") no-repeat
}
.zdl{
	background:url("http://icon.58pic.com/images/paihang/ZDl.png") no-repeat
}
.zdl:hover{
	background:url("http://icon.58pic.com/images/paihang/ZDl-h.png") no-repeat
}
.zdl:active{
	background:url("http://icon.58pic.com/images/paihang/ZDl-c.png") no-repeat
}
.l-upload{
	background:url("http://icon.58pic.com/images/show/misc/go_up.png") no-repeat
}
.l-upload:hover{
	background:url("http://icon.58pic.com/images/show/misc/go_up_hover.png") no-repeat
}
.l-sp{
	background:url("http://icon.58pic.com/images/show/misc/go_sp.png") no-repeat
}
.l-sp:hover{
	background:url("http://icon.58pic.com/images/show/misc/go_sp_hover.png") no-repeat
}
.l-hw{
	background:url("http://icon.58pic.com/images/show/misc/go_hw.png") no-repeat
}
.l-hw:hover{
	background:url("http://icon.58pic.com/images/show/misc/go_hw_hover.png") no-repeat
}
.l-tb{
	background:url("http://icon.58pic.com/images/show/misc/go_tb.png") no-repeat
}
.l-tb:hover{
	background:url("http://icon.58pic.com/images/show/misc/go_tb_hover.png") no-repeat
}
.l-ps{
	background:url("http://icon.58pic.com/images/show/misc/go_ps.png") no-repeat
}
.l-ps:hover{
	background:url("http://icon.58pic.com/images/show/misc/go_ps_hover.png") no-repeat
}
.showPai .whl{
	width:470px;
	height:55px
}
.showPai .ps-1{
	background:url("http://icon.58pic.com/images/paihang/shangchuang.png") no-repeat
}
.showPai .ps-1:hover{
	background:url("http://icon.58pic.com/images/paihang/shangchuan_hover.png") no-repeat
}
.showPai .hw-1{
	background:url("http://icon.58pic.com/images/paihang/tuiguang.png") no-repeat
}
.showPai .hw-1:hover{
	background:url("http://icon.58pic.com/images/paihang/tuiguang_hover.png") no-repeat
}
.showPai{
	margin-top:60px
}
.showPai.dilan{
	margin-top:15px
}
.showPai.dilan .marginL{
	margin-left:20px
}
#right_goTopBtn{
	background:none
}
#right_goTopBtn .right_top a,#right_goTopBtn .right_vip a,#right_goTopBtn .right_user_fav a,#right_goTopBtn .right_user_dl a,#right_goTopBtn .right_bottom a{
	display:block;
	height:55px;
	overflow:hidden;
	margin-bottom:3px
}
#right_goTopBtn .right_top a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 0 no-repeat
}
#right_goTopBtn .right_vip a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -58px no-repeat
}
#right_goTopBtn .right_user_fav a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -118px no-repeat
}
#right_goTopBtn .right_user_dl a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -176px no-repeat
}
#right_goTopBtn .right_bottom a{
	background:url("http://icon.58pic.com/images/right/right_v1.1.png") 0 -235px no-repeat
}
#right_goTopBtn .right_top a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 0 no-repeat
}
#right_goTopBtn .right_vip a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -58px no-repeat
}
#right_goTopBtn .right_user_fav a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -118px no-repeat
}
#right_goTopBtn .right_user_dl a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -176px no-repeat
}
#right_goTopBtn .right_bottom a:hover{
	background:url("http://icon.58pic.com/images/right/right_hover_v1.1.png") 0 -235px no-repeat
}
.sokeyup .recent-tip{
	float:left;
	display:inline-block;
	width:100%;
	padding-left:20px;
	line-height:16px;
	height:25px;
	_height:15px;
	color:#ccc;
	font-size:14px;
	font-family:"Î¢ÈíÑÅºÚ"
}
#keyup_d{
	overflow:hidden
}