.model-com {
  display: block;
  position: fixed;
  z-index: 10000000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.model-com .model-bg {
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 100%;
}
.model-com .model-dialog {
  width: 530px;
  height: 360px;
  position: absolute;
  left: 50%;
  margin-left: -265px;
  top: 200px;
  background-color: white;
  border-radius: 5px;
}
.model-com .model-title{
  text-align: center;
  font-size:24px;
  color: #333333;
  height: 90px;
  line-height:90px;
}
.model-com .model-content{
  margin: 10px 40px;
  height: 170px;
}
.model-com .model-content p{
  font-size: 18px;
  color: #333333;
  line-height: 28px;
}
.model-com .model-foot a{
    text-align: center;
    display: block;
    background-color: #44b937;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 46px;
    line-height:46px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.model-com .model-foot a:hover{
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}