/*info-banner*/
body{
    background-color: #F4F4F4;
}
a, a:hover {
    text-decoration: none;
}

.autoW1200 {
    width: 1200px;
    margin: 0 auto;
}

/*搜索*/
#nbks-sousuo {
    float: right;
    position: relative;
    margin: 21px 0;
}

#nbks-sousuo .nbks-input {
    width: 587px;
    border: 1px solid #ddd;
    border-right: none;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    text-indent: 1em;
    float: left;
    outline: none;
}

#nbks-sousuo .s-btn {
    width: 100px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    float: left;
    border: none;
    outline: none;
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#nbks-sousuo .s-btn:hover {
    opacity: .8;
alpha(opacity = 80)
}

#nbks-sousuo .nbks-all {
    background-color: #3ebb2b;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#nbks-sousuo .nbks-yc {
    background-color: #ff782f;
}

#nbks-sousuo .sokeyup {
    position: absolute;
    top: 47px;
    width: 587px;
    left: 0;
}

.nbk-infoBanner {
    width: 100%;
    height: 160px;
    background: url(http://icon.qiantucdn.com/images/user/info-banner.jpg) repeat-x center;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.nbk-user .user-info dl {
    padding: 23px 0;
}

.nbk-user .user-info dt img {
    width: 102px;
    height: 102px;
    border: 5px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.nbk-user .user-info dd {
    margin: 23px 0 23px 23px;
}

.nbk-user .user-info dd span {
    color: #fff;
}

.nbk-user .user-info dd .Uname {
    font-size: 24px;
    color: #fff;
    text-shadow: 0 1px 6px rgba(0, 0, 0, .6);
    line-height: 36px;
}

.nbk-user .user-info dd .Uname i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(http://icon.qiantucdn.com/images/homecenter/public_v7.png) no-repeat;
}

.nbk-user .user-info dd .Uname .novip-icon {
    background-position: 0 -185px;
}

.nbk-user .user-info dd .Uname .ycvip-icon {
    background-position: -30px -185px;
}

.nbk-user .user-info dd .Uname .scvip-icon {
    background-position: -90px -185px;
}

.nbk-user .user-info dd .Uname .super-scvip-icon {
    background-position: -60px -185px;
}

.nbk-user .user-info dd .Uname .super-ycvip-icon {
    background-position: -121px -185px;
}

.nbk-user .user-info dd .Uid {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, .6);
}

/**/
.nbk-infoContainer {
    margin-top: 12px;
}

.nbk-cont .tak-options {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.nbk-cont .tak-options li a {
    width: 138px;
    height: 56px;
    padding: 0 25px;
    line-height: 56px;
    background-color: #fff;
    font-size: 16px;
    color: #666;
    display: block;
    text-decoration: none;
}

.nbk-cont .tak-options li a:hover, .nbk-cont .tak-options li a.on {
    background-color: #3dbb2b;
    color: #fff;
}

.nbk-cont .tak-options li a i {
    display: inline-block;
    width: 16px;
    height: 17px;
    background: url(http://icon.qiantucdn.com/images/user/takm-icons.png) no-repeat;
    vertical-align: -2px;
    margin-right: 15px;
}

.nbk-cont .tak-options li a .hm-ico {
    background-position: 0 0;
}

.nbk-cont .tak-options li a .up-ico {
    background-position: 0 -25px;
}

.nbk-cont .tak-options li a .sc-ico {
    background-position: 0 -51px;
}

.nbk-cont .tak-options li a .dw-ico {
    background-position: 0 -75px;
}

.nbk-cont .tak-options li a .rc-ico {
    background-position: 0 -100px;
}

.nbk-cont .tak-options li a .tb-ico {
    background-position: 0 -123px;
}

.nbk-cont .tak-options li a .st-ico {
    background-position: 0 -147px;
}

.nbk-cont .tak-options li a:hover .hm-ico, .nbk-cont .tak-options li a.on .hm-ico {
    background-position: -24px 0;
}

.nbk-cont .tak-options li a:hover .up-ico, .nbk-cont .tak-options li a.on .up-ico {
    background-position: -24px -25px;
}

.nbk-cont .tak-options li a:hover .sc-ico, .nbk-cont .tak-options li a.on .sc-ico {
    background-position: -24px -51px;
}

.nbk-cont .tak-options li a:hover .dw-ico, .nbk-cont .tak-options li a.on .dw-ico {
    background-position: -24px -75px;
}

.nbk-cont .tak-options li a:hover .rc-ico, .nbk-cont .tak-options li a.on .rc-ico {
    background-position: -24px -100px;
}

.nbk-cont .tak-options li a:hover .tb-ico, .nbk-cont .tak-options li a.on .tb-ico {
    background-position: -24px -123px;
}

.nbk-cont .tak-options li a:hover .st-ico, .nbk-cont .tak-options li a.on .st-ico {
    background-position: -24px -147px;
}

/*右边内容*/
.nbk-cont .tak-main {
    width: 998px;
}

.tak-main .tkm-top .into-item {
    width: 443px;
    height: 56px;
    background-color: #fff;
    line-height: 56px;
    padding: 0 24px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.tak-main .tkm-top .into-item a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    height: 34px;
    color: #fff;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    margin: 11px 0;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.tak-main .tkm-top .into-item a:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.tak-main .tkm-top .into-item span {
    font-size: 16px;
    color: #666;
}

.tak-main .tkm-top .into-item i {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -2px;
    margin-right: 10px;
}

.tak-main .tkm-top .into-sc i {
    background: url("http://icon.qiantucdn.com/images/public_v7.png") no-repeat -60px -185px;
}

.tak-main .tkm-top .into-sc em {
    font-style: normal;
    color: #ff6c00;
}

.tak-main .tkm-top .into-sc .joinBtn {
    background-color: #ff6c00;
}

.tak-main .tkm-top .into-yc i {
    background: url("http://icon.qiantucdn.com/images/public_v7.png") no-repeat -121px -185px;
}

.tak-main .tkm-top .into-yc em {
    font-style: normal;
    color: #00a374;
}

.tak-main .tkm-top .into-yc .joinBtn {
    background-color: #00a374;
}

.tak-main .tkm-mid {
    margin-top: 12px;
    padding: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.tak-main .tkm-mid .mid-options {
    margin-right: -12px;
}

.tak-main .tkm-mid .mid-options a {
    display: block;
    width: 228px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 16px;
    text-decoration: none;
    margin: 0 12px 12px 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.tak-main .tkm-mid .mid-options a i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(http://icon.qiantucdn.com/images/user/takm-icons.png) no-repeat;
    margin-right: 12px;
    vertical-align: -6px;
}

.tak-main .tkm-mid .mid-options .my-homep:hover {
    background-color: #469cf5;
    color: #fff;
}

.tak-main .tkm-mid .mid-options .ht-qiant:hover {
    background-color: #ff4172;
    color: #fff;
}

.tak-main .tkm-mid .mid-options .zz-qiant:hover {
    background-color: #ff0033;
    color: #fff;
}

.tak-main .tkm-mid .mid-options .sc-sugg:hover {
    background-color: #3ebb2b;
    color: #fff;
}

.tak-main .tkm-mid .mid-options .my-homep i {
    background-position: -56px -66px;
}

.tak-main .tkm-mid .mid-options .ht-qiant i {
    background-position: -56px -100px;
}

.tak-main .tkm-mid .mid-options .zz-qiant i {
    background-position: -56px -132px;
}

.tak-main .tkm-mid .mid-options .sc-sugg i {
    background-position: -56px -194px;
}

.tkm-mid .mid-more .midm-item {
    margin-top: 15px;
}

.tkm-mid .mid-more .midm-item p {
    font-size: 16px;
    color: #666;
    line-height: 36px;
}

.tkm-mid .mid-more .midm-item a {
    display: block;
    width: 108px;
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    color: #666;
    background-color: #f4f4f4;
    margin-right: 12px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.tkm-mid .mid-more .midm-item a:hover {
    color: #fff;
    background-color: #3dbb2b;
}

/*tkm-butmBox*/
.tak-main .tkm-butmBox {
    padding: 0 12px;
    background-color: #fff;
    margin-top: 12px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

/*图片列列表*/
.tmk-picList-cont {
    margin-right: -12px;
}

.tmk-picList-tit {
    padding-top: 6px;
}

.tmk-picList-tit h2 {
    font-size: 20px;
    color: #333;
    line-height: 42px;
    float: left;
}

.tmk-picList-tit .more {
    color: #666;
    float: right;
    line-height: 42px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    padding-right: 2px;
}

.tmk-picList-tit .more i {
    background: url(http://icon.qiantucdn.com/images/homecenter/icon_v6.png) no-repeat 0 -1391px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: -2px;
}

.tmk-picList-tit .more:hover {
    color: #ff6c00;
}

.tmk-picList-tit .more:hover i {
    background-position: -24px -1391px;
}

.tmk-picList-item {
    width: 224px;
    background-color: #fff;
    padding: 6px 4px 0;
    position: relative;
    overflow: hidden;
    margin: 0 12px 20px 0;
    border: 1px solid #e6e6e6;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.tmk-picList-item:hover {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.tmk-picList-item .li-img img {
    text-align: center;
}

.tmk-picList-item .li-img img {
    width: 224px;
    height: 226px;
}

.tmk-picList-item .li-info p {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #666;
    background: #fff;
    text-align: center;
}

.tmk-picList-item .li-info-picop {
    border-top: 1px solid #eee;
}

.tmk-picList-item .li-info-picop .picop-cbox {
    text-align: center;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    width: 49.6%;
    cursor: pointer;
}

.tmk-picList-item .li-info-picop .picop-cbox .scthispicspan {
    background: url(http://icon.qiantucdn.com/images/homecenter/icon_v6.png) no-repeat scroll 0 -330px;
    padding: 3px 0 3px 18px;
}

.tmk-picList-item .li-info-picop .picop-cbox .scthispicspan:hover {
    color: rgb(255, 108, 0);
    background-position: 0px -1068px;
}

.tmk-picList-item .li-info-picop .picop-cbox .xzthispicspan {
    background: url(http://icon.qiantucdn.com/images/homecenter/icon_v6.png) no-repeat scroll 0 -524px;
    color: #888;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-top: 3px;
    text-decoration: none;
}

.tmk-picList-item .li-info-picop .picop-cbox .xzthispicspan:hover {
    color: rgb(255, 108, 0);
    background-position: 0px -1102px;
}

.tmk-picList-item .li-but {
    position: absolute;
    top: -36px;
    left: 0;
    width: 100%;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    z-index: 5;
}

.tmk-picList-item .li-but a {
    background: #3ebb2b;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.tmk-picList-item .li-but .xffav {
    left: 6px;
    width: 80px;
    margin-left: 8px;
}

.xfdl {
    right: 6px;
    width: 90px;
    margin-right: 8px;
}

.tmk-picList-item:hover .li-but {
    top: 8px;
}

.line-fg {
    width: 1px;
    height: 20px;
    background-color: #c9c9c9;
    float: left;
    overflow: hidden;
    margin-top: 9px;
}

/*--------------------------------12.16 add.css----------------------------------------*/

/*样式公共 start*/
.tkm-right {
    width: 960px;
    min-height: 600px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#listBox1.vipRecw {
    width: 960px;
}

#listBox1 .vipRecwd, #listBox1 .viprecord {
    width: 100%;
}
#listBox1 .sh-show{
    margin-left: 15px;
}
#listBox1 .scs_right{
    width: 865px;
}
/*样式公共 end*/


/*   upload.css   */
.placeholder {
    border: 1px dotted #169700;
    width: 430px;
    height: 340px;
    margin: 30px 0 20px;
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #1AAC00;
    padding: 18px 38px;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    overflow: hidden;
    font-size: 24px;
}

.webuploader-pick-hover {
    background: #009900;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.webuploader-hint {
    padding-top: 40px;
    color: #179600;
    font-size: 26px;
    text-align: center;
}

.webuploader-hint span {
    font-size: 30px;
}

.hint-or {
    color: #BABABA;
    font-size: 26px;
    text-align: center;
    padding: 15px 0;
}

.multi-input-container {
    text-align: center;
    padding: 10px 0 30px;
}

.placeholder p {
    text-align: center;
    font-size: 15px;
    line-height: 27px;
}

.placeholder .que-num {
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    color: #bababa;
    width: 100%;
    font-size: 15px;
}

.qn-1, .qn-2 {
    color: #179600
}

.font-plus {
    color: #C2C2C2;
    font-size: 96px;
    line-height: 340px;
    margin: 30px 0 20px;
}

.upload-notice {
    float: left;
    width: 934px;
    margin-left: 13px;
    margin-top: 22px;
    font-size: 16px;
}

.upload-notice span {
    color: red;
}

#upbisai {
    overflow: hidden;
    display: block;
    width: 935px;
    height: 162px;
    margin-left: 13px;
    background: url(http://icon.58pic.com/images/uploads/upyc.png) no-repeat 0 0;
}

/*     qtbRecord.css    */
#enuser_tip {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
}

#enuser_tip span {
    font-weight: normal;
}

.tjdiv {
    height: 50px;
    line-height: 50px;
    text-indent: 35px;
    padding-top: 10px;
}

#fankui .fhtop {
    height: 118px;
}

#tjbt {
    display: block;
    width: 407px;
    height: 33px;
    line-height: 33px;
    margin: 0px auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #2BA715;
    padding: 0px;
}

.tjyy {
    padding: 0px 0px 20px 0px;
}

.zzyy {
    background: none;
    border: 0px none;
    text-indent: 40px;
}

.bgtip {
    color: #000;
}

.user-type {
    height: 47px;
    line-height: 47px;
    padding: 0px 48px;
    background: #fbfbfb;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.user {
    float: left;
    font-size: 14px;
}

.join_qq {
    overflow: hidden;
    width: 307px;
    height: 28px;
    line-height: 28px;
    margin-left: 90px;
    margin-top: 30px;
    display: none;
}

.join_qq ul li {
    float: left;
    font-size: 14px;
    color: #999;
}

.join_qun {
    display: block;
    width: 100px;
    height: 28px;
    background: url(http://icon.58pic.com/images/user/join_qq.jpg) no-repeat;
}

#fankui .fhtop {
    background: url(http://icon.58pic.com/images/user/orderok.png) no-repeat 35px 40px;
}

.my-coin-m {
    border: 1px solid #eeeeee;
    padding: 24px 27px 14px;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.my-coin-m .my-coin-top {
    padding-bottom: 14px;
    border-bottom: 1px solid #c7c7c7;
}

.my-coin-m .my-coin-top .my-coin .money {
    font-size: 18px;
    color: #f10000;
}

.my-coin-m .my-coin-top .my-coin {
    margin-right: 54px;
    margin-top: 5px;
}

.my-coin-m .coin-but a {
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
    text-align: center;
    display: inline-block;
    background: #2ba715;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 6px;
}

.my-coin-m .coin-but .gray-but {
    background: #bababa;
}

.my-coin-m .coin-but a:hover {
    opacity: .9;
    text-decoration: none;
}

.my-coin-m .what-coin .title {
    height: 25px;
    line-height: 25px;
    color: #8ACE6F;
    margin-top: 10px;
}

.my-coin-m .what-coin dd {
    line-height: 22px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #888888;
}

.vipRecwd100 .vipRecwd {
    width: 100%;
}

.vipRecwd100 .vipRecwd-title {
    font-size: 16px;
    color: #666666;
    padding-bottom: 18px;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 10px;
}

.vipRecwd100 .viprecord tbody tr {
    border-bottom: 1px solid #c7c7c7;
    color: #888888;
}

.vipRecwd100 .viprecord .no-border {
    border-bottom: none !important;
}

/*    vipRecord.css  */

#enuser_tip {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
}

#enuser_tip span {
    font-weight: normal;
}

.tjdiv {
    height: 50px;
    line-height: 50px;
    text-indent: 35px;
    padding-top: 10px;
}

#fankui .fhtop {
    height: 118px;
}

#tjbt {
    display: block;
    width: 407px;
    height: 33px;
    line-height: 33px;
    margin: 0px auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #2BA715;
    padding: 0px;
}

.tjyy {
    padding: 0px 0px 20px 0px;
}

.zzyy {
    background: none;
    border: 0px none;
    text-indent: 40px;
}

.bgtip {
    color: #000;
}

.user-type {
    height: 47px;
    line-height: 47px;
    padding: 0px 48px;
    background: #fbfbfb;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.user {
    float: left;
    font-size: 14px;
}

.join_qq {
    overflow: hidden;
    width: 307px;
    height: 28px;
    line-height: 28px;
    margin-left: 90px;
    margin-top: 30px;
    display: none;
}

.join_qq ul li {
    float: left;
    font-size: 14px;
    color: #999;
}

.join_qun {
    display: block;
    width: 100px;
    height: 28px;
    background: url(http://icon.58pic.com/images/user/join_qq.jpg) no-repeat;
}

#fankui .fhtop {
    background: url(http://icon.58pic.com/images/user/orderok.png) no-repeat 35px 40px;
}

.vipinfo {
    width: 958px;
    height: 60px;
    background: #FFFEF0;
    border: 1px solid #F3E9CA;
    margin: 0 0 20px 0;
}

.vipinfo .sc-vip-info, .vipinfo .yc-vip-info {
    width: 450px;
    height: 58px;
    float: left;
    padding-left: 20px;
}

.vip-time {
    margin-top: 10px;
    font-family: "微软雅黑";
    color: #9B9B98;
    font-size: 15px;
}

.sc-vip-info .vip-xf, .yc-vip-info .vip-xf {
    color: #8EC664;
    text-decoration: none;
    margin-left: 20px;
}

.tip-page {
    font-family: "微软雅黑";
    color: #9B9B98;
    font-size: 15px;
    margin-top: 5px;
}

.page-count {
    color: red;
}

/*bondQq*/
.bind-content {
    margin-top: 30px;
    margin-left: 30px;
    width: 461px;
    height: 700px;
}

.bind-info {
    margin-top: 10px;
}

.bind-top {
    font-size: 20px;
    color: #8c8c8c;
    font-family: "微软雅黑"
}

.bind-top span {
    font-size: 17px;
}

.bind-info input {
    padding: 10px;
    border: 1px solid #d8d8d8;
    color: #666666;
    width: 440px;
    font-size: 16px;
    vertical-align: middle;
}

.bind-info .button_bind {
    background: url('http://icon.58pic.com/images/show/user/user_bind_qq.jpg') no-repeat;
    display: inline-block;
    width: 117px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}