#main{overflow:hidden;margin:0 auto;margin-top:20px;margin-bottom:50px;height:500px;background-color:#fff;}
.mleft{
	height:500px;
	width:540px;
	float:left;
	background:url(http://icon.58pic.com/images/homecenter/nokt.png) no-repeat 280px 50%;
}
.mright{
	height:150px;
	float:left;
	margin-top:190px;
}
.tailan{
	font-size:24px;
	color:#444444;
	text-align:left;
	height:30px;
	line-height:30px;
}
.kttip{
	font-size:14px;
	color:#999999;
	text-align:left;
	height:55px;
	line-height:55px;
}

.kttip{
	font-size:14px;
	color:#999999;
	text-align:left;
	height:55px;
	line-height:55px;
}
.gourl{
	height:40px;
	overflow:hidden;
}
.gourla{
	display:block;
	width:160px;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:16px;
	float:left;
	
	overflow:hidden;
	margin-right:8px;
	text-indent:40px;
}
.gourla:hover{
	background-color:#21a900;
}
.goshouye{
	background:#3ebb2b url(http://icon.58pic.com/images/homecenter/icon_v1.png) no-repeat 15px -984px;
}
.gomypage{
	background:#3ebb2b url(http://icon.58pic.com/images/homecenter/icon_v1.png) no-repeat 15px -1023px;
}


#alert{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: .5;
	display: none;
}
#selfinfo{
	position: absolute;
	top:250px;
	left:200px;
	width:580px;
	height:300px;
	z-index:100000;
	background-color:#ffffff;
	display:none;
}
.hang1{
	color:#333;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #EDEDED;
	font-size:18px;
	text-indent:20px;
	overflow:hidden;
	position: relative;
	z-index:1000001;
}

#closebtn{
	display:inline-block;
	height:50px;
	width:50px;
	cursor:pointer;
	overflow:hidden;
	float:right;
	background:url(http://icon.58pic.com/images/homecenter/icon_v1.png) no-repeat 20px -873px;
}
#xxtit{
	height:50px;
	line-height:50px;
	font-size:18px;
	color:#333;
	float:left;
}

.hang2{
	color:#333;
	font-size:18px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align:center;
	margin-top:55px;
}
.hang2 span{
	color:#3EBB2B;
	font-size:18px;
}

.hang3{
	color:#333;
	font-size:18px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align:center;
	margin-top:20px;
}
.xiexian{
	font-size:18px;
	color:#cccccc;
}
.tiaojan{
	font-size:14px;
	color:#cccccc;
}
.haixu{
	font-size:18px;
	color:#ff6c00;
}


.hang4{
	padding-left:120px;
	height:40px;
	overflow:hidden;
	margin-top:35px;
	zoom:1;
}
a.uploadlink{
	display:inline-block;
	width:160px;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:16px;
	overflow:hidden;
	zoom:1;
	margin-right:8px;
	text-indent:40px;
}
a.uploadlink:hover{
	background-color:#21a900;
}
a.yculink{
	background:#3ebb2b url(http://icon.58pic.com/images/homecenter/icon_v1.png) no-repeat 15px -943px;
}
a.sculink{
	background:#3ebb2b url(http://icon.58pic.com/images/homecenter/icon_v1.png) no-repeat 15px -905px;
}