/* 
	쾏톪졳CSS횇퉣
*/
*,a{ font-family:"풕턼환쥌"; color:#333;text-decoration:none;}
a:hover{text-decoration: none;}
.ps-wrap{ width:1000px; margin-left:auto; margin-right:auto;}
.red{ color:#ff0000}
.lanse{color: #36b0f3;}
.clear{clear: both;}
/***************/

#ps_head_bg{ height: 60px; background:#f9f9f9; border-bottom:#f3f3f3 1px solid;}
#ps_head_bg  .ps_header{ position:relative;}
#ps_head_bg  .ps_header  .fl{ width:257px; height:38px; background:url(http://icon.58pic.com/images/peisebao/logo.png) no-repeat; margin-top:10px}
#ps_head_bg  .ps_header  .fl a{ display: block; height:38px;}
#ps_head_bg  .ps_header  .fr{ width:705px; line-height:60px;}
#ps_head_bg  .ps_header  .fr li{ float: left; width:90px; padding: 0 10px; position: relative;}
#ps_head_bg  .ps_header  .fr li a{ font-size:16px; font-family:"풕턼환쥌"; color:#333333}
#ps_head_bg  .ps_header  .fr li.select .show_Menu{ display: block; position: absolute; left:0px; top:50px; width:90px;z-index: 999;}
#ps_head_bg  .ps_header  .fr li.select a{ color: #36b0f3;}
#ps_head_bg  .ps_header  .fr li .show_Menu{ display: none;}
#ps_head_bg  .ps_header  .fr li.select .show_Menu .show_Menu_top{ background: url("http://icon.58pic.com/images/peisebao/psb-menu_top_bg.png") no-repeat; height:13px;}
#ps_head_bg  .ps_header  .fr li.select .show_Menu .show_Menu_con{ border: 1px solid #e0e0e0; border-top: none; background: #fff; line-height:30px; text-indent: 10px; padding-bottom: 10px;}
#ps_head_bg  .ps_header  .fr li.select .show_Menu a{ color: #666666;}
#ps_head_bg  .ps_header  .fr li.select .show_Menu a:hover{ color: #36b0f3;}



#ps_head_bg  .ps_header  .ps_login{ position:absolute; right:0px; top:23px; font-family:"풕턼환쥌";}
#ps_head_bg  .ps_header  .ps_login a{ padding:0 10px; font-size:14px; color:#333333}
#ps_head_bg  .ps_header  .ps_login2 { position:absolute; right:0px; top:23px; font-family:"풕턼환쥌";}
#ps_head_bg  .ps_header  .ps_login2 a{ float: left; padding-right:6px; font-size: 14px;}

#ps_head_bg  .ps_header  .ps_login2 span.vip_yes{float: left; margin-top: -8px; height:24px;width:20px;background:url('http://icon.58pic.com/images/vip/vip_logo3.png') no-repeat;overflow:hidden;}
#ps_head_bg  .ps_header  .ps_login2 span.vip_yes2{float: left; margin-top: -8px; height:24px;width:20px;background:url('http://icon.58pic.com/images/vip/vip_logo2.png') no-repeat;overflow:hidden;}
#ps_head_bg  .ps_header  .ps_login2 span.no_vip{float: left;margin-top: -8px;height:24px;width:20px;background:url('http://icon.58pic.com/images/vip/vip_logo1.png') no-repeat;overflow:hidden;}

/***********footer***/
#ps-footer{background:#f9f9f9; height:60px; line-height:60px; text-align:center; font-family:"풕턼환쥌"; margin-top:20px; font-size: 14px;}


/*********************/
.ps-index-con{ padding-top:95px; background:url(http://icon.58pic.com/images/peisebao/ps-bg.png) left bottom no-repeat; height:400px}
.ps-wyps { float:left; width:334px; height:114px; cursor:pointer;}
.ps-wyps dd{width: 95px; float:left;height: 95px; background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px 0px no-repeat; margin-right:10px;}
.ps-wyps dd.dd-hover{background:url(http://icon.58pic.com/images/peisebao/icon.png) -138px 0px no-repeat;}
.ps-wyps dt  h1{ font-size:24px; margin-bottom:15px;} 
.ps-wyps dt  p{ font-size:14px; line-height:21px; color: #666;color: #666;} 


.ps-mtps { float:left; width:330px; height:114px; cursor:pointer;}
.ps-mtps dd{width: 95px; float:left;height: 95px; background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -102px no-repeat; margin-right:10px;}
.ps-mtps dd.dd-hover{background:url(http://icon.58pic.com/images/peisebao/icon.png) -138px -102px no-repeat;}
.ps-mtps dt  h1{ font-size:24px; margin-bottom:15px;} 
.ps-mtps dt  p{ font-size:14px; line-height:21px;color: #666;} 

.ps-pszs { float:left; width:330px; height:114px; cursor:pointer;margin-bottom:100px;}
.ps-pszs dd{width: 95px; float:left;height: 95px; background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -207px no-repeat; margin-right:10px;}
.ps-psps dd.dd-hover{background:url(http://icon.58pic.com/images/peisebao/icon.png) -138px -207px no-repeat;}
.ps-pszs dt  h1{ font-size:24px; margin-bottom:15px;} 
.ps-pszs dt h1 span.sx{background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -576px no-repeat; padding:10px 30px;}
.ps-pszs dt  p{ font-size:14px; line-height:21px;color: #666;} 


.ps-ctss { float:left; width:330px; height:114px; cursor:pointer; margin-left:156px!important; margin-left: 88px; margin-bottom:100px;}
.ps-ctss dd{width: 95px; float:left;height: 95px; background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -311px no-repeat; margin-right:10px;}
.ps-ctss dd.dd-hover{background:url(http://icon.58pic.com/images/peisebao/icon.png) -138px -311px no-repeat;}
.ps-ctss dt  h1{ font-size:24px; margin-bottom:15px;} 
.ps-ctss dt h1 span.sx{background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -576px no-repeat; padding:10px 30px;}

.ps-ctss dt  p{ font-size:14px; line-height:21px;color: #666;} 

.ps-tsb { float:left; width:330px; height:114px; cursor:pointer;}
.ps-tsb dd{width: 95px; float:left;height: 95px; background:url(http://icon.58pic.com/images/peisebao/icon.png) 0px -409px no-repeat; margin-right:10px;}
.ps-tsb dd.dd-hover{background:url(http://icon.58pic.com/images/peisebao/icon.png) -138px -409px no-repeat;}
.ps-tsb dt  h1{ font-size:24px; margin-bottom:15px;} 
.ps-tsb dt  p{ font-size:14px; line-height:21px;color: #666;} 



/***********************/
.ps-wyps-con{ padding-top:20px;}
.ps-wyps-con  .ps-tab-tit{ height:32px}
.ps-wyps-con  .ps-tab-tit li{ float:left; width:86px; font-size:16px; height:32px; line-height:32px; font-family:"풕턼환쥌"; margin-right: 20px; cursor: pointer;}
.ps-wyps-con  .ps-tab-tit li a{ display: block; height:32px; text-align: center;}
.ps-wyps-con  .ps-tab-tit li a:hover{ color: #fff;background:#666;}
.ps-wyps-con  .ps-tab-tit li.select a{ background:#666; text-align:center; color:#fff}

.ps-wyps-wz { line-height:24px; color:#666666; font-size:14px; font-family:"풕턼환쥌"; padding:10px 0;}
.ps-wyps-content{ border-top:#f3f3f3 1px solid; margin-top:20px; padding-top:20px; position: relative!important; position:;}
.ps-wyps-content  .flt{ width:160px; position: absolute!important; position:;_float:left; top:20px; left:0px;}
.ps-wyps-content  .fltt{ width:160px; position: absolute; top:20px;}
#color_left  #color_scroll{ float: left; overflow: hidden; height:600px; width:150px;background:#f8f8f8;}
#color_left h1{ background:#f3f3f3; height:30px; line-height:30px; font-size:14px; color:#999999; text-indent:10px; font-family:"풕턼환쥌"; border-bottom:#fff 1px solid;}
#color_leftt  #color_scroll{ overflow: hidden; height:600px; width:150px;}
#color_leftt h1{ background:#f3f3f3; height:30px; line-height:30px; font-size:14px; color:#999999; text-indent:10px; font-family:"풕턼환쥌"; border-bottom:#fff 1px solid;}

 .ps-sxdp{ width:150px;}
 .ps-sxdp li{ float:left; width:70px;}
 .ps-sxdp li a{ display:block; height:30px; line-height:30px;text-indent:10px; color:#666666; font-size:14px;}
 .ps-sxdp li a:hover{ background:#36b0f3; color:#fff}
 .ps-sxdp li a.select{ background:#36b0f3; color:#fff}

 .ps-yxdp{ background:#f8f8f8;height: 100%}
 .ps-yxdp li a{ display:block; height:30px; line-height:30px;color:#666666; font-size:14px;text-indent:10px;}
.ps-yxdp li a:hover{ background:#36b0f3; color:#fff}
.ps-yxdp li a.select{ background:#36b0f3; color:#fff}

.ps-wyps-content  .fr{ width:816px; overflow:hidden;}
.ps-wyps-content  .fr  .tit{ background:#f8f8f8; height:29px; line-height:29px; font-size: 14px; color:#666; text-indent:10px; font-family:"풕턼환쥌"}
.ps-wyps-content  .fr  .tit1{border-left:#ff0000 3px solid;}
.ps-wyps-content  .fr  .tit2{border-left:#ff6600 3px solid;}
.ps-wyps-content  .fr  .tit3{border-left:#ffff00 3px solid;}
.ps-wyps-content  .fr  .tit4{border-left:#99ff00 3px solid;}
.ps-wyps-content  .fr  .tit5{border-left:#00cc00 3px solid;}
.ps-wyps-content  .fr  .tit6{border-left:#009933 3px solid;}
.ps-wyps-content  .fr  .tit7{border-left:#36b0f3 3px solid;}
.ps-wyps-content  .fr  .tit8{border-left:#0000ff 3px solid;}
.ps-wyps-content  .fr  .tit9{border-left:#ff00ff 3px solid;}
.ps-wyps-content  .fr  .tit10{border-left:#ff0099 3px solid;}
.ps-wyps-content  .fr  .tit11{border-left:#ffcccb 3px solid;}
.ps-wyps-content  .fr  .tit12{border-left:#99ccff 3px solid;}
.ps-wyps-content  .fr  .tit13{border-left:#ff99cc 3px solid;}
.ps-wyps-content  .fr  .tit14{border-left:#ff6600 3px solid;}
.ps-wyps-content  .fr  .tit15{border-left:#99cc33 3px solid;}
.ps-wyps-content  .fr  .tit16{border-left:#ff6600 3px solid;}
.ps-wyps-content  .fr  .tit17{border-left:#ff6600 3px solid;}
.ps-wyps-content  .fr  .tit18{border-left:#cc6699 3px solid;}
.ps-wyps-content  .fr  .tit19{border-left:#ccccff 3px solid;}
.ps-wyps-content  .fr  .tit20{border-left:#99cc99 3px solid;}
.ps-wyps-content  .fr  .tit21{border-left:#66cc66 3px solid;}
.ps-wyps-content  .fr  .tit22{border-left:#cc99cc 3px solid;}
.ps-wyps-content  .fr  .tit23{border-left:#996600 3px solid;}
.ps-wyps-content  .fr  .tit24{border-left:#336666 3px solid;}
.ps-wyps-content  .fr  .tit25{border-left:#99ccff 3px solid;}
.ps-wyps-content  .fr  .tit26{border-left:#abcdef 3px solid;}
.ps-wyps-content  .fr  .tit27{border-left:#999999 3px solid;}





.ps-wyps-content  .fr  .con{ padding:8px 0; width:840px; }

.ps-wyps-content .fr .con .group {float:left; width:210px; height:85px; _display:inline; cursor: pointer;}
.ps-wyps-content .fr .con .group span {_display:inline;float:left; margin:1px; width:60px; height:60px; text-align:center; position: relative;}
.ps-wyps-content .fr .con .group span b.tishi i{ font-size: 14px; color:#fff; font-family: "풕턼환쥌", sans-serif; position:absolute;left:2px;top:20px; background:url(http://icon.58pic.com/images/peisebao/copy_bg.png) 0px 0px no-repeat;text-align: center; width:56px; height:24px;line-height:24px;}

.ps-wyps-content .fr .con .group input {display:block; margin-top:64px; background:#fff; font-family:"Lucida Console","Lucida Sans Typewriter",Monaco,"Bitstream Vera Sans Mono",monospace; border: none 0; font-size:14px; width:100%; text-align:center}






/***********쾏톪쐜index----v2.0***********/

.ps-index-conv2{ margin-top: 30px; overflow: hidden;}
.psb-index_01{ height:200px; background-color: #f9f9f9; padding: 10px 0px; border-bottom: 1px solid #e0e0e0;}
.psb-index_01 .tit{ background:  url('http://icon.58pic.com/images/peisebao/color_xian.jpg') bottom left no-repeat; line-height:38px;  color: #36b0f3; font: 18px "Lucida Grande", "풕턼환쥌"; height:38px; margin-bottom: 10px;padding: 0 15px;}
.psb-index_01 .con{ width:1100px;padding: 10px 15px;}
.psb-index_01 .con dl{ float: left; width:274px; height:86px;border: 2px solid #fff; background-color: #fff; margin-right: 12px; padding: 18px; cursor: pointer;}
.psb-index_01 .con dl.hover{ border: 2px solid #36b0f3;width:274px;height:86px;}
.psb-index_01 .con dd{width: 95px; float:left;height: 95px; margin-right:10px;}
.psb-index_01 .con dt  h1{ font-size:24px; margin-bottom:15px;} 

.psb-index_01 .con dt  p{ font-size:14px; line-height:21px;} 
.psb-index_01 .con dd.psb-tsb{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -345px no-repeat; }
.psb-index_01 .con dd.psb-ctss{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -460px no-repeat; }
.psb-index_01 .con dd.psb-znps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -115px no-repeat; }
.psb-index_01 .con dd.psb-yxps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px 0px no-repeat; }
.psb-index_01 .con dd.psb-mxps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -790px no-repeat; }
.psb-index_01 .con dd.psb-qwps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -680px no-repeat; }
.psb-index_01 .con dd.psb-yshy{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') -160px 0px no-repeat; }

.psb-index_02{ height: 200px; background-color: #f9f9f9; padding: 10px 0px; border: 1px solid #f5f5f5; border-bottom: 1px solid #e0e0e0; margin-top: 20px;}
.psb-index_02 .tit{ border-bottom: 1px solid #eeeeee; line-height:38px;  color: #333333; font: 18px "Lucida Grande", "풕턼환쥌"; height:38px; margin-bottom: 10px;padding: 0 15px;}
.psb-index_02 .con{ width:1100px; padding: 10px 15px;}
.psb-index_02 .con dl{ float: left; width:274px; height:86px;border: 2px solid #fff; background-color: #fff; margin-right: 12px; padding: 18px; cursor: pointer; margin-bottom: 20px;}
.psb-index_02 .con dl.hover{ border: 2px solid #36b0f3;width:274px;height:86px;}

.psb-index_02 .con dd{width: 95px; float:left;height: 95px;margin-right:10px;}
.psb-index_02 .con dt  h1{ font-size:24px; margin-bottom:15px;} 

.psb-index_02 .con dt  p{ font-size:14px; line-height:21px;} 

.psb-index_02 .con dd.psb-yxps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px 0px no-repeat; }
.psb-index_02 .con dd.psb-mtps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -230px no-repeat; }
.psb-index_02 .con dd.psb-ysbk{background:url('http://icon.58pic.com/images/peisebao/psb_no.png') 0px -565px no-repeat; }
.psb-index_02 .con dd.psb-qwps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -680px no-repeat; }
.psb-index_02 .con dd.psb-mxps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -790px no-repeat; }

.psb-index_02 .con dd.psb-tsb{background:url('http://icon.58pic.com/images/peisebao/psb_no.png') 0px -345px no-repeat; }
.psb-index_02 .con dd.psb-ctss{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -460px no-repeat; }
.psb-index_02 .con dd.psb-znps{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') 0px -115px no-repeat; }
.psb-index_02 .con dd.psb-yshy{background:url('http://icon.58pic.com/images/peisebao/psb_new_icon.png') -160px 0px no-repeat; }


 #psgj_tit{
	width:1000px;
	margin: 20px auto 0;
	background: url('http://icon.58pic.com/images/peisebao/color_xian.jpg') bottom left no-repeat #f9f9f9;
	text-align: center;
	color: #36b0f3;
	font: 24px/50px "Lucida Grande", "풕턼환쥌";
	height: 50px;
}




 /***********톪쒥줚횁**********/
.psb_yshy_wrap{ margin-top: 30px;}
 .psb_yshy_tit { background: #f9f9f9; border: 1px solid #eeeeee; height:40px; font: normal normal normal 14px "풕턼환쥌"; color: #666666; padding: 0 10px;}
    /*#photoColors_sampledColors{ border-bottom: 1px solid #eee; height:330px; padding: 5px 0 0 5px;  }
	#photoColors_sampledColors ul{ margin: 0px;padding: 0px;}
    #photoColors_sampledColors li{ float: left; width:40px; height:40px; margin: 0 1px 1px 0 ; cursor: pointer; position: relative; }
	#photoColors_sampledColors li  div {position: absolute;width:40px; height:40px;
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
	width:40px;
	height:40px;
	display:block;
	text-align:center;	
	}
	#photoColors_sampledColors li  div:hover {
	width:50px;
	height:50px;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	}
	#photoColors_sampledColors li  div p{ text-align: center; line-height:50px; color: #fff; height:50px; display: none; width:40px; float: left; }
	 /*
	 #photoColors_sampledColors li div.zeroclipboard-is-hover{width:56px; height:56px; border: 3px solid #fff; box-shadow:#666 0px 0px 5px;left:-10px; top:-10px;z-index:999}*/
 /*#photoColors_sampledColors li div.select{width:56px; height:56px; border: 3px solid #fff; box-shadow:#666 0px 0px 5px;left:-10px; top:-10px;}
 #photoColors_sampledColors li .tishi i{ background: url("http://icon.58pic.com/images/peisebao/icon_jt_bs.png") no-repeat 0 0; display: inline-block; width:12px; height:12px; margin-left: 15px; margin-top: 15px;}*/
    
    .yshy_fl_con{ padding: 10px 0 0 6px;}
    .yshy_fl_con dl{ height:30px; line-height:30px; margin-bottom: 10px; }
    .yshy_fl_con dl dt{ float: left; width:50px; font-family: "풕턼환쥌", sans-serif;}
    .yshy_fl_con dl dd{ float: left; width:54px; height:30px; margin-left: 1px;cursor: pointer; text-align: center; color: #fff;}
	.yshy_fl_con dl dd span.tishi{ color: #fff;
		/*opacity:0.7;filter: alpha(opacity=70);-moz-opacity: 0.7; background: #000;
		-moz-border-radius: 3px;      /* Gecko browsers */
		/*-webkit-border-radius: 3px;   /* Webkit browsers */
		/*border-radius:3px;            /* W3C syntax */
		
}
     .yshy_fl_con dl dd span.tishi i{ background: url("http://icon.58pic.com/images/peisebao/icon_jt_bs.png") no-repeat 0 0; display: inline-block; width:12px; height:12px; margin-left: 25px; margin-top: 12px;}
	 
	 .yshy_solid_r .rotate .tishi i{ background: url("http://icon.58pic.com/images/peisebao/icon_jt_bs.png") no-repeat 0 0; display: inline-block; width:12px; height:12px; margin-left: 22px; margin-top: 25px;}
    