	/*header*/
	 .qt-tips{height: 40px; line-height: 40px;background-color: #fff6cc;}
    .qt-tips .w1200{text-align: center; font-size: 14px;color:#bc8351;}
    .qt-tips .w1200 span{color:#ff4f11;}
    .qt-tips .w1200 a{ display: inline-block;height: 24px; line-height: 24px;padding:0 10px;background-color: #ff8e11;border-radius: 4px; line-height: 24px;color:#fff; font-size: 12px;margin-left: 16px; }
    .qt-tips .w1200 a:hover{background-color:#fea13b;}
    .qt-tips .w1200 .close-btn{margin-top: 9px;width: 24px;height: 24px;background: url(http://icon.58pic.com/img/qt-tips-close.jpg);cursor: pointer;}
    /*resume*/
    .qt-header {background-color: #fff;color: rgb(163, 163, 163);}
    .qt-header .nav-list>a, .qt-header .vip-center>a {
				font-size: 14px;
				color: #666;
		}
    .qt-header .nav-list.on>a, .qt-header .nav-list>a:hover, .qt-header .vip-center>a:hover {
        color: rgb(32, 136, 255);
        background-color: #fff;
    }
    .qt-header .qt-header-nav .icon-down, .qt-header .qt-header-right .user-info:after {
        background-position-x: -203px;
    }
    .qt-header .qt-header-right .user-info p {
        color: rgb(32, 136, 255);
    }
    .text-green, .text-green-b {
        color:  rgb(32, 136, 255)!important;
    }
    .qt-header .qt-header-right .icon-message, .qt-header .qt-header-right .icon-vip {
        background-position-x: -124px;
    }
    .qt-header-right .icon-vip {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        width: 22px;
        height: 16px;
        background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -156px -577px no-repeat;
    }
    .qt-header-right .icon-message {
        display: block;
        width: 24px;
        height: 21px;
        background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -156px -575px no-repeat;
        background-position-x: -154px!important;
    }
    .qt-header-nav .list-box dt:after {
        width: 4px;
        height: 13px;
        background-color: rgb(32, 136, 255);
        position: absolute;
        top: 13px;
        left: 16px;
    }
    .qt-btn:hover, .qt-model .model-btn>a:hover, .qt-model .model-content {
        -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
        color: rgb(32, 136, 255)!important;
    }
    .qt-header .login-before a.btn-green {
        background-color: #fff;
        color: #999;
        border-color: rgb(32, 136, 255);
    }
    .qt-header .login-before a {
        color: rgb(32, 136, 255);
    }
    .resume-header-search {
        min-width: 1200px;
        height: 320px;
		text-align:center;
        background-image: url('http://icon.qiantucdn.com/revision/images/resume-banner.jpg');
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
	.resume-header-search>div {
		display: inline-block;
		*display:inline;
		_zoom:1;
		width: 640px;
	}
	.resume-header-search .header-search-p1, .resume-header-search .header-search-p2 {
		text-align: left;
	}
    .resume-header-search .header-search-p1 {
	    color: #fff;
		font-size: 32px;
		padding-top: 75px;
		font-weight: 700;
	}
	.resume-header-search .header-search-p2 {
		color: #fff;
		font-size: 22px;
		padding-top: 10px;
    }
    .resume-header-search .search-input {
    text-align: center;
    margin-top: 25px;
    }
    .resume-header-search .search-input input{
        display: inline-block;
        width: 590px;
        height: 50px;
        font-size: 14px;
        color: #999;
        padding: 0 20px;
        border: 2px solid rgb(32, 136, 255);
        border-radius: 5px 0 0 5px;
    }
    .resume-header-search .search-input .search-submit {
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: top;
        border-radius: 0 5px 5px 0;
        background-color: rgb(32, 136, 255);
        text-align: center;
    }
    .resume-header-search .search-input .icon-search {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 15px;
        background: url(http://icon.qiantucdn.com/img/searchnew/common.png) -66px -446px no-repeat;
    }
    .qt-header-right .user-message .down-box {
        top: 45px;
    }
    .qt-header-right .down-box {
        top: 45px;
    }
	.qt-header-nav .nav-list:first-child:after {
        content: '测试版';
        font-size: 12px;
        color: white;
        background: rgb(32, 136, 255);
        top: -9px;
        right: 5px;
        display: inline-block;
        *display: inline;
        _zoom:1;
        position: relative;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 10px;
    }
	.resume-header-search .search-bull {
		font-size: 36px;
		line-height: 1;
		display: inline-block;
		vertical-align: middle;
		margin-top: -10px;
		color: white;
	}
	.qt-header-nav .nav-list .icon-font {
        font-size: 24px;
        color: #666;
        display: inline-block;
        *display: inline;
        _zoom:1;
        vertical-align: top;
        margin: 6px 10px 0 0;
    }
    .qt-header-nav .nav-list .icon-font .point {
        position: relative;
        display: inline-block;
        margin-top: 4px;
        vertical-align: top;
        font-size: 18px;
        padding: 0 5px 0 5px;
        color: #888;

    }