	/*user/resume*/
	.qt-card{
		width: 250px !important;
		margin-right: 6px;
	}
	.user-box-list {
		margin-bottom: 20px;
	}
	.user-box-list .show-img-bg img {
		margin-top: 10px;
	}
	.user-box-list .show-img-bg {
		text-align: center;
		background-color: rgb(236, 236, 236);
		width: 240px;
		height: 240px;
		overflow: hidden;
		position: relative;
		margin-left: 5px;
	}
	.user-box-list .show-title {
		font-size: 14px;
		color: #666;
		padding: 5px;
		margin-top: 15px;
	         white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
	}
	.user-box-list .show-bottom {
		font-size: 12px;
		color: #999;
		padding: 5px;
	}
	.user-box-list .show-img-bg:hover {
		box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
	}
	.user-box-list .show-img-bg:hover .img-layer {
		top:0px;
	}
	.user-box-list .show-img-bg .img-layer {
		text-align: center;
		position: absolute;
		background-color: rgba(32, 136, 255, .5);
		width: 240px;
		height: 240px;
		top:-240px;
		transition-duration: .3s;
	}
	.user-box-list .creat-resume {
		width: 240px;
		height: 300px;
		background-color: rgb(240, 247, 255);
		text-align: center;
	}
	.user-box-list .creat-resume-border {
		width: 220px;
		height: 280px;
		border: 1px dashed rgb(32, 136, 255);
		margin-top: 10px;
		display: inline-block;
		text-align: center;
	}
	.creat-resume-border .plus {
		display: inline-block;
		width: 60px;
		height: 60px;
		border: 2px solid rgb(32, 136, 255);
		border-radius: 50%;
		margin-top: 100px;
		text-align: center;
		position: relative;
	}
	.creat-resume-border .plus .plus-border-1 {
		width: 30px;
		display: inline-block;
		border: 2px solid rgb(32, 136, 255);
		top: 26px;
		position: absolute;
		left: 14px;
	}
	.creat-resume-border .plus .plus-border-2 {
		width: 30px;
		display: inline-block;
		border: 2px solid rgb(32, 136, 255);
		top: 26px;
		position: absolute;
		transform: rotateZ(90deg);
		left: 14px;
	}
	.creat-resume-border p {
		color: #999;
		margin-top: 10px;
		font-size: 14px;
		text-align: center;
	}
	.show-img-bg .edit-f .edit-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -145px -646px no-repeat;
		background-color: #fff;
	}
	.show-img-bg .edit-f-2 .edit-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -199px -605px no-repeat;
		background-color: #fff;
	}
	.show-img-bg .img-layer p {
		font-size: 14px;
		color: white;
		margin-top: 8px;
		text-align: center;
	}
	.show-img-bg .img-layer .edit-icon-bg {
		display: inline-block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: white;
		cursor: pointer;
	}
	.show-img-bg .edit-f,.show-img-bg .edit-f-2 {
		display: inline-block;
		margin-top: 50px;
		padding: 10px;
		width: 80px;
		text-align: center;
	}
	.show-img-bg .edit-remove {
		width:20px;
		height: 23px;
		position: absolute;
		z-index: 1;
		right: 10px;
		bottom: 10px;
		background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -98px -655px no-repeat;
	}
	.show-bottom .remuse-down {
		width: 30px;
		height: 25px;
		display: inline-block;
		background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -45px -655px no-repeat;
		float: right;
		margin-top: -10px;
	}
	.show-bottom .remuse-down:hover {
		background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -7px -655px no-repeat;
	}
	.layout {
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 100;
		background: rgba(0, 0, 0, .5);
		cursor: pointer;
		display: none;
	}
	.layout .remove-resume {
		width: 350px;
		height: 200px;
		position: absolute;
		background: white;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -175px;
		border-radius: 5px
	}
	.layout .close {
		font-size: 28px;
		color: #bbb;
		position: absolute;
		top: 0;
		right: 15px;
	}
	.layout .title {
		font-size: 18px;
		margin-top: 46px;
		text-align: center;
		color: #333;
	}
	.layout .describle {
		text-align: center;
		color: #999;
		font-size: 14px;
		margin-top: 15px;
	}
	.layout .operation {
		text-align: center;
		margin-top: 25px;
	}
	.layout .operation a {
		display: inline-block;
		width: 90px;
		height: 35px;
		border-radius: 3px;
		border: 1px solid rgb(24, 131, 255);
		text-align: center;
		line-height: 34px;
	}
	.layout .confirm {
		color: rgb(24, 131, 255);
		background: rgb(237, 247, 255);
	}
	.layout .cancel {
		margin-left: 15px;
		background: rgb(24, 131, 255);
		color: white;
	}
	/*resume/index*/
   .geetest_holder {
    width: 100%!important;
   }

   .login-box .warning-text {
    display: block!important;
   }

   /*resume*/
   .resume-content{
      color: #999;
      width: 1200px;
      margin: auto;
   }
   .resume-content .cate-list{
     position: relative;
     display: inline-block;
    *display:inline;
     _zoom:1;
     width: 120px;
     vertical-align: top;
     padding: 35px 0;
     margin-left: 34px;
   }
   .resume-content .cate-after-a {
	color: #999;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	/* position: absolute; */
	/* bottom: -123px; */
	margin: 0px 0 15px 0;
	display: inline-block;
	color: rgb(32, 136, 255);
   }
   .resume-content .cate-list:first-child {
       margin-left: 0;
   }
   .cate-list label strong{
      color: #666;
      font-weight: 600;
      cursor: pointer;
      padding-bottom: 10px;
      font-size: 14px;
   }

   .cate-list strong .icon-down {
      width: 12px;
      height: 7px;
       display: inline-block;
       *display:inline;
       _zoom:1;
      background-position-x: -203px;
      background: url(http://icon.qiantucdn.com/img/searchnew/common.png) -203px -27px no-repeat;
   }
   .cate-list .cate-list-sub-div {
     font-size: 14px;
    line-height: 25px;
     margin-top: 5px;
     height: 45px;
     overflow: hidden;
   }
   .cate-list .cate-list-sub-div span{
    color: #999;
   display: inline-block;
   *display:inline;
   _zoom:1;
    padding-right: 10px;
    font-size: 12px;
   }
   .cate-list .cate-list-sub-div a:hover {
     color:rgb(32, 136, 255);
   }

   .resume-content .cate-list .cate-list-sub-ul{
     display: none;
     position: absolute;
     top: 25px;
     width: 120px;
     background-color: white;
     box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
     padding: 5px 0 20px 20px;
     line-height: 27px;
     z-index: 1;
   }

   .resume-content .cate-list .cate-list-sub-ul li {
    color: #999;
    font-size: 12px;
   }
   .resume-content .cate-list .cate-list-sub-ul li:hover a, .resume-content .cate-list .cate-list-sub-ul li.on  a , .cate-list-sub-div span a.on{
     color: rgb(32, 136, 255);
   }

   .resume-content .cate-list .cate-list-hover {
     /*width: 110px;*/
     position:relative;
   }

   .cate-list .cate-list-hover:hover .cate-list-sub-ul{
     display: block;
   }

    .resume-template {
     width: 1200px;
     overflow: hidden;
     margin: auto;
     padding-bottom: 70px;
    }
   .resume-template .show-type {
    padding: 20px 0 0px 0;
   }
   .resume-template .show-type a {
    color: #999;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
   }
   .resume-template .show-type .on {
       color: rgb(32, 136, 255);
   }
   .resume-template .show-type a:hover {
    color: rgb(32, 136, 255);
    font-size: 14px;
    cursor: pointer;
   }
   .resume-template .show-list-sub {
    width: 290px;
    margin-right: 12px;
    margin-top: 25px;
   display: inline-block;
   *display:inline;
   _zoom:1;
   *display:inline;
   _zoom:1;
   }
   .resume-template .show-img-bg {
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 290px;
    height: 290px;
    overflow: hidden;
    position: relative;
   }
   .resume-template .show-img-bg:hover .img-layer {
     top:0px;
   }
   .resume-template .show-img-bg:hover {
       box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
   }
   .resume-template .show-img-bg .img-layer {
    text-align: center;
    position: absolute;
    background-color: rgba(32, 136, 255, .5);
    width: 290px;
    height: 290px;
    top:-290px;
    transition-duration: .3s;
   }
   .resume-template .show-img-bg .img-layer .edit-icon {
       display: inline-block;
       *display:inline;
       _zoom:1;
       width: 55px;
       height: 55px;
       border-radius: 50%;
       background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -88px -602px no-repeat;
       background-color: #fff;
       margin: 8px;
   }
   .resume-template .show-img-bg .img-layer p {
       font-size: 14px;
       color: white;
       margin-top: 20px;
       text-align: center;
   }
   .resume-template .show-img-bg .img-layer .edit-icon-bg {
       display: inline-block;
       *display:inline;
       _zoom:1;
       width: 70px;
       height: 70px;
       border-radius: 50%;
       background-color: white;
       cursor: pointer;
       margin-top: 100px;
   }
   .resume-template .show-title {
    color: #666;
    font-size: 14px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
   .resume-template .show-bottom span {
    font-size: 12px;
    color: #999;
   }
   .resume-template .show-bottom .user-icon {
       display: inline-block;
       *display:inline;
       _zoom:1;
       width: 21px;
       height: 22px;
       background: url(http://icon.qiantucdn.com/revision/images/resume_common.png) -127px -658px no-repeat;
       vertical-align: bottom;
   }
   .resume-template .use-num {
    color: rgb(255, 126, 31)!important;
       margin-left: 5px;
   }
   .resume-template .show-img-bg img {
    margin-top: 20px;
   }
   .resume-template .show-list {
    font-size: 0;
    width: 1210px;
   }
   .resume-template .unload {
       text-align: center;
       margin-top: 50px;
   }

   .resume-template .unload-button {
       display: inline-block;
       *display:inline;
       _zoom:1;
       width: 140px;
       height: 40px;
       color: white;
       border-radius: 5px;
       font-size: 16px;
       text-align: center;
       line-height: 40px;
       background-color: rgb(32, 136, 255);
   }
   .resume-template .unloading-button {
       display: none;
       width: 140px;
       height: 40px;
       color: white;
       border-radius: 5px;
       font-size: 16px;
       text-align: center;
       line-height: 40px;
       background-color: rgb(32, 136, 255);
   }
   .resume-template .unloading-button .unload-icon{
       display: inline-block;
       *display:inline;
       _zoom:1;
       width: 22px;
       height: 22px;
       background: url(http://icon.qiantucdn.com/revision/images/unload.png);
       vertical-align: top;
       margin: 9px 5px 0 0;
       animation:unload-rotate 1s infinite linear;
   }
   @keyframes unload-rotate {
       0% {
              transform:rotateZ(0deg);
       }
       50% {
              transform:rotateZ(180deg);
       }
       100% {
             transform:rotateZ(360deg);
       }
   }