li{list-style: none;}
body{ background: #fff;}

.csbanner{ width: 100%; height: 320px; background:#ff6c1c url(../images/shop-index-banner.jpg) no-repeat center top;background-size: 1280px 320px;}
.csmain{ width: 1282px; margin: 0 auto;}
.cs-left{ width: 200px; float: left;}

.cs-ul1{ width: 210px; height: 123px; padding-top: 27px; background: url(../images/sc2.png) no-repeat; position: relative; top: -20px; left: 0; z-index: 2;}
.cs-ul1 a{ display: block; width: 120px;height: 20px; float: right; font-size: 14px; margin-bottom: 8px;} 
.cs-ul1 a strong{font-weight: bold; font-size: 16px;}
.cs-ul1 a.cs-ul1-a1{ font-size: 16px; font-weight: bold;}
.cs-ul1 a.cs-ul1-a2{ width: 140px; height: 40px; border-radius: 5px; margin-right:30px; margin-bottom: 15px; font-size: 15px; text-align: center; line-height: 40px;}
.cs-ul1 li{ text-align: center; width: 200px; color: #666; font-size: 12px; float: right;}



.cs-ul2{ width: 200px; border:1px solid #e8e8e8;}
.cs-ul2 a{ width: 197px; height: 45px; display: block; line-height: 45px; text-indent: 20px; font-size: 14px; color: #333;} 
.cs-ul2 a:hover{border-left: 3px solid #10c55b; color: #10c55b; text-indent: 25px;}
.cs-ul2 a.cs-ul2-a1{background: #f1f1f1; border-left: 3px solid #e0e0e0;}
.cs-ul2 a.cs-ul2-a1:hover{border-left: 3px solid #10c55b;}

.cs-right{ width: 1042px; float: right;}
.cs-ul3{ width: 1042px; height: 77px; float: left; padding-top: 25px;}
.cs-ul3-li1{ height: 36px; float: left; font-size: 24px;}
.cs-ul3-li1 span{ color: #ff2424;}
.cs-ul3-li2{ height: 38px; float: right; width: 162px; border-radius: 5px; border:1px solid #ccc; overflow: hidden; margin-right: 17px;}
.cs-ul3-li2 a{ width: 80px; height: 36px; float: left; text-align: center; line-height: 36px; font-size: 14px;}
.cs-ul3-li2-a1{
    background: #10c55b;    
    background: -webkit-linear-gradient(left,#17e66c,#10c55b); 
    background: -o-linear-gradient(left,#17e66c,#10c55b); 
    background: -moz-linear-gradient(left,#17e66c,#10c55b); 
    background: linear-gradient(left,#17e66c,#10c55b); 
    color: #fff;
}

.cs-ul4{ width: 245px; float: left; padding-bottom: 10px; margin-right: 15px; margin-bottom: 15px;}
.cs-ul4 a{ display: block; width: 245px;}
.cs-ul4-a1{ width: 245px; height: 245px; }
.cs-ul4-a1 img{ width: 245px; height: 245px; }
.cs-ul4-a2{ font-size: 14px; height: 20px; color: #333; margin-top: 15px; padding-left: 10px; width: 235px; overflow: hidden;}
.cs-ul4 p{ height: 20px; width: 245px; background: url(../images/sc3.png) no-repeat 10px 0; font-size: 14px; margin-top: 10px;}
.cs-ul4 p i{ color: #ff2424; font-size: 14px; display: inline-block; margin-left: 40px; margin-right: 5px; }

.cs-column{ width: 961px; font-size: 14px; margin: 23px auto 0; color: #666; }
.cs-column a{ color: #666;}

.cs-con{ width: 959px; height: 358px; border:1px solid #e8e8e8; margin: 23px auto 0; background: #fff;}
.cs-con img{width: 341px; height: 340px; display: block; float: left; margin: 8px 0 0 8px;}
.cs-con-ul2{ width: 556px; float: right;}
.cs-con-ul1-p1{ font-size:24px; color: #666; height: 34px; margin-top: 25px; overflow: hidden;}
.cs-con-ul1-p1 i{ width: 75px; height: 28px; display: inline-block; line-height: 28px; vertical-align: 3px; margin-left: 20px; text-align: center; font-size: 14px; background: #fb9c3a; border-radius: 3px; color: #fff;}

.cs-con-ul1-p2{ font-size: 24px; color: #ff4824; margin-top: 8px;}

.cs-con-ul1-p3{ font-size: 16px; margin-top: 50px;}
.cs-con-ul1-p4{ font-size: 16px; margin-top: 15px;}
.cs-con-ul2 a{ width: 200px; height: 56px; display: block; border-radius: 4px; text-align: center; line-height: 56px; font-size: 18px; color: #fff; margin-top: 50px;
    background: #10c55b;    
    background: -webkit-linear-gradient(left,#1beb71,#10c55b); 
    background: -o-linear-gradient(left,#1beb71,#10c55b); 
    background: -moz-linear-gradient(left,#1beb71,#10c55b); 
    background: linear-gradient(left,#1beb71,#10c55b); 
}

.cs-con2{ font-size:24px; border-bottom: 1px solid #e8e8e8; width: 959px; margin: 50px auto 0; padding-bottom: 15px; color: #666; text-indent: 5px;}
.cs-con3{ width: 959px; margin: 20px auto 0; font-size: 14px; color: #666;}

.popup1{ width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; z-index: 200;}
.popup1-ul1{opacity: 0.2;filter: alpha(opacity=20); -moz-opacity: 0.2; width: 100%; height: 100%; background: #000;}
.popup1-ul2{ width: 594px; height: 320px; position: absolute; left: 50%; top: 50%; margin-left: -297px; margin-top:-160px; background: #fff; border-radius: 5px; box-shadow: 0 0 15px #e1e1e1; overflow: hidden;}
.popup1-close{ width:14px; height: 14px; background: url(../images/sc7.png) no-repeat; position: absolute; top: 13px; right: 13px; cursor: pointer;}
.popup1-li1{ font-size: 18px; height: 27px; margin-top: 15px; padding-left: 21px; float: left; width: 594px; color:#747474;}
.popup1-li2{ font-size: 16px; height: 22px; margin-top: 15px; padding-left: 21px; color: #10c55b; float: left; width: 594px; cursor: pointer;}
.popup1-li3{ margin-bottom: 15px; width: 594px; padding-left: 21px; float: left;}
.popup1-p1{ width: 16px; height: 16px; border:1px solid #10c55b; float: left; margin-top: 7px; cursor: pointer;}
.popup1-p1-click{ background: url(../images/sc8.jpg) no-repeat center; }
.popup1-p2{ float: left; color: #666; width:470px;  font-size: 14px; line-height: 28px; margin-left: 10px;}
.popup1-a1{ width: 60px; height:21px; color: #10c55b; font-size: 14px; float: right; margin-top:5px;}
.popup1-li4{ width: 594px; text-align: center; float: left; margin-top: 10px;}
.popup1-li4 a{ display: inline-block; width: 100px; margin-right:25px;  height: 40px; text-align: center; line-height: 38px; color: #10c55b; background: #e9fff2; font-size: 16px; border:1px solid #10c55b; border-radius: 5px;}
.popup1-scroll{ width:594px; height: 145px; margin-top: 15px; float: left; overflow:auto;}
.popup1-li4 a.popup1-a2{
	background: #10c55b;    
    background: -webkit-linear-gradient(left,#1beb71,#10c55b); 
    background: -o-linear-gradient(left,#1beb71,#10c55b); 
    background: -moz-linear-gradient(left,#1beb71,#10c55b); 
	background: linear-gradient(left,#1beb71,#10c55b); 
	color: #fff;
	border:none;
}

.popup2-ul2{ width: 594px; height: 370px; position: absolute; left: 50%; top: 50%; margin-left: -297px; margin-top:-185px; background: #fff; border-radius: 5px; box-shadow: 0 0 15px #e1e1e1; overflow: hidden;}
.popup2-li1{ width: 574px; height:40px; float: left; margin-top: 26px;}
.popup2-li1 p{ color:#888; font-size:14px; line-height: 40px; float: left; margin-left:18px; } 		
.popup2-li1 span{ display: block; color: #ff4824; height: 40px; font-size: 18px; line-height: 40px; float: left; margin-left: 60px;}
.popup2-li1 a{ display: block; width: 120px; height: 40px; text-align: center; line-height: 40px; border-radius: 5px; float: right;}
.popup2-div1{ width: 557px; padding-bottom: 25px; background: #f6f6f6; border-radius: 5px; float: left; margin: 22px 0 0 18px;}
.popup2-div1 img{ width: 80px; height: 81px; display: block; float: left; margin-left:12px; margin-top: 12px;}
.popup2-div1-p1{ font-size: 14px; width:340px; float: left; line-height: 26px; margin-top: 30px; margin-left: 20px; color: #333;}
.popup2-div1-p1 span{ font-size: 16px;}
.popup2-div1-p2{ float: left; font-size: 14px; width:86px; height: 20px;  margin-top: 33px;}
.popup2-div1-p3{ width: 557px; border-top: 1px solid #dedede; float: left; margin-top: 20px;}
.popup2-div1-p4{ width:540px; font-size: 18px; color: #666; float: left; margin: 20px 0 11px 15px; word-spacing: 5px;}
.popup2-div1-p5{ float: left; margin-left: 15px; width: 480px; background:url(../images/sc12.jpg) no-repeat; overflow: hidden; line-height: 23px; text-indent: 2em; height: 25px; color: #666; font-size: 14px;}
.popup2-div1-a1{ float: right; color: #10c55b; font-size: 14px; width: 55px;padding-top: 2px;}

.popup3-ul1{ width: 480px; height: 380px; position: absolute; left: 50%; top: 50%; margin-left: -240px; margin-top:-190px; background: #fff; border-radius: 5px; box-shadow: 0 0 15px #e1e1e1; overflow: hidden;}
.popup3-ul1-li1{ width: 480px; padding-left: 21px; float: left; margin-top: 20px; position: relative;}	
.popup3-ul1-p1{ width:90px; height: 34px; line-height: 32px; float: left; font-size: 14px; color: #666;}
.popup3-ul1-li1 input{ width: 350px; height: 34px; padding: 0 10px; line-height: 34px; color: #333; border:1px solid #e3e3e3; display: block;float: left;}
.popup3-ul1-p2{ width: 110px; height: 34px; overflow: hidden; position: absolute;top:0px; z-index: 2; cursor: pointer; border:1px solid #e3e3e3; float: left; background:#fff url(../images/sc13.jpg) no-repeat 75px 13px; line-height: 34px; text-indent: 7px;}
.popup3-ul1-p2 a{ display: block; width: 98px; height: 34px; float: left; overflow: hidden; line-height: 34px;}
.popup3-ul1-p2 a:hover{color: #10c55b;} 
.popup3-left1{ left:110px;}
.popup3-left2{ left:230px;}
.popup3-left3{ right:19px;}
.popup3-ul1-li1 textarea{ width: 350px; height: 75px;border:1px solid #e3e3e3; display: block; float: left;}
.popup3-ul1-li2{ width: 480px; float: left; color: #666; font-size: 14px; padding-left: 111px; margin-top: 15px;}
.popup3-ul1-li2 i{ width: 16px; height: 16px; display: inline-block; border:1px solid #10c55b; margin-right: 5px; vertical-align: -3px; cursor: pointer;} 
.popup3-ul1-li3{ width: 480px; float: left; margin-top: 30px; text-align:center;}	
.popup3-ul1-li3 a{width: 100px; height: 40px; text-align: center; display: inline-block; line-height: 40px; border-radius: 5px; font-size: 16px;border:1px solid #10c55b;}
.popup3-ul1-a1{ background: #e9fff2; margin-left: 25px;}

.popup4-ul1{ width: 380px; height: 290px; position: absolute; left: 50%; top: 50%; margin-left: -190px; margin-top:-145px; background: #fff; border-radius: 5px; box-shadow: 0 0 15px #e1e1e1; overflow: hidden;}
.popup4-ul1-p1{ width: 100%; height: 50px; margin-top: 35px;}
.popup4-bj1{ background: url(../images/sc10.jpg) no-repeat top center;}
.popup4-bj2{ background: url(../images/sc11.jpg) no-repeat top center;}
.popup4-ul1-p2{ font-size: 24px; text-align: center; color: #666; margin-top: 15px;}
.popup4-ul1-p3{ font-size: 14px; text-align: center; color: #888; margin-top: 15px; line-height: 26px;}
.popup4-ul1-p4{ text-align: center; margin-top: 23px;}
.popup4-ul1-p4 a{width: 120px; height: 40px; text-align: center; display: inline-block; line-height: 40px; border-radius: 5px; font-size: 14px;border:1px solid #10c55b;}
.popup4-ul1-a1{ background: #e9fff2; color: #10c55b; margin-left: 20px;}

.jl{font-size: 24px; width: 1042px; border-bottom: 1px solid #dedede; height: 60px; line-height: 60px; text-indent: 2px; float: left;}
.jl a{ height: 60px; float: right; font-size:14px; color: #333; line-height: 60px; padding-right:10px;}
.jl span{ color: #999; display: inline-block; margin-left: 17px;}
.jl span i{ color: #10c55b;}

.qzjf{ width: 1040px; float: left; color: #666; font-size: 14px; height: 20px; margin-top: 20px;}
.qzjf a{ color: #ff4646;}
.qzjf a.qzjf-a1{ text-decoration: underline;}

.xq{ height: 34px; width:1042px; background: #effff6; border:1px solid #b0ecc9; margin-top: 20px; float: left;}
.xq li{ font-size: 14px; height: 34px; line-height: 34px; color: #666; float: left; text-align: center;}
.xq-li1{ width:553px;}
.xq-li2{ width:200px;}
.xq-li3{ width:270px;}

.xqlist{ width: 1042px; border:1px solid #e8e8e8; margin-top: 10px; float: left;}
.xqlist-ul1{ height: 36px; width: 1042px; background: #f5f5f5; float: left; line-height: 36px; text-indent: 17px; font-size: 14px;}
.xqlist img{ width: 80px; height: 80px; display: block; float: left; margin: 20px 0 0 20px;}
.xqlist-li1{ margin-left: 20px; height: 117px; padding-top: 36px; width: 310px; float: left; line-height: 24px; color: #333; font-size: 14px;}
.xqlist-li2{ height: 117px; width: 150px; float: left; line-height: 117px; color: #ff4824; font-size: 14px;  text-align: center;}
.xqlist-li3{ height: 117px; width: 154px; float: left; line-height: 117px; color: #333; font-size: 14px;  text-align: center; border-left: 1px solid #eaeaea; border-right: 1px solid #eaeaea;}
.xqlist-li4{ height: 117px; width: 305px; padding-top: 30px; float: right; color: #666; font-size: 14px;  text-align: center; line-height: 65px;}
.xqlist-li4 span{ color: #808080;}
.xqlist-li4 span.xqlist-span1{ color: #10c55b;}
.xqlist-li4 span.xqlist-span2{ color: #c7c7c7;}
.xqlist-ul2{ width: 1042px; float: left;  padding: 10px 0 10px 17px; background: #f5f5f5; position: relative;}
.xqlist-ul2 p{float: left;line-height: 26px;font-size: 14px; color: #666; width: 890px;}
.xqlist-ul2 a{line-height: 36px;font-size: 14px; width: 96px; height: 36px; text-align: center; border-radius: 5px; display: block; position: absolute; margin-top: -18px; top: 50%; right: 30px;}

.rw{ width: 1042px; float: left; padding-top: 28px; padding-bottom: 12px; border-bottom: 1px solid #10c55b;}
.rw-bj1{ background: url(../images/sc14.jpg) no-repeat;}
.rw-bj2{ background: url(../images/sc15.jpg) no-repeat;}
.rw-bj3{ background: url(../images/sc16.jpg) no-repeat;}
.rw-bj4{ background: url(../images/sc17.jpg) no-repeat;}
.rw-li1{ width: 58px; height: 58px; float: left; margin-left: 20px;}
.rw-li2{ font-size: 16px; color: #333; line-height: 22px; margin-left: 22px; padding-top: 10px; height: 58px; float: left;}
.rw-li2 span{ color: #8b8b8b; font-size: 14px;} 
.rw-li2 span i{ color: #ff4824;} 
.rw-a1{ width: 94px; height: 34px; border-radius: 5px; margin-top: 18px; margin-right: 5px; border:1px solid #10c55b; text-align: center; line-height: 32px; display: block; float: right; font-size: 14px; color: #10c55b;}

.rw2{ width: 1042px; float: left; padding-top: 15px; padding-bottom: 12px;}

.rw-li3{width: 942px; line-height: 22px; padding-top: 10px; padding-bottom: 15px; float: right; border-bottom: 1px solid #e9e9e9;}
.rw-li3 span{ color: #8b8b8b; font-size: 14px;} 
.rw-li3 span i{ color: #ff4824;} 
.rw-p2{ height: 34px; float: right; line-height: 38px; color: #ff4824; margin-right: 126px;}
.rw-p1{ width:635px; float: left; padding-top: 8px;}
.rw-li4{width: 942px;  padding-top: 15px; padding-bottom: 15px; font-size: 16px; float: right; border-bottom: 1px solid #e9e9e9;}
.rw-li4 span{ color: #8b8b8b; font-size: 14px;} 
.rw-a2{margin-top:3px;}
.rw-a3{ border:1px solid #e2e2e2; color: #e2e2e2;}

.kong{ width: 1042px; text-align: center; line-height: 30px; font-size: 18px; padding-top:170px;}
.kong i{ width:98px; height: 107px; background: url(../images/sc18.jpg) no-repeat; display: inline-block; } 
.kong span{ color: #31c96a;}


.yh{ width: 380px; height: 240px; float: left; margin: 20px 36px 0 0;}
.yh-p1{ width: 43px; height: 55px; margin: 31px 0 0 91px; float: left;}
.yh-p2{ height: 55px; float: left; margin: 31px 0 0 20px; font-size: 24px; line-height: 27px;}
.yh-p2 span{ font-size: 14px}
.yh-ul1{ width:380px; height: 85px; float: left; margin-top: 17px; }
.yh-li1{ width:307px; float: left; height: 32px; margin-left: 35px; position: relative;}
.yh-li1 p{ position: absolute; width:70px; top: 0px; left: 0%; margin-left: -34px; height: 28px;  text-align: center; line-height: 26px; font-size: 18px;}
.yh-li1 p:after{position: absolute;content: '';left: 50%;margin-left: -8px;bottom: -6px;display: block;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;}
.yh-li2{ width:307px; height: 6px;  float: left; border-radius: 3px; overflow: hidden; margin-left: 35px; margin-top:10px;}
.yh-li2 p{  height: 6px; width: 0%;}
.yh-li3{ font-size: 18px; height: 22px;float: right; margin-right: 40px; margin-top: 3px;}
.yh-li4{ width: 380px; float: left; font-size: 14px; height: 30px;}
.yh-li4 i{ width: 48px; height: 28px; display: inline-block;  margin-left: 60px; margin-right: 10px; border-radius: 3px; text-align: center; line-height: 28px; font-size: 14px;}


















.yh1{background: url(../images/sc25.jpg) no-repeat;}
.yh1 p.yh-p1{background: url(../images/sc19.png) no-repeat;}
.yh1 p.yh-p2{ color: #fff;}
.yh1 p.yh-p2 span{ color: #fff;}
.yh1 li.yh-li1 p{border:1px solid #f0ff00; color: #f0ff00;}
.yh1 li.yh-li1 p:after{border-top:6px solid #f0ff00;}
.yh1 li.yh-li2{background: #17713c;}
.yh1 li.yh-li2 p{background: #f0ff00;}
.yh1 li.yh-li3{color: #c1feb6;}
.yh1 li.yh-li4{ color: #c9ffd9;}
.yh1 li.yh-li4 i{color: #17713c; background: #c9ffd9;}

.yh2{background: url(../images/sc26.jpg) no-repeat;}
.yh2 p.yh-p1{background: url(../images/sc20.png) no-repeat;}
.yh2 p.yh-p2{ color: #8f591a;}
.yh2 p.yh-p2 span{ color: #8f591a;}
.yh2 li.yh-li1 p{border:1px solid #ff7529; color: #ff7529;}
.yh2 li.yh-li1 p:after{border-top:6px solid #ff7529;}
.yh2 li.yh-li2{background: #8f591a;}
.yh2 li.yh-li2 p{background: #f04848;}
.yh2 li.yh-li3{color: #8f591a;}
.yh2 li.yh-li4{ color: #8f591a;}
.yh2 li.yh-li4 i{color: #fff; background: #d59852;}

.yh3{background: url(../images/sc28.jpg) no-repeat;}
.yh3 p.yh-p1{background: url(../images/sc21.png) no-repeat;}
.yh3 p.yh-p2{ color: #6c6d86;}
.yh3 p.yh-p2 span{ color: #6c6d86;}
.yh3 li.yh-li1 p{border:1px solid #f04848; color: #f04848;}
.yh3 li.yh-li1 p:after{border-top:6px solid #f04848;}
.yh3 li.yh-li2{background: #939abe;}
.yh3 li.yh-li2 p{background: #f04848;}
.yh3 li.yh-li3{color: #6c6d86;}
.yh3 li.yh-li4{ color: #6c6d86;}
.yh3 li.yh-li4 i{color: #fff; background: #6c6d86;}

.yh4{background: url(../images/sc27.jpg) no-repeat;}
.yh4 p.yh-p1{background: url(../images/sc22.png) no-repeat;}
.yh4 p.yh-p2{ color: #a17b39;}
.yh4 p.yh-p2 span{ color: #a17b39;}
.yh4 li.yh-li1 p{border:1px solid #e84f4f; color: #e84f4f;}
.yh4 li.yh-li1 p:after{border-top:6px solid #e84f4f;}
.yh4 li.yh-li2{background: #a17b39;}
.yh4 li.yh-li2 p{background: #f04848;}
.yh4 li.yh-li3{color: #a17b39;}
.yh4 li.yh-li4{ color: #a17b39;}
.yh4 li.yh-li4 i{color: #fff; background: #a17b39;}

.yh5{background: url(../images/sc29.jpg) no-repeat;}
.yh5 p.yh-p1{background: url(../images/sc23.png) no-repeat;}
.yh5 p.yh-p2{ color: #b69753;}
.yh5 p.yh-p2 span{ color: #b69753;}
.yh5 li.yh-li1 p{border:1px solid #e84f4f; color: #e84f4f;}
.yh5 li.yh-li1 p:after{border-top:6px solid #e84f4f;}
.yh5 li.yh-li2{background: #d2b26e;}
.yh5 li.yh-li2 p{background: #f04848;}
.yh5 li.yh-li3{color: #b69753;}
.yh5 li.yh-li4{ color: #b69753;}
.yh5 li.yh-li4 i{color: #fff; background: #d2b26e;}

.yh6{background: url(../images/sc30.jpg) no-repeat;}
.yh6 p.yh-p1{background: url(../images/sc24.png) no-repeat;}
.yh6 p.yh-p2{ color: #dfc28f;}
.yh6 p.yh-p2 span{ color: #dfc28f;}
.yh6 li.yh-li1 p{border:1px solid #dfc28f; color: #dfc28f;}
.yh6 li.yh-li1 p:after{border-top:6px solid #dfc28f;}
.yh6 li.yh-li2{background: #615a4d;}
.yh6 li.yh-li2 p{background: #dfc28f;}
.yh6 li.yh-li3{color: #dfc28f;}
.yh6 li.yh-li4{ color: #dfc28f;}
.yh6 li.yh-li4 i{color: #fff; background: #a17b39;}

.csmain .cs-left .cs-ul1.lv0:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc19.png');
 position:absolute;
 left: 24px;
 top: 28px;
}
.csmain .cs-left .cs-ul1.lv1:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc20.png');
 position:absolute;
 left: 24px;
 top: 28px;
}
.csmain .cs-left .cs-ul1.lv2:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc21.png');
 position:absolute;
 left: 24px;
 top: 28px;
}
.csmain .cs-left .cs-ul1.lv3:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc22.png');
 position:absolute;
 left: 24px;
 top: 28px;
}
.csmain .cs-left .cs-ul1.lv4:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc22.png');
 position:absolute;
 left: 24px;
 top: 28px;
}
.csmain .cs-left .cs-ul1.lv5:after {
 width:43px;
 height: 55px;
 content:'';
 background:url('../images/sc24.png');
 position:absolute;
 left: 24px;
 top: 28px;
}





















