a,a:hover{text-decoration: none;}
.clear:after{content:'.';clear:both;display:block;height:0;visibility:hidden;font-size:0;line-height:0}
.fl{ display: inline; }

#tool-header{height: 60px; background: #f9f9f9;border-bottom: 1px #ededed solid;}
#tool-header .w1200{margin:0 auto;}
#tool-header .logo{ width: 259px;height: 41px;margin-top: 10px; background: url(http://icon.qiantucdn.com/images/design/tool-ico.png); }
#tool-header .logo a{ display: block;height: 41px }
#tool-header .nav{ line-height: 60px;padding-left: 15px; }
#tool-header .nav a{ float: left;margin:0 20px;color:#666; font-size: 17px; }
#tool-header .nav a:hover{color:#2ba715;}
#tool-header .login{ line-height: 60px; }
#tool-header .login a{ font-size: 14px;color:#4b4b4b;display: inline-block;margin:0 12px 0 3px; }
#tool-header .info{  font-size:14px ;line-height: 0;padding-top: 20px; }
#tool-header .info .name{color:#62bd52;}
#tool-header .info .vip{ width: 16px;height: 18px; display: inline-block;margin:0 5px; }
#tool-header .info .vip.v0{ background: url(http://icon.qiantucdn.com/images/design/tool-ico.png) 0 -101px; vertical-align: -2px}
#tool-header .info .vip.v1{ background: url(http://icon.qiantucdn.com/images/design/tool-ico.png) -30px -101px; vertical-align: -2px}
#tool-header .info .vip.v2{ background: url(http://icon.qiantucdn.com/images/design/tool-ico.png) -59px -101px;vertical-align: -3px }

#tool-wrapper{margin:21px auto 0;}
#tool-wrapper .banner{height: 340px; position: relative;overflow: hidden;}
#tool-wrapper .slide-right{width:393px;}
#tool-wrapper .images div{float: left;}
#tool-wrapper .slide-right .new{width:393px;background:#fff;border:0 none;height:150px}
#tool-wrapper .slide-right .new .new-t{background:#fff;border-bottom:1px #f4f4f4 solid;height:60px;line-height:60px}
#tool-wrapper .slide-right .new .new-t a{float:left;font-size:14px;text-align:center;position:relative;left:-1px;bottom:0;background:#fff;border-right:1px #f4f4f4 solid;width:96px;padding:0}
#tool-wrapper .slide-right .new .new-t a.hover{background:#fff;z-index:2;border-left:0 none;color:#3ebb2b;height:60px;border-right:1px #f4f4f4 solid;padding:0}
#tool-wrapper .slide-right .new .new-m,.slide-right .new .qqlm{padding:0 20px}
#tool-wrapper .slide-right .new .new-m li{font-size:14px;padding-top:20px}
#tool-wrapper .slide-right .new .qqlm li{font-size:14px;padding-top:11px;line-height:28px}
#tool-wrapper .slide-right .new .qqlm span a{width:98px;height:26px;display:block;line-height:26px;color:#00b7d6;transition:all .2s;text-indent:30px;border:1px #00b7d6 solid;border-radius:3px;font-size:14px;background:url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 5px -55px}
#tool-wrapper .slide-right .new .qqlm span a:hover{border:1px #1f9bd9 solid;color:#1f9bd9;background:url(http://icon.qiantucdn.com/images/design/newIndex/headerico.png) no-repeat 5px -87px}
#tool-wrapper .tabs{position:absolute;clear:both;height:18px;line-height:18px;border-radius:9px;left:557px;background:0 0;top:304px;padding:0 2px}
#tool-wrapper .tabs a{width:14px;height:14px;float:left;display:block;font-size:1px;background:#999;border-radius:50%;transition:all .2s;margin:2px 1px}
#tool-wrapper .tabs a.current,.tabs a:hover{background:#3ebb2b}
#tool-wrapper .backward,.forward{position:absolute;width:40px;height:310px;overflow:hidden;top:0;cursor:pointer;font-size:0}
#tool-wrapper .backward{left:0;background:url(http://icon.qiantucdn.com/images/newIndex/lun.png) 0 no-repeat;height:340px;width:50px}
#tool-wrapper .forward{right:0;background:url(http://icon.qiantucdn.com/images/newIndex/lun.png) -51px no-repeat;height:340px;width:50px}
#tool-wrapper a.backward:hover{background:url(http://icon.qiantucdn.com/images/newIndex/lun.png) -153px no-repeat}
#tool-wrapper a.forward:hover{background:url(http://icon.qiantucdn.com/images/newIndex/lun.png) -102px no-repeat}
.tags{margin-top:20px}
#tool-wrapper .subnav{height: 170px;margin-top: 27px;}
#tool-wrapper .subnav .sub{ float: left; display: inline; width: 280px;height: 170px;margin-right: 27px;-webkit-transition: all .2s;transition:all .2s; }
#tool-wrapper .subnav .sub:hover,.c-tool .list:hover,.ui-tool dl:hover,.pic-tool dl:hover,.icon-tool .tool-m div:hover{-webkit-box-shadow:0 1px 20px rgba(0,0,0,0.15);box-shadow:0 1px 20px rgba(0,0,0,0.15);-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);}
#tool-wrapper .subnav .sub a{ display: block;height: 170px; }
#tool-wrapper .subnav .sub a:hover{text-decoration: none;}
#tool-wrapper .subnav .sub span{ background-image: url(http://icon.qiantucdn.com/images/design/tool-ico.png); display: block;}
#tool-wrapper .subnav .sub .p1{ font-size: 22px;color:#fff; text-align: center; line-height: 32px;}
#tool-wrapper .subnav .sub .p2{color:#fefefe; font-size: 14px;filter:alpha(opacity=80); opacity: .8;text-align: center; line-height: 20px;}
#tool-wrapper .subnav .sub1{ background: #4ebf56 }
#tool-wrapper .subnav .sub1 span{ background-position: -108px -43px; width: 62px;height: 52px;margin:41px auto 6px; }
#tool-wrapper .subnav .sub2{ background: #3ab4a9 }
#tool-wrapper .subnav .sub2 span{ background-position: -51px -43px; width: 55px;height: 55px;margin:41px auto 3px; }
#tool-wrapper .subnav .sub3{ background: #71a7e0 }
#tool-wrapper .subnav .sub3 span{ background-position: 0 -43px; width: 49px;height: 57px;margin:37px auto 5px; }
#tool-wrapper .subnav .sub4{float: right;margin:0; background: #fa5f5b; width: 279px}
#tool-wrapper .subnav .sub4 span{ background-position: -172px -43px; width: 60px;height: 46px;margin:45px auto 8px; }
#tool-wrapper .tool-bar{padding-top: 24px; line-height: 86px;height: 86px;}
#tool-wrapper .tool-bar h3{ font-size: 22px;color:#373737; }
#tool-wrapper .tool-bar h3 span{ font-size: 16px;color:#888888;padding-left: 10px; }
#tool-wrapper .tool-bar span.fr{ line-height:0;padding-top: 33px; }
#tool-wrapper .tool-bar span.fr a{ font-size: 16px;color:#666;}
#tool-wrapper .tool-bar span.fr a i{ width: 21px;height: 21px; background: url(http://icon.qiantucdn.com/images/design/tool-ico.png) -236px -43px;display: inline-block;margin:0 5px 0 9px;vertical-align: -4px;*vertical-align: 0; }
#tool-wrapper .tool-bar span.fr a:hover{color:#2ba715;}
#tool-wrapper .tool-bar span.fr a:hover i{background-position: -236px -66px;transform:rotate(360deg);}
#tool-wrapper .c-tool .list{ width: 280px;height: 170px; margin-right: 27px; background-color: #fafafa;-webkit-transition: all .2s;transition:all .2s;}
#tool-wrapper .c-tool .list a{ display: block;height: 170px; }
#tool-wrapper .c-tool .list .img{ width: 90px;height: 90px;margin:40px 12px 0 20px;background-image: url(http://icon.qiantucdn.com/images/design/tool-ico.png); }
#tool-wrapper .c-tool .list dl{ width: 140px;padding-top: 47px; }
#tool-wrapper .c-tool .list dl dt{line-height: 34px;color:#373737; font-size: 22px;}
#tool-wrapper .c-tool .list dl dd{ font-size: 12px;color:#373737; line-height: 22px; }
#tool-wrapper .c-tool .list.c1{border-top: 1px #ffac13 solid;}
#tool-wrapper .c-tool .list.c1 .img{background-position: -541px 0}
#tool-wrapper .c-tool .list.c2{border-top: 1px #83c44e solid;}
#tool-wrapper .c-tool .list.c2 .img{background-position: -262px 0}
#tool-wrapper .c-tool .list.c3{border-top: 1px #2196f3 solid;}
#tool-wrapper .c-tool .list.c3 .img{background-position: -355px 0}
#tool-wrapper .c-tool .list.c4{border-top: 1px #00c0a5 solid; float: right;width: 279px;margin:0;}
#tool-wrapper .c-tool .list.c4 .img{background-position: -448px 0}
#tool-wrapper .ui-tool dl{ width: 280px;height: 200px; background-color: #f9f9f9;-webkit-transition: all .2s;transition:all .2s;}
#tool-wrapper .ui-tool dl.fl{margin-right: 27px; }
#tool-wrapper .ui-tool dl.fr{width: 279px;}
#tool-wrapper .ui-tool dl dt{text-align: center;padding:25px 0 15px;}
#tool-wrapper .ui-tool dl dd{text-align: center; line-height: 34px;}
#tool-wrapper .ui-tool dl dd a{ font-size: 16px;color:#777; }
#tool-wrapper .pic-tool dl{height: 232px; width: 280px; background-color: #fafafa;-webkit-transition: all .2s;transition:all .2s;}
#tool-wrapper .pic-tool dl.fl{margin-right: 27px;}
#tool-wrapper .pic-tool dl.fr{width: 279px;}
#tool-wrapper .pic-tool dl dt{text-align: center;padding-top:11px;}
#tool-wrapper .pic-tool dl dd{ line-height: 60px;text-align: center; }
#tool-wrapper .pic-tool dl dd a{ font-size: 16px;color:#777; }
#tool-wrapper .icon-tool{margin-bottom: 80px;}
#tool-wrapper .icon-tool div.fl{margin-right: 27px;-webkit-transition: all .2s;transition:all .2s;}
#tool-wrapper .icon-tool div.fr{ width: 279px;overflow: hidden; -webkit-transition: all .2s; transition:all .2s;}