/* CSS Document */

.header-content1{

	height:69px;

	background:url("http://icon.58pic.com/images/show/user/u_newest_dl.png") repeat-x;

	overflow:hidden

}

.header-logo1{

	width:119px;

	margin-top:20px;

	padding-right:20px;

	background:url("http://icon.58pic.com/images/show/user/logo.png") no-repeat;

	height:37px

}

.header-logo1 a{

	display:block;

	height:37px;

	width:119px;

	text-indent:-99999px

}

.header-banner1{

	height:37px;

	line-height:37px;

	margin-top:20px;

	padding-top:5px;

	padding-left:30px;

	background:url("http://icon.58pic.com/images/show/user/u_newest_dl1.gif") no-repeat left center

}

.header-user1{

	display:block;

	height:69px;

	line-height:69px

}

.content-lf1{

	padding-bottom:1000000px;

	margin-bottom:-1000000px;

	width:180px;

	height:auto;

	background-color:#f3f3f3;

	float:left;

	background:#F3F3F3

}

.content-lf1 ul{

	margin-top:30px;

	border-top:1px solid #d2d2d2

}

.content-lf1 ul li{

	height:42px;

	border-bottom:1px #ccc solid

}

.left-menu-item:hover,.content-lf1 .default {

	background:rgb(53,172,32);

	color:#fff;

	text-decoration:none;

}

.left-menu-item {

	margin-top:0px;

	padding:0px;

	display:block;

	height:42px;

	width:180px;

	overflow:hidden;

	background:rgb(243,243,243);

	color:rgb(138,138,138);

}

.left-menu-text {

	float:left;

	display:block;

	padding:10px 30px 10px 5px;

	text-align:center;

	height:23px;

	line-height:23px;

	font-size:17px;

	font-family:"Î¢ÈíÑÅºÚ",Microsoft YaHei,Arial,Verdana;

}

.left-menu-icon {

	float:left;

	display:inline;

	margin-left:21px;

	height:42px;

	width:31px;

}

.h6 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px 0px;

}

.hh6 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px 0px;

}

.h7 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px -44px;

}

.hh7 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px -44px;

}

.h13 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px -44px;

}

.hh13 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px -44px;

}

.h2 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px -129px;

}

.hh2 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px -129px;

}

.h3 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px -170px;

}

.hh3 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px -170px;

}

.h4 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -215px;

}

.hh4 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -51px -215px;

}

.h5 {background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -257px;}
.hh5 {background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -50px -257px;}

.h21 {
	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -516px;
}
.hh21 {
	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -50px -516px;
}

.h9 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -8px -302px;

}

.hh9 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -52px -302px;

}

.h11 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -342px;

}

.hh11 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -51px -342px;

}

.h12 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -386px;

}

.hh12 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -51px -386px;

}


.h14 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -7px -429px;

}

.hh14 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -51px -429px;

}


.h20 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -4px -475px;

}

.hh20 {

	background:url("http://icon.58pic.com/images/sponsor/leftmenu_v1.png") no-repeat -48px -475px;

}



.wrapper #listBox{

	width:950px;

	overflow:hidden;

	margin-left:10px;

	background:#fff;

	padding:10px 0;

	margin-top:10px

}

.listBox1{

	background:#fff;

	width:1000px;

	overflow:hidden

}

.user-bot{

	width:966px;

	border-bottom:1px solid #e1e0e0;

	margin-top:10px;

	margin-left:10px

}



.flow-shou{

	position:absolute;

	left:7px;

	top:7px;

	display:block;

	width:80px;

	height:36px;

	background:url("http://icon.58pic.com/images/show/user/bkd-fav.png") no-repeat

}

.flow-shou:hover{

	background:url("http://icon.58pic.com/images/show/user/bkd-fav-active.png") no-repeat

}

.flow-qshou{

	position:absolute;

	left:7px;

	top:7px;

	display:block;

	width:80px;

	height:36px;

	background:url("http://icon.58pic.com/images/show/user/bkd-favr.png") no-repeat

}

.flow-qshou:hover{

	background:url("http://icon.58pic.com/images/show/user/bkd-favr-active.png") no-repeat

}

.flow-border1{

	background:url("http://icon.58pic.com/images/show/flow-border.png") repeat scroll 0 0 transparent;

	bottom:0;

	font-size:0;

	height:3px;

	position:relative;

	top:7px;

	width:224px

}

.sh-show{

	font-size:16px;

	margin-left:30px

}

.sh-show a{

	font-size:26px;

	font-weight:bold;

	color:#009900;

	text-decoration:none;

	font-family:"Î¢ÈíÑÅºÚ"

}

.sh-show a:hover{

	text-decoration:none

}

.bind-class ul{

	overflow:hidden;

	border-bottom:1px solid #D7D7D7;

	_height:1%

}

.bind-class ul li{

	float:left;

	padding:10px 0;

	overflow:hidden;

	padding-bottom:0px;

	width:100px

}

.bind-class ul span{

	display:block;

	height:30px;

	font-size:18px;

	text-decoration:none;

	font-family:"Î¢ÈíÑÅºÚ";

	clear:both;

	overflow:hidden;

	text-align:center;

	width:100px

}

.gz_current{

	color:#333333;

	height:27px;

	text-decoration:none;

	border-bottom:3px solid #00cc56

}

.sh-show-null{

	color:#999;

	font-size:40px;

	margin-left:30px;

	font-weight:bold;

	font-family:"Î¢ÈíÑÅºÚ"

}

.sh-show-null a{

	font-size:40px;

	font-weight:bold;

	color:#009900;

	text-decoration:none;

	font-family:"Î¢ÈíÑÅºÚ"

}

.sh-show-null a:hover{

	text-decoration:none

}

.sh-page{

	float:right;

	font-size:14px

}

.sh-page .upPage,.sh-page .downPage{

	color:#b6b6b6;

	float:left;

	border:1px solid #b6b6b6;

	height:24px;

	width:60px;

	line-height:24px;

	text-align:center;

	margin-left:10px

}

.sh-page .upPage:hover,.sh-page .downPage:hover{

	text-decoration:none;

	border:1px solid #32a625;

	color:#32a625

}

.user-fav{

	display:block;

	width:91px;

	height:39px;

	background:url("http://icon.58pic.com/images/show/user/bkd-fav1.png") no-repeat;

	position:absolute;

	top:10px;

	left:10px;

	display:none

}

.user-fav:hover{

	background:url("http://icon.58pic.com/images/show/user/bkd-fav-h.png") no-repeat

}

.user-fav:active{

	background:url("http://icon.58pic.com/images/show/user/bkd-fav-c.png") no-repeat

}

.user-rfav{

	display:block;

	width:91px;

	height:39px;

	background:url("http://icon.58pic.com/images/show/user/bkd-favr1.png") no-repeat;

	position:absolute;

	top:10px;

	left:10px;

	display:none

}

.user-rfav:hover{

	background:url("http://icon.58pic.com/images/show/user/bkd-favr-h.png") no-repeat

}

.user-rfav:active{

	background:url("http://icon.58pic.com/images/show/user/bkd-favr-c.png") no-repeat

}

.w930{

	width:905px

}

.w895{

	width:880px

}

.h720{


	display:block;

	height:700px;

	text-align:center

}

.w710{

	width:976px

}

.w920{

	width:885px

}

.ml0{

	margin-left:0

}

.overf{

	overflow:hidden

}

.mr20{

	margin-right:15px;

	padding:0

}

.user-page{

	overflow:hidden;

	float:right;

	position:relative;

	max-width:800px;

	_width:expression(document.body.clientWidth>800 ? "800px":"auto")

}

.user-page .pager-linkPage{

	margin-left:0

}

.user-page a,.pager-linkPage span{

	float:left;

	border:1px solid #b1b1b1;

	height:30px;

	line-height:30px;

	width:40px;

	text-align:center;

	font-size:16px;

	color:#b1b1b1;

	margin-left:10px

}

.user-page .upPage,.user-page .downPage{

	float:left;

	border:1px solid #b1b1b1;

	height:30px;

	line-height:30px;

	width:80px;

	text-align:center

}

.user-page .downPage{

	float:right;

	margin-right:20px

}

.pager-linkPage span{

	border:none

}

.user-page a:hover,.user-page .current{

	text-decoration:none;

	background-color:#50bd3d;

	border:1px solid #259212;

	color:#FFFFFF

}

.user-border{

	width:1130px;

	overflow:hidden;

	margin:0 auto

}

.w1130{

	width:1180px

}

.w1150{

	width:1180px

}

#user-menu li{

	font-size:15px;

	float:left;

	margin-left:5px

}

#user-menu li a{

	color:#888

}

.click-copy{

	width:132px;

	height:42px;

	background:url("http://icon.58pic.com/images/show/user/click-copy.png") no-repeat

}

.click-copy:hover{

	background:url("http://icon.58pic.com/images/show/user/click-copy-hover.png") no-repeat

}

.click-copy:active{

	background:url("http://icon.58pic.com/images/show/user/click-copy-click.png") no-repeat

}

.tuijian{

	font-size:16px;

	width:650px;

	height:50px;

	line-height:50px;

	padding-left:35px

}

.tuijian-copy{

	width:650px;

	padding-left:35px

}

.tuijian-copy p{

	background-color:#F8F8F8;

	border:1px solid #CCCCCC;

	font-size:16px;

	line-height:30px;

	width:610px;

	padding:20px;

	word-wrap:break-word;

	overflow:hidden

}

.tuijian-copy textarea{

	width:610px;

	height:80px;

	background-color:#F8F8F8;

	border:1px solid #CCCCCC;

	font-size:16px;

	line-height:30px;

	padding:20px;

	word-wrap:break-word;

	overflow-y:hidden;

	color:#666666

}

.tuijian-click{

	font-size:16px;

	padding-left:35px;

	width:650px;

	height:60px;

	line-height:60px;

	padding-top:10px

}

.user-vip-span{

	font:Arial,Helvetica,sans-serif;

	font-size:24px;

	color:#35AC20

}

.ht700{
	padding-left:20px;
}

.viprecord{

	width:99%

}

.viprecord td{


	height:30px;

	line-height:30px;

	text-align:center;

	font-size:14px

}

.viprecord thead td{

	background-color:#F3FEF1;

	color:#198307;

	border-bottom:1px solid #87DC78

}

.viprecord tbody td{

	height:40px;

	line-height:40px;

	color:#666;


}

.vipRecw{

	width:82%

}

.vipRecwd{

	width:98%

}

.vipRecwd100{

	width:100%

}

.viprecord tbody .sh-show-null{

	color:#999;

	font-size:40px;

	margin-left:30px;

	font-weight:bold;

	font-family:"Î¢ÈíÑÅºÚ";

	padding-top:50px;

	padding-bottom:50px

}

.user-upload ul{

	overflow:hidden;

	border-bottom:1px solid #D7D7D7;

	_height:1%

}

.user-upload ul li{

	float:left;

	background:url("http://icon.58pic.com/images/show/user/user-upload-list.gif") no-repeat center right;

	padding:10px 20px;

	overflow:hidden;

	padding-bottom:0px;

	width:150px

}

.user-upload .left-pad{

	padding-left:0px

}

.user-upload ul a{

	display:block;

	height:30px;

	line-height:28px;

	font-size:18px;

	text-decoration:none;

	font-family:"Î¢ÈíÑÅºÚ";

	clear:both;

	overflow:hidden;

	text-align:center;

	width:150px

}

.user-upload ul a:hover,.gz_current,.user-upload ul #user-pic-current{

	color:#333333;

	height:27px;

	text-decoration:none;

	border-bottom:3px solid #00cc56

}

.user-upload-img{

	padding:30px;

	width:883px;

	float:right

}

.uploadbox{

	border:1px solid #D7D7D7;

	width:933px;

	min-height:90px;

	margin-right:15px;

	_margin-right:9px;

	_height:expression((document.documentElement.clientHeight||document.body.clientHeight)>90?"90px":"")

}

.uploadify-queue-item{

	margin-top:40px;

	margin-bottom:20px

}

.upload_tiship{

	height:88px;

	width:170px;

	position:absolute;

	right:1px;

	top:1px;

	background-color:#e5e5e5;

	line-height:88px;

	text-align:center;

	font-size:18px;

	color:#555555;

	_right:0px;

	_height:88px

}

.uploadbox dl{

	overflow:hidden;

	padding:20px;

	_padding-bottom:40px

}

.uploadbox dt{

	width:158px;

	float:left

}

.uploadbox dt .upload-botton{

	height:50px;

	background:url("http://icon.58pic.com/images/show/user/user-upload-upm.gif") no-repeat;

	border:none

}

.uploadbox dt a:hover .upload-botton{

	background:url("http://icon.58pic.com/images/show/user/user-upload-uph.gif") no-repeat

}

.uploadbox dt a:active .upload-botton{

	background:url("http://icon.58pic.com/images/show/user/user-upload-upc.gif") no-repeat

}

.uploadbox dd{

	float:left;

	width:600px;

	height:25px;

	line-height:25px;

	padding-left:20px;

	font-size:14px;

	color:#666

}

.uploadify{

	position:relative;

	margin-bottom:1em

}

#file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-upm.gif");

	background-position:center top;

	background-repeat:no-repeat;

	color:#FFF;

	font:bold 12px Arial,Helvetica,sans-serif;

	text-align:center;

	text-shadow:0 -1px 0 rgba(0,0,0,0.25);

	width:100%

}

.uploadify:hover #file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-uph.gif");

	background-position:center bottom

}

.uploadify:active #file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-upc.gif");

	background-position:center bottom

}

#p_file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-thume.png");

	background-position:center top;

	background-repeat:no-repeat;

	color:#FFF;

	font:bold 12px Arial,Helvetica,sans-serif;

	text-align:center;

	text-shadow:0 -1px 0 rgba(0,0,0,0.25);

	width:100%

}

.uploadify:hover #p_file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-thume-h.png");

	background-position:center bottom

}

.uploadify:active #p_file_upload-button{

	background:url("http://icon.58pic.com/images/show/user/user-upload-thume-c.png");

	background-position:center bottom

}

.uploadify-button.disabled{

	background-color:#D0D0D0;

	color:#808080

}

#pic_file_upload-queue{

	width:202px

}

.cancel{

	background:url("http://icon.58pic.com/images/show/user/user-colse.gif") no-repeat scroll center bottom;

	float:right;

	height:23px;

	padding-right:5px;

	padding-top:3px;

	width:21px

}

.cancel a{

	display:block;

	height:23px;

	width:21px;

	text-indent:-999999px

}

.flow-info .upload-text{

	height:20px;

	line-height:170%;

	overflow:hidden;

	padding-top:8px;

	width:200px;

	word-break:break-all;

	word-wrap:break-word

}

.uploadify-queue{

	width:860px;

	padding-top:10px;

	margin-bottom:1em

}

.uploadify-queue-item{

	background-color:#fff;

	border:1px solid #D7D7D7;

	font:11px Verdana,Geneva,sans-serif;

	margin-top:5px;

	max-width:860px;

	padding:10px

}

.uploadify-progress{

	height:15px;

	background-color:#DFDFDF;

	margin-top:10px;

	width:100%

}

.uploadify-progress-bar{

	background:url("http://icon.58pic.com/images/show/user/user-uploading.gif");

	height:15px;

	width:0px

}

.fileName{

	height:30px;

	line-height:30px

}

.uploadify-error{

	background-color:#FDE5DD !important

}

.uploadify-queue-item.completed{

	background-color:#E5E5E5

}

.del-fox{

height:29px;

	width:39px;

	position:absolute;

	top:0;

	right:0;

	background:url("http://icon.58pic.com/images/show/user/user-upload-colse.gif") no-repeat;

	display:none

}

.img-content-p{

	height:33px;

	width:150px;

	background:url("http://icon.58pic.com/images/show/user/user-upload-bg.png") repeat-x;

	position:absolute;

	top:40px;

	left:35px;

	border-radius:5px

}

.img-content,.review-mod{

	display:block;

	height:33px;

	line-height:33px;

	text-align:center;

	font-size:16px;

	color:#fff;

	font-family:"Î¢ÈíÑÅºÚ"

}

.upload-thumbnail,.mod-file{

	width:800px;

	position:fixed;

	_position:absolute;

	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));

	background-color:#fff;

	z-index:100;

	-moz-box-shadow:2px 2px 10px #666;

	-webkit-box-shadow:2px 2px 10px #666;

	box-shadow:2px 2px 10px #666;

	display:none;

	z-index:99

}

.mod-file{

	width:950px

}

.upload-thumbnail h2,.mod-file h2{

	border-bottom:1px solid #EBEBEB;

	height:72px;

	line-height:72px;

	font-size:24px;

	font-family:"Î¢ÈíÑÅºÚ";

	background-color:#FAFAFA;

	padding-left:30px

}

.upload-thumbnail h2 a,.mod-file h2 a{

	float:right;

	height:72px;

	width:100px;

	background:url("http://icon.58pic.com/images/vip/colse.gif") no-repeat

}

.upload-thumbnail h2 a:hover,.mod-file h2 a:hover{

	background:url("http://icon.58pic.com/images/vip/colse-hover.gif")

}

.upload-thumbnail h2 a:active,.mod-file h2 a:active{

	background:url("http://icon.58pic.com/images/vip/colse-click.gif")

}

.upload-thum{

	height:177px;

	width:178px;

	padding:20px 20px 40px

}

.upload-thum img{

	height:177px;

	width:178px

}

.upload-tishi{

	width:555px;

	padding-top:20px

}

.upload-up{

	display:block;

	width:134px;

	height:47px;

	background:url("http://icon.58pic.com/images/show/user/user-upload-up2m.gif") no-repeat

}

.upload-up:hover{

	background:url("http://icon.58pic.com/images/show/user/user-upload-up2h.gif") no-repeat

}

.upload-up:hover{

	background:url("http://icon.58pic.com/images/show/user/user-upload-up2c.gif") no-repeat

}

.fon-14{

	font-size:14px;

	color:#39A530;

	height:47px;

	line-height:47px

}

.fon-15{

	font-size:15px;

	color:#39A530;

	height:25px;

	line-height:25px

}

.uploadify{

	height:50px;

	width:505px;

	margin:0 auto

}

.upload-file{

	height:15px;

	background-color:#dfdfdf

}

.upload-cen{

	width:555px;

	margin-top:30px

}

.uploadify-thum{

	border:1px solid #D8D8D8;

	height:50px;

	width:505px;

	padding:10px 20px;

	margin-bottom:20px

}

#TB_overlayBG{

	background-color:#fff;

	position:absolute;

	z-index:80;

	left:0;

	top:0;

	;

	width:100%;

	height:100%;

	opacity:0.5;

	filter:alpha(opacity=50);

	-moz-opacity:0.5;

	display:none

}

.no-upimage{

	display:block;

	height:175px;

	width:202px;

	background:url("http://icon.58pic.com/images/show/user/no-upimage1.png") no-repeat center;

	margin:0 auto

}

.img-content-mod{

	height:33px;

	width:150px;

	background:url("http://icon.58pic.com/images/show/user/user-upload-bg.png") repeat-x;

	position:absolute;

	top:50px;

	left:35px;

	border-radius:5px

}

.left15{

	left:15px

}

.upload-mod{

	width:702px;

	z-index:100

}

.upload-mod ul{

	padding-top:20px;

	overflow:hidden;

	padding-left:20px;

	z-index:110

}

.upload-mod ul li{

	float:left;

	width:100%;

	position:relative;

	padding-bottom:20px

}

.upload-mod ul li label{

	float:left;

	height:30px;

	line-height:30px;

	width:80px;

	font-size:15px;

	padding-left:5px

}

.upload-mod ul li p{

	height:30px;

	line-height:30px;

	color:#35AC20

}

.text{

	width:576px;

	height:30px;

	font-size:15px

}

.upload-mod ul li textarea{

	width:576px;

	height:75px;

	font-size:15px

}

.submit{

	display:block;

	height:47px;

	width:134px;

	background:url("http://icon.58pic.com/images/show/user/user-examine2m.gif") no-repeat;

	margin:0 auto

}

.submit:hover{

	background:url("http://icon.58pic.com/images/show/user/user-examine2h.gif") no-repeat

}

.submit:active{

	background:url("http://icon.58pic.com/images/show/user/user-examine2c.gif") no-repeat

}

.upload-mod ul li .p-cent{

	width:150px;

	margin:0 auto;

	padding:0;

	text-align:center

}

.upload-mod ul li .dingwei{

	bottom:30px;

	color:#979696;

	font-size:14px;

	font-weight:bold;

	position:absolute;

	right:13px

}

.fold-toggle{

	float:right;

	height:30px;

	line-height:30px;

	width:50px;

	background:url("http://icon.58pic.com/images/show/more.png") no-repeat right center;

	cursor:pointer

}

#format-list .format-list-div input{

	margin:0;

	margin-top:7px;

	float:left

}

#format-list .format-list-div{

	height:30px;

	float:left;

	width:100px

}

#format-list .format-list-div label{

	float:left;

	width:auto;

	zoom:1;

	cursor:pointer

}

#format-list input{

	margin-left:15px

}

.posRel{

	position:relative

}

.js-click-select{

	width:170px;

	height:35px;

	position:absolute;

	left:-1px;

	top:-1px;

	cursor:pointer

}

.js-click-select1{

	width:210px;

	height:35px;

	position:absolute;

	left:-1px;

	top:-1px;

	cursor:pointer

}

.flow-info .reviewd{

	display:block;

	height:29px;

	width:113px;

	background:url("http://icon.58pic.com/images/show/user/user-revise.gif") no-repeat

}

.flow-info .reviewd:hover{

	background:url("http://icon.58pic.com/images/show/user/uesr-reviseh.gif") no-repeat

}

.flow-info .reviewd:active{

	background:url("http://icon.58pic.com/images/show/user/user-revisec.gif") no-repeat

}

.select,.select1{

	border:1px solid #ccc;

	float:left;

	height:30px;

	width:160px;

	line-height:30px;

	padding-left:10px;

	position:relative;

	background:url("http://icon.58pic.com/images/show/user/user-select-bg.png") repeat-x;

	font-size:14px

}

.select1{

	width:200px

}

.ml20{

	margin-left:20px

}

.select .select-click,.select1 .select-click1{

	display:block;

	width:10px;

	height:5px;

	position:absolute;

	top:13px;

	right:10px;

	background:url("http://icon.58pic.com/images/show/user/select-m.png") no-repeat

}

.select-opt,.select-opt1{

	border:1px solid #ccc;

	width:170px;

	overflow:hidden;

	position:absolute;

	top:30px;

	left:-1px;

	z-index:1000;

	background-color:#fff;

	display:none

}

.select-opt1{

	width:210px

}

.select-opt ul,.select-opt1 ul{

	overflow:hidden;

	padding:0 0 20px 0

}

.select-opt ul li,.select-opt1 ul li{

	width:160px;

	margin:1px 3px;

	height:30px;

	padding:0

}

.select-opt1 ul li{

	width:200px

}

.select-opt ul li a,.select-opt1 ul li a{

	display:block;

	width:140px;

	padding:5px 10px;

	height:20px;

	line-height:20px;

	text-decoration:none

}

.select-opt1 ul li a{

	width:180px

}

.select-opt ul li a:hover,.select-opt1 ul li a:hover{

	border:1px solid #ccc;

	background-color:#efefef;

	width:138px;

	height:18px

}

.select-opt1 ul li a:hover{

	width:180px

}

#thumb-box{

	width:216px;

	min-height:120px;

	_height:expression(document.body.clientHeight>120 ? "auto":"120px")

}

#thumb-box img{

	margin:7px

}

#format-list{

	float:left;

	width:576px;

	font-size:15px

}

#format-more{

	line-height:250%

}

.entry-top,.entry-bottom{

	margin-left:15px;

	margin-top:10px

}

.entry-bottom{

	padding-bottom:70px

}

.entry-table tr td{

	height:121px;

	width:244px;

	padding:0;

	position:relative;

	border:1px solid #DADADA

}

.entry-table tr td .entry-a,.entry-table tr td .entry-a1{

	display:block;

	height:120px;

	line-height:120px;

	padding-left:40px;

	font-size:18px;

	font-family:"Î¢ÈíÑÅºÚ";

	color:#9B9B9B;

	text-decoration:none;

	z-index:100

}

.entry-a1{

	cursor:default

}

.entry-table tr td .entry-a img{

	vertical-align:middle;

	padding-right:10px;

	z-index:-1000

}

.entry-table tr td .entry-text{

	height:36px;

	width:242px;

	z-index:10000;

	background:url("http://icon.58pic.com/images/show/user/entry-bg2.png");

	line-height:36px;

	text-align:center;

	position:absolute;

	display:none;

	font-size:16px;

	color:#42B12E;

	font-family:"Î¢ÈíÑÅºÚ";

	margin:0 auto;

	margin-top:3px

}

.upload-submit-tip{

	font-size:15px;

	line-height:30px;

	color:#ff0000;

	padding-left:0px;

	float:right

}

.submit-item{

	float:left;

	font-size:15px;

	width:576px

}

.entry-top .entry-table thead tr td{

	border:none;

	height:100px;

	line-height:100px;

	font-size:40px;

	color:#30aa1a;

	font-family:"Î¢ÈíÑÅºÚ"

}

.sns_set{

	color:#666666;

	margin-left:50px;

	margin-top:40px

}

.sns_dl_main{

	margin-bottom:30px;

	height:70px

}

.sns_dl_main .tld{

	color:#666666;

	font-size:20px;

	padding-bottom:15px

}

.sns_dl_main label{

	font-size:16px;

	cursor:pointer

}

.sns_dl_main label span{

	color:red

}

a.spRa,.notice{

	float:left;

	display:inline-block;

	margin-left:20px

}

a.spRa:hover{

	text-decoration:none

}

.notice{

	color:red;

	font-size:14px

}

#bj_bac{

	position:absolute

}

#bj_bac{

	background-color:#e5e5e5;

	left:0;

	_right:-20%;

	_padding-right:34%;

	top:0;

	opacity:0.7;

	filter:alpha(opacity=70);

	-moz-opacity:0.7;

	-webkit_opacity:0.7;

	z-index:999999999;

	width:100%;

	_width ï¼?150%ï¼? height:100%

}

.sponsor{

	font-family:"Î¢ÈíÑÅºÚ";

	width:604px;

	height:241px;

	background:#fff;

	position:fixed;

	z-index:9999999999;

	top:10%;

	left:45%;

	overflow:hidden;

	_position:absolute;

	_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||604)-(parseInt(this.currentStyle.marginRight,10)||0));

	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||100)-(parseInt(this.currentStyle.marginBottom,10)||0)))

}

.sponsor .nt_top{

	background:#f2f2f2;

	width:604px;

	height:50px;

	line-height:50px;

	color:#666666;

	font-size:20px;

	text-indent:15px;

	overflow:hidden;

	position:relative

}

.sponsor .nt_top span{

	position:absolute;

	top:12px;

	right:12px;

	width:24px;

	height:25px;

	background:url("http://icon.58pic.com/images/notice/close.png") no-repeat;

	cursor:pointer

}

.nt_main{

	text-align:center;

	clear:both

}

.nt_main p{

	font-size:20px;

	padding-top:50px;

	padding-bottom:35px;

	text-align:center

}

.tosponsor{

	display:block;

	width:210px;

	height:50px;

	background:url("http://icon.58pic.com/images/notice/vip_btn.png") no-repeat;

	margin:0 auto

}

#user-home-menu{
	overflow:hidden !important;
}
.sc_cate{padding-top:20px;padding-left:30px;font-family:'Î¢ÈíÑÅºÚ';}
.cate_div{overflow:hidden;}
.sucaiclass{overflow:hidden;}
.sucaiclass div{float:left;}
.scs_left{width:75px;color:#999999;font-size:14px;text-align:center;padding-top:8px;}
.scs_right{width:885px;line-height:30px;word-wrap:break-word;overflow:hidden;padding-left:3px;}
.scs_right .class_it{font-size:14px;font-family:'Î¢ÈíÑÅºÚ';display:inline-block;margin-right:20px;}
.class_it:hover{color:#49B929;text-decoration:none;}
.class_it_c{color:#49B929;}